In [1]:
import pandas as pd
import numpy as np
import datetime as dt
pd.set_option("display.max_columns",None)
pd.set_option("display.float_format",lambda x: '%.5f' % x)

df_ = pd.read_excel("online_retail_II.xlsx",sheet_name="Year 2009-2010")
df_.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95000,13085.00000,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75000,13085.00000,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75000,13085.00000,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10000,13085.00000,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25000,13085.00000,United Kingdom

In [15]:
df = df_.copy()
df.dropna(inplace=True)

In [16]:
df.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [17]:
df[df["Invoice"].astype(str).str.contains("C")]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95000,16321.00000,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65000,16321.00000,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25000,16321.00000,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10000,16321.00000,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95000,16321.00000,Australia
...,...,...,...,...,...,...,...,...
524695,C538123,22956,36 FOIL HEART CAKE CASES,-2,2010-12-09 15:41:00,2.10000,12605.00000,Germany
524696,C538124,M,Manual,-4,2010-12-09 15:43:00,0.50000,15329.00000,United Kingdom
524697,C538124,22699,ROSES REGENCY TEACUP AND SAUCER,-1,2010-12-09 15:43:00,2.95000,15329.00000,United Kingdom
524698,C538124,22423,REGENCY CAKESTAND 3 TIER,-1,2010-12-09 15:43:00,12.75000,15329.00000,United Kingdom
525282,C538164,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-12-09 17:32:00,1.95000,14031.00000,United Kingdom

In [18]:
df[df["Invoice"].str.contains("C",na=False)]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95000,16321.00000,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65000,16321.00000,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25000,16321.00000,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10000,16321.00000,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95000,16321.00000,Australia
...,...,...,...,...,...,...,...,...
524695,C538123,22956,36 FOIL HEART CAKE CASES,-2,2010-12-09 15:41:00,2.10000,12605.00000,Germany
524696,C538124,M,Manual,-4,2010-12-09 15:43:00,0.50000,15329.00000,United Kingdom
524697,C538124,22699,ROSES REGENCY TEACUP AND SAUCER,-1,2010-12-09 15:43:00,2.95000,15329.00000,United Kingdom
524698,C538124,22423,REGENCY CAKESTAND 3 TIER,-1,2010-12-09 15:43:00,12.75000,15329.00000,United Kingdom
525282,C538164,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-12-09 17:32:00,1.95000,14031.00000,United Kingdom

In [19]:
df = df[~df["Invoice"].str.contains("C",na=False)]

In [20]:
df.describe()

          Quantity                    InvoiceDate        Price  Customer ID
count 407695.00000                         407695 407695.00000 407695.00000
mean      13.58669  2010-07-01 10:10:10.782177792      3.29419  15368.50411
min        1.00000            2009-12-01 07:45:00      0.00000  12346.00000
25%        2.00000            2010-03-26 14:01:00      1.25000  13997.00000
50%        5.00000            2010-07-09 15:46:00      1.95000  15321.00000
75%       12.00000            2010-10-14 17:09:00      3.75000  16812.00000
max    19152.00000            2010-12-09 20:01:00  10953.50000  18287.00000
std       96.84223                            NaN     34.75666   1679.79570

In [ ]:
df = df[(df["Quantity"]>0)]

In [21]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95000,13085.00000,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75000,13085.00000,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75000,13085.00000,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10000,13085.00000,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25000,13085.00000,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95000,17530.00000,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75000,17530.00000,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75000,17530.00000,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75000,17530.00000,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95000,17530.00000,United Kingdom

In [22]:
df.loc[:,"total_price"] = df["Quantity"] * df["Price"]

In [27]:
cltv_c=df.groupby("Customer ID").agg({"Invoice":lambda x:x.nunique(),
                               "Quantity":lambda x:x.sum(),
                               "total_price":lambda x:x.sum()})
cltv_c.index = cltv_c.index.astype(int)

In [30]:
cltv_c.columns = ["total_transaction","total_quantity","total_price"]
cltv_c

             total_transaction  total_quantity  total_price
Customer ID
12346                       11              70    372.86000
12347                        2             828   1323.32000
12348                        1             373    222.16000
12349                        3             993   2671.14000
12351                        1             261    300.93000
...                        ...             ...          ...
18283                        6             336    641.77000
18284                        1             494    461.68000
18285                        1             145    427.00000
18286                        2             608   1296.43000
18287                        4            1427   2345.71000

[4314 rows x 3 columns]

In [31]:
cltv_c["average_order_value"] = cltv_c["total_price"]  / cltv_c["total_transaction"]

In [32]:
cltv_c.shape[0]

4314

In [33]:
cltv_c["purchase_frequency"] = cltv_c["total_transaction"] / cltv_c.shape[0]

In [38]:
repeat_rate=cltv_c[cltv_c["total_transaction"]>1].shape[0] / cltv_c.shape[0]
churn_rate = 1-repeat_rate

In [39]:
cltv_c["profit_margin"] = cltv_c["total_price"] * 0.10

In [40]:
cltv_c

,total_transaction,total_quantity,total_price,average_order_value,purchase_frequency,profit_margin
Customer ID,,,,,,
12346,11,70,372.86000,33.89636,0.00255,37.28600
12347,2,828,1323.32000,661.66000,0.00046,132.33200
12348,1,373,222.16000,222.16000,0.00023,22.21600
12349,3,993,2671.14000,890.38000,0.00070,267.11400
12351,1,261,300.93000,300.93000,0.00023,30.09300
...,...,...,...,...,...,...
18283,6,336,641.77000,106.96167,0.00139,64.17700
18284,1,494,461.68000,461.68000,0.00023,46.16800
18285,1,145,427.00000,427.00000,0.00023,42.70000
18286,2,608,1296.43000,648.21500,0.00046,129.64300
18287,4,1427,2345.71000,586.42750,0.00093,234.57100

In [41]:
cltv_c["customer_value"] = cltv_c["average_order_value"] * cltv_c["purchase_frequency"]

In [42]:
cltv_c["cltv"] = (cltv_c["customer_value"] / churn_rate) * cltv_c["profit_margin"]
cltv_c

,total_transaction,total_quantity,total_price,average_order_value,purchase_frequency,profit_margin,customer_value,cltv
Customer ID,,,,,,,,
12346,11,70,372.86000,33.89636,0.00255,37.28600,0.08643,9.78357
12347,2,828,1323.32000,661.66000,0.00046,132.33200,0.30675,123.23546
12348,1,373,222.16000,222.16000,0.00023,22.21600,0.05150,3.47326
12349,3,993,2671.14000,890.38000,0.00070,267.11400,0.61918,502.11041
12351,1,261,300.93000,300.93000,0.00023,30.09300,0.06976,6.37290
...,...,...,...,...,...,...,...,...
18283,6,336,641.77000,106.96167,0.00139,64.17700,0.14876,28.98443
18284,1,494,461.68000,461.68000,0.00023,46.16800,0.10702,14.99989
18285,1,145,427.00000,427.00000,0.00023,42.70000,0.09898,12.83103
18286,2,608,1296.43000,648.21500,0.00046,129.64300,0.30052,118.27803
18287,4,1427,2345.71000,586.42750,0.00093,234.57100,0.54374,387.21713

In [44]:
cltv_c["segment"] = pd.qcut(cltv_c["cltv"],5,labels=["D","C","B","A","S"])
cltv_c.sort_values(by="cltv",ascending=False)

,total_transaction,total_quantity,total_price,average_order_value,purchase_frequency,profit_margin,customer_value,cltv,segment
Customer ID,,,,,,,,,
18102,89,124216,349164.35000,3923.19494,0.02063,34916.43500,80.93749,8579573.77276,S
14646,78,170342,248396.50000,3184.57051,0.01808,24839.65000,57.57916,4342070.45829,S
14156,102,108107,196566.74000,1927.12490,0.02364,19656.67400,45.56484,2719105.08615,S
14911,205,69722,152147.57000,742.18327,0.04752,15214.75700,35.26833,1629055.80978,S
13694,94,125893,131443.19000,1398.33181,0.02179,13144.31900,30.46898,1215855.89003,S
...,...,...,...,...,...,...,...,...,...
15913,1,3,6.30000,6.30000,0.00023,0.63000,0.00146,0.00279,D
13788,1,1,3.75000,3.75000,0.00023,0.37500,0.00087,0.00099,D
14095,1,1,2.95000,2.95000,0.00023,0.29500,0.00068,0.00061,D
14103,1,5,0.00000,0.00000,0.00023,0.00000,0.00000,0.00000,D
14827,1,5,0.00000,0.00000,0.00023,0.00000,0.00000,0.00000,D