In [5]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity 
pd.set_option("display.max_columns",None)
df=pd.read_csv("movies_metadata.csv",low_memory=False)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [6]:
df["overview"].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [7]:
df["overview"].isnull().sum()

954

In [10]:
tfidf = TfidfVectorizer(stop_words="english")
df["overview"] = df["overview"].fillna("")
df["overview"].isnull().sum()

0

In [11]:
tfidf_matrix = tfidf.fit_transform(df["overview"])
tfidf_matrix.shape

(45466, 75827)

In [15]:
tfidf.get_feature_names_out()

array(['00', '000', '000km', ..., '첫사랑', 'ﬁrst', 'ﬁve'], dtype=object)

In [17]:
tfidf_matrix.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [20]:
cosine_sim = cosine_similarity(tfidf_matrix,tfidf_matrix)

In [22]:
cosine_sim[1] # 1. indexteki filmin diğer tüm filmlerle benzerlik skorları

array([0.01504121, 1.        , 0.04681953, ..., 0.        , 0.02198641,
       0.00929411])

In [26]:
indices = pd.Series(df.index,index=df["title"])
indices

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45461
Century of Birthing            45462
Betrayal                       45463
Satan Triumphant               45464
Queerama                       45465
Length: 45466, dtype: int64

In [27]:
indices.index.value_counts()

title
Cinderella              11
Hamlet                   9
Alice in Wonderland      9
Beauty and the Beast     8
Les Misérables           8
                        ..
Cluny Brown              1
Babies                   1
The Green Room           1
Captain Conan            1
Queerama                 1
Name: count, Length: 42277, dtype: int64

In [31]:
indices[indices.index.duplicated(keep="last")].index.value_counts()

title
Cinderella               10
Hamlet                    8
Alice in Wonderland       8
Beauty and the Beast      7
Les Misérables            7
                         ..
The Kingdom               1
Strayed                   1
Mickey                    1
Envy                      1
A Long and Happy Life     1
Name: count, Length: 2330, dtype: int64

In [32]:
indices = indices[~indices.index.duplicated(keep="last")]
indices.index.value_counts()

title
Toy Story                   1
Russell Madness             1
Attack of the Sabretooth    1
The Millennials             1
X/Y                         1
                           ..
Wife! Be Like a Rose!       1
Adelheid                    1
PEEPLI [Live]               1
The Moth                    1
Queerama                    1
Name: count, Length: 42277, dtype: int64

In [35]:
indices["Cinderella"]

45406

In [36]:
cosine_sim[45406]

array([0.        , 0.        , 0.        , ..., 0.        , 0.00792129,
       0.        ])

In [39]:
df.loc[df["title"].isin(["Cinderella"]),"overview"]

993      Cinderella has faith her dreams of a better li...
13076    Updated version of the classic Rodgers and Ham...
23507    Based on Charles Perrault's fairy tale: Cinder...
23518    Cinderella, the beautiful and kind-hearted rag...
28391    Once upon a time in post-war Rome: 13-year old...
28664    When her father unexpectedly passes away, youn...
34254    Based on a classic fairytale "Cinderella" bril...
35593    The first of three TV-versions of the classic ...
35595    Cinderella (named Zezolla) and her family live...
41074    A fairy godmother magically turns Cinderella's...
45406    Masha Krapivina - is yet beautiful, and not th...
Name: overview, dtype: object

In [38]:
sim_scores = pd.DataFrame(cosine_sim[45406],columns=["score"])
sim_scores

          score
0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.036550
...         ...
45461  0.000000
45462  0.000000
45463  0.000000
45464  0.007921
45465  0.000000

[45466 rows x 1 columns]

In [61]:
sim_scores["score"].iloc[41074]

0.01489778056583799

In [47]:
df.iloc[sim_scores["score"].nlargest(10).index]["title"]

45406          Cinderella
33895            Freetown
34689    Come Tomorrow...
14606            Piter FM
15749           Comrade X
43813            Two Days
9555       Kamikaze Girls
24588          Chatterbox
41859       Free Floating
10604       Cuban Rafters
Name: title, dtype: object

In [62]:
indices["Sherlock Holmes"]

35116

In [64]:
movie_index = indices["Sherlock Holmes"]
similarity_scores = pd.DataFrame(cosine_sim[movie_index],columns=["score"])
movie_indices=list(similarity_scores.sort_values("score",ascending=False)[1:11].index)

In [66]:
df.iloc[movie_indices]["title"]

34737    Приключения Шерлока Холмса и доктора Ватсона: ...
14821                                    The Royal Scandal
34750    The Adventures of Sherlock Holmes and Doctor W...
9743                           The Seven-Per-Cent Solution
4434                                        Without a Clue
29706                       How Sherlock Changed the World
18258                   Sherlock Holmes: A Game of Shadows
24665     The Sign of Four: Sherlock Holmes' Greatest Case
6432                   The Private Life of Sherlock Holmes
29154                          Sherlock Holmes in New York
Name: title, dtype: object

In [67]:
def content_based_recommender(title,cosine_sim,df):
    #indexleri oluşturma
    indices = pd.Series(df.index,index =df["title"])
    indices = indices[~indices.index.duplicated(keep="last")]
    #title indexini yakalama
    movie_index = indices[title]
    #title a göre benzerlik skorları oluştur
    similarity_scores = pd.DataFrame(cosine_sim[movie_index],columns=["score"])
    movie_indices = list(similarity_scores.sort_values(by="score",ascending=False)[1:11].index)
    return df["title"].iloc[movie_indices]

content_based_recommender("Sherlock Holmes",cosine_sim,df)

34737    Приключения Шерлока Холмса и доктора Ватсона: ...
14821                                    The Royal Scandal
34750    The Adventures of Sherlock Holmes and Doctor W...
9743                           The Seven-Per-Cent Solution
4434                                        Without a Clue
29706                       How Sherlock Changed the World
18258                   Sherlock Holmes: A Game of Shadows
24665     The Sign of Four: Sherlock Holmes' Greatest Case
6432                   The Private Life of Sherlock Holmes
29154                          Sherlock Holmes in New York
Name: title, dtype: object

In [69]:
content_based_recommender("Cinderella",cosine_sim,df)

33895            Freetown
34689    Come Tomorrow...
14606            Piter FM
15749           Comrade X
43813            Two Days
9555       Kamikaze Girls
24588          Chatterbox
41859       Free Floating
10604       Cuban Rafters
43069     Leave to Remain
Name: title, dtype: object

In [70]:
content_based_recommender("Hackers",cosine_sim,df)

33854                         Algorithm
32252                 The Invisible Boy
22134                         Cyberjack
1931     The Computer Wore Tennis Shoes
43926                           Alchemy
1008                  The Lawnmower Man
41036                A Kiss at Midnight
6827                           WarGames
45315                 Mr. Blot in Space
43881                Not Quite Human II
Name: title, dtype: object

In [71]:
def calculate_cosine_sim(df):
    tfidf = TfidfVectorizer(stop_words="english")
    df["overview"] = df["overview"].fillna("")
    tfidf_matrix = tfidf.fit_transform(df["overview"])
    cosine_sim = cosine_similarity(tfidf_matrix,tfidf_matrix)
    return cosine_sim

In [72]:
cosine_sim = calculate_cosine_sim(df)

In [73]:
content_based_recommender("The Dark Knight Rises",cosine_sim,df)

12481                                      The Dark Knight
150                                         Batman Forever
1328                                        Batman Returns
15511                           Batman: Under the Red Hood
585                                                 Batman
21194    Batman Unmasked: The Psychology of the Dark Kn...
9230                    Batman Beyond: Return of the Joker
18035                                     Batman: Year One
19792              Batman: The Dark Knight Returns, Part 1
3095                          Batman: Mask of the Phantasm
Name: title, dtype: object