In [2]:
import pandas as pd
def create_user_movie_df():
    movie = pd.read_csv("movies.csv")
    rating = pd.read_csv("ratings.csv")
    df = pd.merge(movie, rating,on="movieId",how="left")
    movie_count = df["title"].value_counts()
    common_movies = list(movie_count[movie_count>1000].index)
    common_movies_df = df.loc[df["title"].isin(common_movies)]
    common_users = common_movies_df["userId"].value_counts()
    common_users = list(common_users[common_users>250].index)
    common_movies_df = common_movies_df.loc[common_movies_df["userId"].isin(common_users)]
    user_movie_df = common_movies_df.pivot_table(index="userId",columns="title",values="rating")
    return user_movie_df

user_movie_df=create_user_movie_df()
user_movie_df

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
11.0,NaN,NaN,5.0,NaN,5.0,4.5,3.5,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
54.0,3.0,NaN,NaN,4.0,NaN,NaN,3.0,NaN,NaN,4.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138457.0,3.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138467.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138472.0,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
138474.0,4.0,NaN,NaN,NaN,4.0,NaN,4.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138493.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.5,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
float(pd.Series(user_movie_df.index).sample(1,random_state=45).values)

47865.0

In [4]:
random_user = float(pd.Series(user_movie_df.index).sample(1,random_state=45).values)

In [5]:
user_movie_df.loc[[random_user]].dropna(axis=1)

title,10 Things I Hate About You (1999),101 Dalmatians (1996),A.I. Artificial Intelligence (2001),About a Boy (2002),Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Adaptation (2002),Addams Family Values (1993),"Addams Family, The (1991)","Adventures of Priscilla, Queen of the Desert, The (1994)",...,"Wizard of Oz, The (1939)",Wonder Boys (2000),Working Girl (1988),"World Is Not Enough, The (1999)",X-Men (2000),X2: X-Men United (2003),Yellow Submarine (1968),You've Got Mail (1998),Young Frankenstein (1974),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
47865.0,3.5,3.5,1.0,5.0,2.5,1.5,2.5,3.5,3.5,3.0,...,4.0,2.5,3.5,2.0,2.5,2.5,4.0,1.5,4.0,3.5

In [6]:
user_movie_df.loc[[11.0]].dropna(axis=1)

title,*batteries not included (1987),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),102 Dalmatians (2000),13 Going on 30 (2004),1408 (2007),16 Blocks (2006),"2 Fast 2 Furious (Fast and the Furious 2, The) (2003)",21 Grams (2003),...,Watchmen (2009),Waterworld (1995),We Were Soldiers (2002),Weird Science (1985),Willy Wonka & the Chocolate Factory (1971),X-Men (2000),X-Men Origins: Wolverine (2009),X-Men: The Last Stand (2006),X2: X-Men United (2003),eXistenZ (1999)
userId,,,,,,,,,,,,,,,,,,,,,
11.0,5.0,5.0,4.5,3.5,3.0,5.0,4.5,2.5,3.0,4.5,...,5.0,4.5,4.5,5.0,5.0,5.0,5.0,5.0,5.0,5.0

In [7]:
user_movie_df.loc[random_user].dropna()

title
10 Things I Hate About You (1999)      3.5
101 Dalmatians (1996)                  3.5
A.I. Artificial Intelligence (2001)    1.0
About a Boy (2002)                     5.0
Ace Ventura: Pet Detective (1994)      2.5
                                      ...
X2: X-Men United (2003)                2.5
Yellow Submarine (1968)                4.0
You've Got Mail (1998)                 1.5
Young Frankenstein (1974)              4.0
¡Three Amigos! (1986)                  3.5
Name: 47865.0, Length: 475, dtype: float64

In [8]:
movies_watched=list(user_movie_df.loc[random_user].dropna().index)

In [9]:
len(movies_watched)

475

In [10]:
user_movie_df.loc[user_movie_df.index ==11].dropna(axis=1)

title,*batteries not included (1987),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),102 Dalmatians (2000),13 Going on 30 (2004),1408 (2007),16 Blocks (2006),"2 Fast 2 Furious (Fast and the Furious 2, The) (2003)",21 Grams (2003),...,Watchmen (2009),Waterworld (1995),We Were Soldiers (2002),Weird Science (1985),Willy Wonka & the Chocolate Factory (1971),X-Men (2000),X-Men Origins: Wolverine (2009),X-Men: The Last Stand (2006),X2: X-Men United (2003),eXistenZ (1999)
userId,,,,,,,,,,,,,,,,,,,,,
11.0,5.0,5.0,4.5,3.5,3.0,5.0,4.5,2.5,3.0,4.5,...,5.0,4.5,4.5,5.0,5.0,5.0,5.0,5.0,5.0,5.0

In [11]:
user_movie_df.loc[user_movie_df.index ==11].dropna(axis=1).columns.tolist()

['*batteries not included (1987)',
 '10 Things I Hate About You (1999)',
 '10,000 BC (2008)',
 '101 Dalmatians (1996)',
 '102 Dalmatians (2000)',
 '13 Going on 30 (2004)',
 '1408 (2007)',
 '16 Blocks (2006)',
 '2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',
 '21 Grams (2003)',
 '27 Dresses (2008)',
 '28 Days Later (2002)',
 '28 Weeks Later (2007)',
 '30 Days of Night (2007)',
 '300 (2007)',
 '40 Days and 40 Nights (2002)',
 '40-Year-Old Virgin, The (2005)',
 '50 First Dates (2004)',
 'A.I. Artificial Intelligence (2001)',
 'AVP: Alien vs. Predator (2004)',
 'AVPR: Aliens vs. Predator - Requiem (2007)',
 'About a Boy (2002)',
 'Ace Ventura: Pet Detective (1994)',
 'Ace Ventura: When Nature Calls (1995)',
 'Addams Family Values (1993)',
 'Addams Family, The (1991)',
 'Adventures of Pinocchio, The (1996)',
 'Aeon Flux (2005)',
 'Akira (1988)',
 'Aladdin (1992)',
 'Aladdin and the King of Thieves (1996)',
 'Alexander (2004)',
 'Alice in Wonderland (1951)',
 'Alien (1979)',
 'Alien: Resurrection (1997)',
 'Aliens (1986)',
 'Alien³ (a.k.a. Alien 3) (1992)',
 'All About My Mother (Todo sobre mi madre) (1999)',
 'All Dogs Go to Heaven (1989)',
 'All Dogs Go to Heaven 2 (1996)',
 'Almost Famous (2000)',
 'Along Came Polly (2004)',
 'Amadeus (1984)',
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",
 'American Beauty (1999)',
 'American Pie (1999)',
 'American Pie 2 (2001)',
 'American Psycho (2000)',
 'American Wedding (American Pie 3) (2003)',
 'American Werewolf in London, An (1981)',
 'American Werewolf in Paris, An (1997)',
 "Amores Perros (Love's a Bitch) (2000)",
 'Anastasia (1997)',
 'Anchorman: The Legend of Ron Burgundy (2004)',
 'And Your Mother Too (Y tu mamá también) (2001)',
 'Anger Management (2003)',
 'Animal, The (2001)',
 'Animatrix, The (2003)',
 'Antitrust (2001)',
 'Antz (1998)',
 'Apocalypto (2006)',
 'Apollo 13 (1995)',
 'Aristocats, The (1970)',
 'Aristocrats, The (2005)',
 'Armageddon (1998)',
 'Army of Darkness (1993)',
 "Astronaut's Wife, The (1999)",
 'Atlantis: The Lost Empire (2001)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 'Avengers, The (1998)',
 'Aviator, The (2004)',
 'Bachelor Party (1984)',
 'Back to the Future (1985)',
 'Back to the Future Part II (1989)',
 'Back to the Future Part III (1990)',
 'Bad Boys (1995)',
 'Bad Boys II (2003)',
 'Bad Education (La mala educación) (2004)',
 'Bad Taste (1987)',
 'Bambi (1942)',
 'Batman (1989)',
 'Batman Begins (2005)',
 'Batman Forever (1995)',
 'Batman: Mask of the Phantasm (1993)',
 'Battle Royale (Batoru rowaiaru) (2000)',
 'Beautiful Mind, A (2001)',
 'Beautiful Thing (1996)',
 'Beauty and the Beast (1991)',
 "Bill & Ted's Excellent Adventure (1989)",
 'Bio-Dome (1996)',
 'Blade Runner (1982)',
 'Blind Side, The  (2009)',
 'Bolt (2008)',
 'Bowling for Columbine (2002)',
 'Boy in the Striped Pajamas, The (Boy in the Striped Pyjamas, The) (2008)',
 'Braveheart (1995)',
 "Bridget Jones's Diary (2001)",
 'Brothers Grimm, The (2005)',
 "Bug's Life, A (1998)",
 'Bulletproof Monk (2003)',
 'Cable Guy, The (1996)',
 'Casper (1995)',
 'Cell, The (2000)',
 'Charlie and the Chocolate Factory (2005)',
 "Charlie's Angels: Full Throttle (2003)",
 'Children of Men (2006)',
 'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)',
 'Chronicles of Riddick, The (2004)',
 'Cinderella Man (2005)',
 'City of God (Cidade de Deus) (2002)',
 'Cloverfield (2008)',
 'Clueless (1995)',
 'Congo (1995)',
 'Contact (1997)',
 'Core, The (2003)',
 'Cowboy Bebop: The Movie (Cowboy Bebop: Tengoku no Tobira) (2001)',
 'Crash (2004)',
 'Cube (1997)',
 'D2: The Mighty Ducks (1994)',
 'Dark City (1998)',
 'Dark Crystal, The (1982)',
 'Dark Knight, The (2008)',
 'Day After Tomorrow, The (2004)',
 'Day of the Dead (1985)',
 'Day the Earth Stood Still, The (1951)',
 'Day the Earth Stood Still, The (2008)',
 'Dazed and Confused (1993)',
 'Deep Blue Sea (1999)',
 'Deep Impact (1998)',
 'Demolition Man (1993)',
 'Departed, The (2006)',
 'Die Hard (1988)',
 'Die Hard: With a Vengeance (1995)',
 'District 13 (Banlieue 13) (2004)',
 'Donnie Darko (2001)',
 'Doom (2005)',
 'Doors, The (1991)',
 "Dracula (Bram Stoker's Dracula) (1992)",
 'Dragonheart (1996)',
 'Dreamcatcher (2003)',
 "Dude, Where's My Car? (2000)",
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Dumbo (1941)',
 'Déjà Vu (Deja Vu) (2006)',
 'E.T. the Extra-Terrestrial (1982)',
 'Edward Scissorhands (1990)',
 'Elephant Man, The (1980)',
 'End of Days (1999)',
 'Enemy Mine (1985)',
 'Equilibrium (2002)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 'Evil Dead, The (1981)',
 'Evolution (2001)',
 'Faculty, The (1998)',
 'Fahrenheit 9/11 (2004)',
 'Fantasia 2000 (1999)',
 'Fantastic Four (2005)',
 'Fantastic Four: Rise of the Silver Surfer (2007)',
 'Fargo (1996)',
 'Fifth Element, The (1997)',
 'Fight Club (1999)',
 'Final Fantasy VII: Advent Children (2004)',
 'Final Fantasy: The Spirits Within (2001)',
 'Finding Nemo (2003)',
 'Fly, The (1986)',
 'Forever Young (1992)',
 'Forgotten, The (2004)',
 'Forrest Gump (1994)',
 'Friday the 13th Part IV: The Final Chapter (1984)',
 "Futurama: Bender's Big Score (2007)",
 'Futurama: The Beast with a Billion Backs (2008)',
 'Gattaca (1997)',
 "General's Daughter, The (1999)",
 'Ghost (1990)',
 'Ghost in the Shell (Kôkaku kidôtai) (1995)',
 'Ghost in the Shell 2: Innocence (a.k.a. Innocence) (Inosensu) (2004)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Ghostbusters II (1989)',
 'Gladiator (2000)',
 'Godfather, The (1972)',
 'Godfather: Part III, The (1990)',
 'Godzilla (1998)',
 'Godzilla 2000 (Gojira ni-sen mireniamu) (1999)',
 'GoldenEye (1995)',
 'Goodfellas (1990)',
 'Gran Torino (2008)',
 'Gremlins 2: The New Batch (1990)',
 'Grindhouse (2007)',
 'Grizzly Man (2005)',
 'Hackers (1995)',
 'Halloween (1978)',
 'Halloween H20: 20 Years Later (Halloween 7: The Revenge of Laurie Strode) (1998)',
 'Happening, The (2008)',
 'Harry Potter and the Chamber of Secrets (2002)',
 'Harry Potter and the Order of the Phoenix (2007)',
 'Harry Potter and the Prisoner of Azkaban (2004)',
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
 'Heavy Metal (1981)',
 'Hellboy II: The Golden Army (2008)',
 'Hellraiser: Bloodline (1996)',
 'Highlander II: The Quickening (1991)',
 'Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)',
 'Hollow Man (2000)',
 'Home Alone (1990)',
 'How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)',
 "Howl's Moving Castle (Hauru no ugoku shiro) (2004)",
 'Hulk (2003)',
 'I Am Legend (2007)',
 'I, Robot (2004)',
 'Incredible Hulk, The (2008)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Indiana Jones and the Kingdom of the Crystal Skull (2008)',
 'Indiana Jones and the Last Crusade (1989)',
 'Inspector Gadget (1999)',
 'Interview with the Vampire: The Vampire Chronicles (1994)',
 'Ip Man (2008)',
 'Iron Giant, The (1999)',
 'Iron Man (2008)',
 'Island of Dr. Moreau, The (1996)',
 'Island, The (2005)',
 'Italian Job, The (2003)',
 'Jaws (1975)',
 'Johnny Mnemonic (1995)',
 'Judge Dredd (1995)',
 'Jumper (2008)',
 'Junior (1994)',
 'Jurassic Park (1993)',
 'Jurassic Park III (2001)',
 'Karate Kid, The (1984)',
 'Kill Bill: Vol. 1 (2003)',
 'King Arthur (2004)',
 'King Kong (2005)',
 "Knight's Tale, A (2001)",
 'Knowing (2009)',
 'Kung Fu Hustle (Gong fu) (2004)',
 'Last King of Scotland, The (2006)',
 'League of Extraordinary Gentlemen, The (a.k.a. LXG) (2003)',
 'Legend (1985)',
 'Licence to Kill (1989)',
 'Lilo & Stitch (2002)',
 'Lion King, The (1994)',
 'Little Miss Sunshine (2006)',
 'Lord of the Rings: The Fellowship of the Ring, The (2001)',
 'Lord of the Rings: The Return of the King, The (2003)',
 'Lord of the Rings: The Two Towers, The (2002)',
 'Lost World: Jurassic Park, The (1997)',
 'Lost in Translation (2003)',
 'Mad Max (1979)',
 'Mad Max Beyond Thunderdome (1985)',
 'Mars Attacks! (1996)',
 'Mary Poppins (1964)',
 'Mask, The (1994)',
 'Masters of the Universe (1987)',
 'Matrix Reloaded, The (2003)',
 'Matrix Revolutions, The (2003)',
 'Matrix, The (1999)',
 'Me, Myself & Irene (2000)',
 'Memento (2000)',
 'Memoirs of a Geisha (2005)',
 'Men in Black (a.k.a. MIB) (1997)',
 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)',
 'Men of Honor (2000)',
 'Metro (1997)',
 'Million Dollar Baby (2004)',
 'Minority Report (2002)',
 'Mission: Impossible (1996)',
 'Mist, The (2007)',
 'Monty Python and the Holy Grail (1975)',
 'Mr. & Mrs. Smith (2005)',
 'Mrs. Doubtfire (1993)',
 'Muppet Movie, The (1979)',
 'My Big Fat Greek Wedding (2002)',
 'My Bodyguard (1980)',
 'My Neighbor Totoro (Tonari no Totoro) (1988)',
 'Mystery Science Theater 3000: The Movie (1996)',
 "National Lampoon's Van Wilder (2002)",
 'National Treasure (2004)',
 'Nausicaä of the Valley of the Wind (Kaze no tani no Naushika) (1984)',
 'Net, The (1995)',
 'Next (2007)',
 'Night of the Living Dead (1968)',
 'Nightmare Before Christmas, The (1993)',
 'Not Another Teen Movie (2001)',
 'One, The (2001)',
 "Pan's Labyrinth (Laberinto del fauno, El) (2006)",
 'Panic Room (2002)',
 'Paprika (Papurika) (2006)',
 'Patriot, The (2000)',
 'Pay It Forward (2000)',
 'Paycheck (2003)',
 'Perfect Blue (1997)',
 'Phantom, The (1996)',
 'Phone Booth (2002)',
 "Pirates of the Caribbean: At World's End (2007)",
 "Pirates of the Caribbean: Dead Man's Chest (2006)",
 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)',
 'Pitch Black (2000)',
 'Planet Terror (2007)',
 'Planet of the Apes (2001)',
 'Pokémon: The First Movie (1998)',
 'Polar Express, The (2004)',
 'Police Academy (1984)',
 'Predator (1987)',
 'Predator 2 (1990)',
 'Pretty Woman (1990)',
 'Princess Bride, The (1987)',
 'Princess Mononoke (Mononoke-hime) (1997)',
 'Professional, The (Le professionnel) (1981)',
 'Pulp Fiction (1994)',
 'Punisher, The (2004)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Rain Man (1988)',
 'Ratatouille (2007)',
 'Reign of Fire (2002)',
 'Resident Evil (2002)',
 'Resident Evil: Apocalypse (2004)',
 'Resident Evil: Extinction (2007)',
 'Return of the Living Dead, The (1985)',
 'Road Warrior, The (Mad Max 2) (1981)',
 'RoboCop (1987)',
 'RoboCop 3 (1993)',
 'Robots (2005)',
 'Save the Last Dance (2001)',
 'Saving Private Ryan (1998)',
 'Saw II (2005)',
 'Scanner Darkly, A (2006)',
 'Scarface (1983)',
 'Scary Movie 2 (2001)',
 "Schindler's List (1993)",
 'School of Rock (2003)',
 'Secret Garden, The (1993)',
 'Shakespeare in Love (1998)',
 'Shark Tale (2004)',
 'Shawshank Redemption, The (1994)',
 'Showtime (2002)',
 'Shrek (2001)',
 'Signs (2002)',
 'Silence of the Lambs, The (1991)',
 'Sister Act (1992)',
 'Sixth Sense, The (1999)',
 'Sky Captain and the World of Tomorrow (2004)',
 'Sleeper (1973)',
 'Space Jam (1996)',
 'Spaceballs (1987)',
 'Spawn (1997)',
 'Species II (1998)',
 'Speed (1994)',
 'Spider-Man (2002)',
 'Spider-Man 2 (2004)',
 'Spider-Man 3 (2007)',
 'Spirited Away (Sen to Chihiro no kamikakushi) (2001)',
 'Spy Kids (2001)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Star Wars: Episode II - Attack of the Clones (2002)',
 'Star Wars: Episode III - Revenge of the Sith (2005)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Stargate (1994)',
 'Starship Troopers (1997)',
 'Stigmata (1999)',
 'Sum of All Fears, The (2002)',
 'Sunshine (2007)',
 'Super Mario Bros. (1993)',
 'Superman II (1980)',
 'Superman III (1983)',
 'Superman Returns (2006)',
 'Sweeney Todd: The Demon Barber of Fleet Street (2007)',
 'Teenage Mutant Ninja Turtles (1990)',
 'Terminator 2: Judgment Day (1991)',
 'Terminator 3: Rise of the Machines (2003)',
 'Terminator, The (1984)',
 'The Butterfly Effect (2004)',
 'Time Machine, The (2002)',
 'Titan A.E. (2000)',
 'Titanic (1997)',
 'Total Recall (1990)',
 'Toy Story (1995)',
 'Toy Story 2 (1999)',
 'Transformers (2007)',
 'Transformers: Revenge of the Fallen (2009)',
 'Transformers: The Movie (1986)',
 'Treasure Planet (2002)',
 'Tremors (1990)',
 'Tron (1982)',
 'Troy (2004)',
 'True Lies (1994)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Twister (1996)',
 'Ultraviolet (2006)',
 'Unbreakable (2000)',
 'V for Vendetta (2006)',
 'WALL·E (2008)',
 'War of the Worlds (2005)',
 'WarGames (1983)',
 'Watchmen (2009)',
 'Waterworld (1995)',
 'We Were Soldiers (2002)',
 'Weird Science (1985)',
 'Willy Wonka & the Chocolate Factory (1971)',
 'X-Men (2000)',
 'X-Men Origins: Wolverine (2009)',
 'X-Men: The Last Stand (2006)',
 'X2: X-Men United (2003)',
 'eXistenZ (1999)']

In [12]:
user_movie_df.loc[11].dropna()

title
*batteries not included (1987)       5.0
10 Things I Hate About You (1999)    5.0
10,000 BC (2008)                     4.5
101 Dalmatians (1996)                3.5
102 Dalmatians (2000)                3.0
                                    ...
X-Men (2000)                         5.0
X-Men Origins: Wolverine (2009)      5.0
X-Men: The Last Stand (2006)         5.0
X2: X-Men United (2003)              5.0
eXistenZ (1999)                      5.0
Name: 11.0, Length: 405, dtype: float64

In [13]:
movies_watched

['10 Things I Hate About You (1999)',
 '101 Dalmatians (1996)',
 'A.I. Artificial Intelligence (2001)',
 'About a Boy (2002)',
 'Ace Ventura: Pet Detective (1994)',
 'Ace Ventura: When Nature Calls (1995)',
 'Adaptation (2002)',
 'Addams Family Values (1993)',
 'Addams Family, The (1991)',
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'Air Force One (1997)',
 'Airheads (1994)',
 'Airplane! (1980)',
 'Aladdin (1992)',
 'Alice in Wonderland (1951)',
 'Almost Famous (2000)',
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",
 'American Beauty (1999)',
 'American Pie (1999)',
 'American Pie 2 (2001)',
 'American President, The (1995)',
 'Anaconda (1997)',
 'Analyze This (1999)',
 'And Your Mother Too (Y tu mamá también) (2001)',
 'Animal House (1978)',
 'Antz (1998)',
 'Arachnophobia (1990)',
 'As Good as It Gets (1997)',
 'Auntie Mame (1958)',
 'Austin Powers: International Man of Mystery (1997)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 'Babe (1995)',
 'Back to the Future (1985)',
 'Back to the Future Part II (1989)',
 'Back to the Future Part III (1990)',
 'Bambi (1942)',
 'Barcelona (1994)',
 'Batman & Robin (1997)',
 'Batman (1989)',
 'Batman Returns (1992)',
 'Beautiful Girls (1996)',
 'Beautiful Mind, A (2001)',
 'Beauty and the Beast (1991)',
 'Beavis and Butt-Head Do America (1996)',
 'Beetlejuice (1988)',
 'Before Sunrise (1995)',
 'Being John Malkovich (1999)',
 'Bend It Like Beckham (2002)',
 'Benny & Joon (1993)',
 'Best in Show (2000)',
 'Better Off Dead... (1985)',
 'Big (1988)',
 'Big Fish (2003)',
 'Big Kahuna, The (2000)',
 'Big Lebowski, The (1998)',
 'Big Night (1996)',
 'Bill Cosby, Himself (1983)',
 'Billy Elliot (2000)',
 'Billy Madison (1995)',
 'Birdcage, The (1996)',
 'Blazing Saddles (1974)',
 'Blues Brothers, The (1980)',
 'Boogie Nights (1997)',
 'Bourne Identity, The (2002)',
 "Boys Don't Cry (1999)",
 'Boys on the Side (1995)',
 'Brady Bunch Movie, The (1995)',
 'Braveheart (1995)',
 'Brazil (1985)',
 'Breakfast Club, The (1985)',
 "Breakfast at Tiffany's (1961)",
 'Bridges of Madison County, The (1995)',
 "Bridget Jones's Diary (2001)",
 'Broadcast News (1987)',
 'Brothers McMullen, The (1995)',
 "Bug's Life, A (1998)",
 'Caddyshack (1980)',
 'Casper (1995)',
 'Catch Me If You Can (2002)',
 'Cell, The (2000)',
 'Charlie and the Chocolate Factory (2005)',
 "Charlie's Angels (2000)",
 'Chasing Amy (1997)',
 'Chicago (2002)',
 'Chicken Run (2000)',
 'Chocolat (2000)',
 'Christmas Story, A (1983)',
 'Cider House Rules, The (1999)',
 'Cinderella (1950)',
 'Circle of Friends (1995)',
 'City Slickers (1991)',
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
 'Clear and Present Danger (1994)',
 'Clerks (1994)',
 'Clockwork Orange, A (1971)',
 'Clueless (1995)',
 'Cocoon (1985)',
 'Cold Comfort Farm (1995)',
 'Color Purple, The (1985)',
 'Commitments, The (1991)',
 'Con Air (1997)',
 'Coneheads (1993)',
 'Confessions of a Dangerous Mind (2002)',
 'Congo (1995)',
 'Conspiracy Theory (1997)',
 'Contact (1997)',
 'Cool Runnings (1993)',
 'Copycat (1995)',
 'Craft, The (1996)',
 'Crocodile Dundee (1986)',
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
 'Crow, The (1994)',
 'Cruel Intentions (1999)',
 'Dangerous Liaisons (1988)',
 'Dave (1993)',
 'Daytrippers, The (1996)',
 'Dazed and Confused (1993)',
 'Dead Poets Society (1989)',
 'Dirty Dancing (1987)',
 'Dirty Rotten Scoundrels (1988)',
 'Dogma (1999)',
 'Donnie Darko (2001)',
 'Down Periscope (1996)',
 "Dracula (Bram Stoker's Dracula) (1992)",
 'Driving Miss Daisy (1989)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Dumbo (1941)',
 'Election (1999)',
 'Elf (2003)',
 'Elizabeth (1998)',
 'Emma (1996)',
 "Emperor's New Groove, The (2000)",
 'English Patient, The (1996)',
 'Entrapment (1999)',
 'Erin Brockovich (2000)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 'Ever After: A Cinderella Story (1998)',
 'Fantasia (1940)',
 'Fast Times at Ridgemont High (1982)',
 'Father of the Bride Part II (1995)',
 "Ferris Bueller's Day Off (1986)",
 'Few Good Men, A (1992)',
 'Field of Dreams (1989)',
 'Fifth Element, The (1997)',
 'Fight Club (1999)',
 'Finding Nemo (2003)',
 'Finding Neverland (2004)',
 'Firm, The (1993)',
 'First Knight (1995)',
 'First Wives Club, The (1996)',
 'Fish Called Wanda, A (1988)',
 'Flintstones, The (1994)',
 'Forget Paris (1995)',
 'Forrest Gump (1994)',
 'Four Weddings and a Funeral (1994)',
 'Free Willy (1993)',
 'French Kiss (1995)',
 'Frequency (2000)',
 'Frida (2002)',
 'Fugitive, The (1993)',
 'Full Monty, The (1997)',
 'Galaxy Quest (1999)',
 'Garden State (2004)',
 'Gattaca (1997)',
 'Gentlemen Prefer Blondes (1953)',
 'Ghost (1990)',
 'Ghost World (2001)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Ghostbusters II (1989)',
 'Gladiator (2000)',
 'Go (1999)',
 'Gods Must Be Crazy, The (1980)',
 'Gods and Monsters (1998)',
 'GoldenEye (1995)',
 'Good Girl, The (2002)',
 'Good Morning, Vietnam (1987)',
 'Good Will Hunting (1997)',
 'Goonies, The (1985)',
 'Gosford Park (2001)',
 'Graduate, The (1967)',
 'Grand Day Out with Wallace and Gromit, A (1989)',
 'Grease (1978)',
 'Gremlins (1984)',
 'Grosse Pointe Blank (1997)',
 'Groundhog Day (1993)',
 'Grumpier Old Men (1995)',
 'Grumpy Old Men (1993)',
 'Hackers (1995)',
 'Hairspray (1988)',
 'Happy Gilmore (1996)',
 'Harold and Kumar Go to White Castle (2004)',
 'Harold and Maude (1971)',
 'Harry Potter and the Chamber of Secrets (2002)',
 'Harry Potter and the Prisoner of Azkaban (2004)',
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
 'Heathers (1989)',
 'Hedwig and the Angry Inch (2000)',
 'Hellboy (2004)',
 'High Fidelity (2000)',
 'Holes (2003)',
 'Home Alone (1990)',
 'Home Alone 2: Lost in New York (1992)',
 'Honey, I Shrunk the Kids (1989)',
 'Hook (1991)',
 'Hot Shots! Part Deux (1993)',
 'House of Yes, The (1997)',
 "Howl's Moving Castle (Hauru no ugoku shiro) (2004)",
 'Hudsucker Proxy, The (1994)',
 'Hunchback of Notre Dame, The (1996)',
 'I Heart Huckabees (2004)',
 'I.Q. (1994)',
 'Ice Age (2002)',
 'Ice Storm, The (1997)',
 'In & Out (1997)',
 'In Good Company (2004)',
 'Incredibles, The (2004)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Indiana Jones and the Last Crusade (1989)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Interview with the Vampire: The Vampire Chronicles (1994)',
 'Iron Giant, The (1999)',
 "It's a Wonderful Life (1946)",
 'James and the Giant Peach (1996)',
 'Jerk, The (1979)',
 'Jerry Maguire (1996)',
 'Joy Luck Club, The (1993)',
 'Jumanji (1995)',
 'Junior (1994)',
 'Jurassic Park (1993)',
 'Kingpin (1996)',
 'L.A. Confidential (1997)',
 'L.A. Story (1991)',
 'Labyrinth (1986)',
 'Lady and the Tramp (1955)',
 'Last Action Hero (1993)',
 'League of Their Own, A (1992)',
 'Legally Blonde (2001)',
 'Legends of the Fall (1994)',
 "Lemony Snicket's A Series of Unfortunate Events (2004)",
 'Liar Liar (1997)',
 'Life Aquatic with Steve Zissou, The (2004)',
 'Life Is Beautiful (La Vita è bella) (1997)',
 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 'Lilo & Stitch (2002)',
 'Lion King, The (1994)',
 'Little Mermaid, The (1989)',
 'Little Shop of Horrors (1986)',
 'Little Women (1994)',
 'Lock, Stock & Two Smoking Barrels (1998)',
 'Lord of the Rings: The Fellowship of the Ring, The (2001)',
 'Lord of the Rings: The Return of the King, The (2003)',
 'Lord of the Rings: The Two Towers, The (2002)',
 'Lost World: Jurassic Park, The (1997)',
 'Lost in Space (1998)',
 'Lost in Translation (2003)',
 'Love Actually (2003)',
 'Mallrats (1995)',
 'Man Without a Face, The (1993)',
 'Man in the Moon, The (1991)',
 'Man on the Moon (1999)',
 'Mars Attacks! (1996)',
 'Mary Poppins (1964)',
 'Mask of Zorro, The (1998)',
 'Mask, The (1994)',
 'Master and Commander: The Far Side of the World (2003)',
 'Matilda (1996)',
 'Matrix Reloaded, The (2003)',
 'Matrix, The (1999)',
 'Maverick (1994)',
 'Me, Myself & Irene (2000)',
 'Mean Girls (2004)',
 'Meet the Parents (2000)',
 'Memento (2000)',
 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)',
 'Milk Money (1994)',
 'Miss Congeniality (2000)',
 'Mission: Impossible (1996)',
 'Monsoon Wedding (2001)',
 'Monsters, Inc. (2001)',
 'Monty Python and the Holy Grail (1975)',
 'Moulin Rouge (2001)',
 "Mr. Holland's Opus (1995)",
 'Mrs. Doubtfire (1993)',
 'Mulan (1998)',
 'Mummy Returns, The (2001)',
 'Mummy, The (1999)',
 'Muppet Movie, The (1979)',
 'Muppet Treasure Island (1996)',
 'Murder on the Orient Express (1974)',
 "Muriel's Wedding (1994)",
 "My Best Friend's Wedding (1997)",
 'My Big Fat Greek Wedding (2002)',
 'My Cousin Vinny (1992)',
 'My Fair Lady (1964)',
 'Mystery Men (1999)',
 'Naked Gun 33 1/3: The Final Insult (1994)',
 'Napoleon Dynamite (2004)',
 'Net, The (1995)',
 'Never Been Kissed (1999)',
 'NeverEnding Story, The (1984)',
 'Nightmare Before Christmas, The (1993)',
 'Nine Months (1995)',
 'Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)',
 'Notebook, The (2004)',
 'Notting Hill (1999)',
 'Nurse Betty (2000)',
 'Nutty Professor, The (1996)',
 'O Brother, Where Art Thou? (2000)',
 "Ocean's Eleven (2001)",
 'Office Space (1999)',
 'Old School (2003)',
 'Opposite of Sex, The (1998)',
 'Out of Sight (1998)',
 'Outbreak (1995)',
 'Parenthood (1989)',
 'Patch Adams (1998)',
 'Patriot, The (2000)',
 'Payback (1999)',
 'Pearl Harbor (2001)',
 "Pee-wee's Big Adventure (1985)",
 'Perfect Storm, The (2000)',
 'Pieces of April (2003)',
 'Pink Panther, The (1963)',
 'Pinocchio (1940)',
 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)',
 'Planes, Trains & Automobiles (1987)',
 'Pleasantville (1998)',
 'Pretty Woman (1990)',
 'Pretty in Pink (1986)',
 'Princess Bride, The (1987)',
 'Princess Mononoke (Mononoke-hime) (1997)',
 'Producers, The (1968)',
 'Pulp Fiction (1994)',
 'Punch-Drunk Love (2002)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Raising Arizona (1987)',
 'Ransom (1996)',
 'Real Genius (1985)',
 'Ref, The (1994)',
 'Remember the Titans (2000)',
 'Risky Business (1983)',
 'River Runs Through It, A (1992)',
 'Road Trip (2000)',
 'Robin Hood: Men in Tights (1993)',
 'Rock, The (1996)',
 'Rocketeer, The (1991)',
 'Rocky Horror Picture Show, The (1975)',
 'Roger & Me (1989)',
 'Roman Holiday (1953)',
 'Romancing the Stone (1984)',
 "Romy and Michele's High School Reunion (1997)",
 'Roxanne (1987)',
 'Royal Tenenbaums, The (2001)',
 'Rudy (1993)',
 'Run Lola Run (Lola rennt) (1998)',
 'Runaway Bride (1999)',
 'Rush Hour (1998)',
 'Rushmore (1998)',
 'Sabrina (1995)',
 'Saint, The (1997)',
 'Santa Clause, The (1994)',
 'Saved! (2004)',
 'Saving Private Ryan (1998)',
 'Say Anything... (1989)',
 'Scary Movie (2000)',
 'School of Rock (2003)',
 'Scream (1996)',
 'Secondhand Lions (2003)',
 'Secret of NIMH, The (1982)',
 'Secret of Roan Inish, The (1994)',
 'Sense and Sensibility (1995)',
 'Seven Year Itch, The (1955)',
 'Shakespeare in Love (1998)',
 'Shall We Dance? (Shall We Dansu?) (1996)',
 'Shawshank Redemption, The (1994)',
 "She's All That (1999)",
 'Shrek (2001)',
 'Shrek 2 (2004)',
 'Sideways (2004)',
 'Signs (2002)',
 'Silence of the Lambs, The (1991)',
 'Sin City (2005)',
 "Singin' in the Rain (1952)",
 'Sister Act (1992)',
 'Six Days Seven Nights (1998)',
 'Sixteen Candles (1984)',
 'Sixth Sense, The (1999)',
 'Sleeping Beauty (1959)',
 'Sleepless in Seattle (1993)',
 'Sleepy Hollow (1999)',
 'Sliding Doors (1998)',
 'Slums of Beverly Hills, The (1998)',
 'Sneakers (1992)',
 'Snow White and the Seven Dwarfs (1937)',
 'So I Married an Axe Murderer (1993)',
 'Sound of Music, The (1965)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'Spaceballs (1987)',
 "Spanish Apartment, The (L'auberge espagnole) (2002)",
 'Speed (1994)',
 'Spider-Man (2002)',
 'Spider-Man 2 (2004)',
 'Splash (1984)',
 'Spy Hard (1996)',
 'Stand by Me (1986)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'State and Main (2000)',
 'Strictly Ballroom (1992)',
 'Striptease (1996)',
 'Swingers (1996)',
 'Talented Mr. Ripley, The (1999)',
 'Tao of Steve, The (2000)',
 'Team America: World Police (2004)',
 'Terminator 2: Judgment Day (1991)',
 'That Thing You Do! (1996)',
 'Thelma & Louise (1991)',
 "There's Something About Mary (1998)",
 'This Is Spinal Tap (1984)',
 'Three Kings (1999)',
 'Tin Cup (1996)',
 'Titanic (1997)',
 'To Die For (1995)',
 'Tommy Boy (1995)',
 'Tomorrow Never Dies (1997)',
 'Top Gun (1986)',
 'Toy Story (1995)',
 'Toy Story 2 (1999)',
 'Trading Places (1983)',
 'Traffic (2000)',
 'Trainspotting (1996)',
 'Tremors (1990)',
 'Triplets of Belleville, The (Les triplettes de Belleville) (2003)',
 'Tron (1982)',
 'True Lies (1994)',
 'Truman Show, The (1998)',
 'Truth About Cats & Dogs, The (1996)',
 'Twister (1996)',
 "Ulee's Gold (1997)",
 'Usual Suspects, The (1995)',
 'Virgin Suicides, The (1999)',
 'Waiting for Guffman (1996)',
 'Waking Ned Devine (a.k.a. Waking Ned) (1998)',
 'Walk in the Clouds, A (1995)',
 'Wallace & Gromit: A Close Shave (1995)',
 'Wallace & Gromit: The Best of Aardman Animation (1996)',
 'Wallace & Gromit: The Wrong Trousers (1993)',
 'Waterworld (1995)',
 "Wayne's World (1992)",
 'Wedding Crashers (2005)',
 'Wedding Singer, The (1998)',
 "Weekend at Bernie's (1989)",
 'Weird Science (1985)',
 'Welcome to the Dollhouse (1995)',
 'West Side Story (1961)',
 'What About Bob? (1991)',
 'What Women Want (2000)',
 'When Harry Met Sally... (1989)',
 'While You Were Sleeping (1995)',
 'Who Framed Roger Rabbit? (1988)',
 'Whole Nine Yards, The (2000)',
 'Wild Wild West (1999)',
 "William Shakespeare's Romeo + Juliet (1996)",
 'Willow (1988)',
 'Willy Wonka & the Chocolate Factory (1971)',
 'Wizard of Oz, The (1939)',
 'Wonder Boys (2000)',
 'Working Girl (1988)',
 'World Is Not Enough, The (1999)',
 'X-Men (2000)',
 'X2: X-Men United (2003)',
 'Yellow Submarine (1968)',
 "You've Got Mail (1998)",
 'Young Frankenstein (1974)',
 '¡Three Amigos! (1986)']

In [14]:
len(movies_watched)

475

In [15]:
movies_watched_df=user_movie_df[movies_watched]
movies_watched_df

title,10 Things I Hate About You (1999),101 Dalmatians (1996),A.I. Artificial Intelligence (2001),About a Boy (2002),Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Adaptation (2002),Addams Family Values (1993),"Addams Family, The (1991)","Adventures of Priscilla, Queen of the Desert, The (1994)",...,"Wizard of Oz, The (1939)",Wonder Boys (2000),Working Girl (1988),"World Is Not Enough, The (1999)",X-Men (2000),X2: X-Men United (2003),Yellow Submarine (1968),You've Got Mail (1998),Young Frankenstein (1974),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
7.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,3.0,NaN,2.0
11.0,5.0,3.5,5.0,5.0,3.5,3.5,NaN,4.0,3.5,NaN,...,NaN,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,NaN
24.0,NaN,NaN,NaN,4.0,5.0,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
54.0,NaN,3.0,NaN,NaN,1.0,NaN,NaN,3.0,4.0,NaN,...,NaN,NaN,4.0,3.0,4.0,NaN,4.0,3.0,4.0,3.0
58.0,NaN,NaN,3.5,3.0,NaN,NaN,4.5,NaN,NaN,NaN,...,NaN,4.5,4.5,NaN,3.0,NaN,NaN,NaN,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138457.0,2.0,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
138467.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138472.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138474.0,4.0,4.0,NaN,NaN,5.0,5.0,NaN,4.0,4.0,NaN,...,5.0,NaN,NaN,NaN,4.0,NaN,NaN,3.0,NaN,NaN
138493.0,NaN,3.0,NaN,NaN,4.0,4.0,5.0,3.0,4.0,NaN,...,NaN,NaN,NaN,NaN,4.5,4.5,5.0,5.0,NaN,NaN

In [16]:
random_user

47865.0

In [17]:
movies_watched_df.count(axis=1)[movies_watched_df.count(axis=1)>300].sort_values(ascending=False)

userId
47865.0     475
118205.0    473
8405.0      473
74142.0     457
76630.0     456
           ...
113610.0    301
121543.0    301
122534.0    301
123514.0    301
22205.0     301
Length: 783, dtype: int64

In [18]:
movies_watched_df.count(axis=1)[movies_watched_df.count(axis=1)>100].sort_values(ascending=False).drop(index=random_user)

userId
118205.0    473
8405.0      473
74142.0     457
76630.0     456
118754.0    455
           ...
78502.0     101
79201.0     101
79420.0     101
123408.0    101
57867.0     101
Length: 15606, dtype: int64

In [19]:
same_users=list(movies_watched_df.count(axis=1)[movies_watched_df.count(axis=1)>250].sort_values(ascending=False).index)
same_users

[47865.0,
 8405.0,
 118205.0,
 74142.0,
 76630.0,
 118754.0,
 69793.0,
 88604.0,
 71975.0,
 66763.0,
 82418.0,
 34576.0,
 62812.0,
 92956.0,
 46470.0,
 18611.0,
 135090.0,
 20132.0,
 88820.0,
 73611.0,
 29575.0,
 92269.0,
 113668.0,
 92011.0,
 79159.0,
 103223.0,
 137686.0,
 51558.0,
 89307.0,
 83090.0,
 110758.0,
 138208.0,
 100134.0,
 16938.0,
 123606.0,
 103654.0,
 15601.0,
 96859.0,
 112988.0,
 122995.0,
 24219.0,
 13064.0,
 51703.0,
 75678.0,
 24688.0,
 86722.0,
 4507.0,
 125794.0,
 121535.0,
 34856.0,
 69683.0,
 49212.0,
 131961.0,
 41267.0,
 103028.0,
 76437.0,
 31122.0,
 775.0,
 18138.0,
 12131.0,
 120575.0,
 119148.0,
 33349.0,
 59477.0,
 43194.0,
 9544.0,
 102888.0,
 6719.0,
 1849.0,
 102911.0,
 3318.0,
 69378.0,
 23173.0,
 116317.0,
 12644.0,
 62984.0,
 137202.0,
 128258.0,
 129540.0,
 124831.0,
 60159.0,
 9930.0,
 94259.0,
 72517.0,
 81706.0,
 26582.0,
 39181.0,
 133811.0,
 52225.0,
 27469.0,
 53346.0,
 4358.0,
 2397.0,
 14705.0,
 49554.0,
 57735.0,
 96601.0,
 41929.0,
 65529.0,
 90968.0,
 26193.0,
 52260.0,
 113991.0,
 18628.0,
 105325.0,
 54465.0,
 59852.0,
 24661.0,
 44654.0,
 136268.0,
 32344.0,
 52877.0,
 101165.0,
 27531.0,
 66533.0,
 8966.0,
 109883.0,
 63218.0,
 131347.0,
 45015.0,
 58953.0,
 75299.0,
 16865.0,
 52009.0,
 25978.0,
 64843.0,
 18191.0,
 68063.0,
 903.0,
 2261.0,
 80207.0,
 4529.0,
 24830.0,
 119048.0,
 135425.0,
 14519.0,
 15617.0,
 110858.0,
 10303.0,
 62040.0,
 50943.0,
 25101.0,
 79357.0,
 70379.0,
 34651.0,
 79531.0,
 85926.0,
 59702.0,
 73293.0,
 42096.0,
 27278.0,
 63834.0,
 93152.0,
 95993.0,
 84752.0,
 35128.0,
 39382.0,
 27041.0,
 92616.0,
 120948.0,
 9087.0,
 96370.0,
 131180.0,
 67527.0,
 58667.0,
 1507.0,
 29037.0,
 55726.0,
 83275.0,
 10560.0,
 43545.0,
 84480.0,
 60018.0,
 65304.0,
 34587.0,
 92499.0,
 89299.0,
 77247.0,
 116498.0,
 71315.0,
 107356.0,
 35834.0,
 87746.0,
 79662.0,
 134175.0,
 29056.0,
 131698.0,
 43296.0,
 32984.0,
 133372.0,
 50041.0,
 42886.0,
 94541.0,
 21391.0,
 33082.0,
 53058.0,
 70816.0,
 22550.0,
 101127.0,
 118534.0,
 116189.0,
 12802.0,
 105161.0,
 40483.0,
 68710.0,
 66649.0,
 104063.0,
 116590.0,
 70303.0,
 111373.0,
 50297.0,
 19963.0,
 12767.0,
 39583.0,
 119271.0,
 116263.0,
 9145.0,
 55479.0,
 99360.0,
 7858.0,
 7699.0,
 103998.0,
 27666.0,
 42204.0,
 137037.0,
 93920.0,
 55765.0,
 22688.0,
 9545.0,
 128047.0,
 122364.0,
 91626.0,
 130459.0,
 24719.0,
 115811.0,
 89402.0,
 97826.0,
 103986.0,
 118882.0,
 102098.0,
 4696.0,
 27054.0,
 66263.0,
 54259.0,
 80886.0,
 107579.0,
 121894.0,
 39346.0,
 117395.0,
 23459.0,
 111912.0,
 77007.0,
 42929.0,
 29069.0,
 50367.0,
 69829.0,
 113336.0,
 64060.0,
 75810.0,
 52439.0,
 65180.0,
 37925.0,
 67303.0,
 94628.0,
 102038.0,
 25511.0,
 122160.0,
 76292.0,
 54494.0,
 18765.0,
 55651.0,
 10678.0,
 98206.0,
 70770.0,
 27053.0,
 44492.0,
 982.0,
 111549.0,
 9116.0,
 100349.0,
 68358.0,
 82968.0,
 136989.0,
 6099.0,
 7828.0,
 5843.0,
 107715.0,
 87283.0,
 76737.0,
 107326.0,
 97602.0,
 13730.0,
 56504.0,
 137343.0,
 89242.0,
 23061.0,
 133133.0,
 12044.0,
 32514.0,
 101861.0,
 26480.0,
 65295.0,
 60762.0,
 107266.0,
 92516.0,
 3397.0,
 13753.0,
 126474.0,
 135795.0,
 80771.0,
 45983.0,
 15203.0,
 42369.0,
 10989.0,
 107640.0,
 46744.0,
 15720.0,
 120379.0,
 10916.0,
 88773.0,
 86676.0,
 97873.0,
 67443.0,
 25345.0,
 72983.0,
 106906.0,
 31753.0,
 42692.0,
 136599.0,
 111959.0,
 78308.0,
 6373.0,
 129583.0,
 61000.0,
 51507.0,
 105498.0,
 94976.0,
 66201.0,
 27894.0,
 33736.0,
 69820.0,
 50746.0,
 99937.0,
 32671.0,
 59873.0,
 46545.0,
 53998.0,
 12618.0,
 115176.0,
 32161.0,
 95301.0,
 10761.0,
 3289.0,
 113806.0,
 40058.0,
 18706.0,
 84476.0,
 38251.0,
 91893.0,
 15486.0,
 101948.0,
 91867.0,
 16676.0,
 61168.0,
 61053.0,
 80260.0,
 75469.0,
 12239.0,
 41517.0,
 66810.0,
 70342.0,
 8963.0,
 66837.0,
 99448.0,
 26067.0,
 34899.0,
 14908.0,
 62375.0,
 105040.0,
 35227.0,
 25411.0,
 13494.0,
 29738.0,
 113073.0,
 47904.0,
 85190.0,
 99524.0,
 110227.0,
 104345.0,
 128309.0,
 74356.0,
 59544.0,
 136877.0,
 70201.0,
 116900.0,
 84111.0,
 3576.0,
 43657.0,
 105607.0,
 113209.0,
 110847.0,
 119531.0,
 34180.0,
 29333.0,
 45619.0,
 2657.0,
 87135.0,
 16398.0,
 61696.0,
 117015.0,
 114406.0,
 72421.0,
 11434.0,
 44296.0,
 28651.0,
 68026.0,
 60887.0,
 87441.0,
 86529.0,
 15194.0,
 58170.0,
 59154.0,
 89364.0,
 132039.0,
 114758.0,
 3487.0,
 87999.0,
 122436.0,
 74054.0,
 67825.0,
 130516.0,
 35115.0,
 113050.0,
 21078.0,
 77560.0,
 3629.0,
 13849.0,
 44384.0,
 88795.0,
 78340.0,
 78356.0,
 98464.0,
 78644.0,
 6873.0,
 6976.0,
 66088.0,
 53640.0,
 99499.0,
 99342.0,
 77142.0,
 48644.0,
 26185.0,
 49999.0,
 44241.0,
 88024.0,
 90138.0,
 134567.0,
 115604.0,
 106441.0,
 83305.0,
 26277.0,
 54978.0,
 10321.0,
 98211.0,
 62160.0,
 110846.0,
 133329.0,
 52116.0,
 101275.0,
 127450.0,
 41283.0,
 88804.0,
 71189.0,
 87428.0,
 116361.0,
 108248.0,
 85640.0,
 21057.0,
 134773.0,
 15478.0,
 45987.0,
 3284.0,
 132747.0,
 48405.0,
 105580.0,
 77696.0,
 106939.0,
 6636.0,
 82908.0,
 80987.0,
 100669.0,
 70391.0,
 93234.0,
 16447.0,
 80099.0,
 73607.0,
 66617.0,
 99781.0,
 51227.0,
 57248.0,
 3171.0,
 83959.0,
 98420.0,
 9562.0,
 119677.0,
 21664.0,
 42032.0,
 37253.0,
 37264.0,
 135033.0,
 43945.0,
 98597.0,
 61610.0,
 29879.0,
 74967.0,
 38756.0,
 18069.0,
 1411.0,
 119367.0,
 4222.0,
 46396.0,
 43217.0,
 25960.0,
 130803.0,
 130987.0,
 68214.0,
 107520.0,
 4594.0,
 98528.0,
 108186.0,
 57056.0,
 4295.0,
 812.0,
 80668.0,
 79366.0,
 91793.0,
 72008.0,
 125978.0,
 27463.0,
 111880.0,
 137277.0,
 115226.0,
 83949.0,
 39154.0,
 61740.0,
 45951.0,
 120312.0,
 116127.0,
 131275.0,
 48904.0,
 77018.0,
 94026.0,
 42353.0,
 130390.0,
 112203.0,
 133089.0,
 50603.0,
 19937.0,
 5576.0,
 134657.0,
 133703.0,
 21861.0,
 100254.0,
 19528.0,
 95221.0,
 28611.0,
 48677.0,
 132187.0,
 61049.0,
 22901.0,
 57746.0,
 135522.0,
 126527.0,
 67546.0,
 13892.0,
 8541.0,
 83224.0,
 135984.0,
 78104.0,
 10443.0,
 26885.0,
 46851.0,
 4967.0,
 33052.0,
 130322.0,
 25192.0,
 35022.0,
 3743.0,
 23523.0,
 74628.0,
 116241.0,
 61729.0,
 106976.0,
 110706.0,
 108967.0,
 13964.0,
 113181.0,
 109156.0,
 50030.0,
 109245.0,
 120666.0,
 100712.0,
 128690.0,
 67961.0,
 94855.0,
 21398.0,
 15718.0,
 75506.0,
 108195.0,
 121436.0,
 3907.0,
 102705.0,
 134866.0,
 104349.0,
 77228.0,
 51616.0,
 100639.0,
 134774.0,
 114624.0,
 114805.0,
 9929.0,
 62779.0,
 45709.0,
 103291.0,
 84108.0,
 49734.0,
 6232.0,
 110190.0,
 7201.0,
 72838.0,
 27189.0,
 15529.0,
 52457.0,
 134181.0,
 26198.0,
 134352.0,
 7321.0,
 100992.0,
 90186.0,
 85662.0,
 126395.0,
 127256.0,
 54107.0,
 11348.0,
 93710.0,
 129420.0,
 124633.0,
 39099.0,
 60923.0,
 48038.0,
 39579.0,
 6978.0,
 117144.0,
 3948.0,
 91070.0,
 136082.0,
 55556.0,
 101458.0,
 33402.0,
 54447.0,
 123352.0,
 82788.0,
 37042.0,
 58802.0,
 50599.0,
 83529.0,
 53972.0,
 68558.0,
 85363.0,
 39647.0,
 37914.0,
 47629.0,
 106802.0,
 55848.0,
 68341.0,
 66825.0,
 37423.0,
 34485.0,
 68575.0,
 77451.0,
 51199.0,
 85654.0,
 59407.0,
 114570.0,
 22352.0,
 31681.0,
 94999.0,
 9446.0,
 120290.0,
 86301.0,
 35004.0,
 22411.0,
 3864.0,
 7051.0,
 88176.0,
 14280.0,
 16840.0,
 26623.0,
 91231.0,
 54057.0,
 75472.0,
 116556.0,
 74289.0,
 116918.0,
 82901.0,
 18338.0,
 97770.0,
 121733.0,
 123949.0,
 61062.0,
 87856.0,
 38267.0,
 22122.0,
 91067.0,
 83343.0,
 24893.0,
 72401.0,
 98168.0,
 110004.0,
 114898.0,
 136521.0,
 88858.0,
 24816.0,
 2669.0,
 27482.0,
 124163.0,
 42913.0,
 69850.0,
 108564.0,
 122509.0,
 16162.0,
 114412.0,
 62800.0,
 156.0,
 12793.0,
 119675.0,
 105308.0,
 40469.0,
 71781.0,
 123378.0,
 46689.0,
 115631.0,
 75618.0,
 100169.0,
 105693.0,
 72929.0,
 37695.0,
 127434.0,
 63705.0,
 98470.0,
 82211.0,
 29420.0,
 11152.0,
 86066.0,
 50570.0,
 80391.0,
 77884.0,
 127840.0,
 118955.0,
 63192.0,
 123334.0,
 119013.0,
 62700.0,
 17333.0,
 110656.0,
 113610.0,
 97521.0,
 11900.0,
 40285.0,
 123514.0,
 12080.0,
 22205.0,
 64175.0,
 77999.0,
 102001.0,
 60427.0,
 32780.0,
 121543.0,
 104043.0,
 122534.0,
 79401.0,
 32861.0,
 77159.0,
 126072.0,
 77385.0,
 88738.0,
 103090.0,
 99754.0,
 56218.0,
 29334.0,
 60441.0,
 93227.0,
 74019.0,
 135015.0,
 111139.0,
 58069.0,
 15682.0,
 19776.0,
 10534.0,
 54469.0,
 126565.0,
 34823.0,
 53124.0,
 42069.0,
 132095.0,
 112762.0,
 14052.0,
 14457.0,
 113009.0,
 91948.0,
 52636.0,
 10829.0,
 13955.0,
 100366.0,
 74241.0,
 73888.0,
 55231.0,
 18415.0,
 38773.0,
 85389.0,
 23227.0,
 62599.0,
 77200.0,
 35761.0,
 117948.0,
 6314.0,
 14032.0,
 94890.0,
 14437.0,
 29310.0,
 27073.0,
 91643.0,
 57626.0,
 120572.0,
 18471.0,
 58612.0,
 125585.0,
 111523.0,
 130859.0,
 105216.0,
 126611.0,
 100556.0,
 4129.0,
 69868.0,
 28035.0,
 86839.0,
 21163.0,
 119067.0,
 109152.0,
 74705.0,
 127063.0,
 101044.0,
 103199.0,
 81267.0,
 131836.0,
 56520.0,
 120395.0,
 29499.0,
 55430.0,
 122704.0,
 130876.0,
 68759.0,
 40082.0,
 58648.0,
 68183.0,
 96244.0,
 66143.0,
 131588.0,
 114270.0,
 77589.0,
 87094.0,
 84392.0,
 112921.0,
 91709.0,
 22818.0,
 5155.0,
 129159.0,
 85155.0,
 80746.0,
 97860.0,
 74036.0,
 113081.0,
 52075.0,
 35945.0,
 113632.0,
 130715.0,
 102196.0,
 63643.0,
 94520.0,
 111407.0,
 114701.0,
 19162.0,
 111402.0,
 43045.0,
 82062.0,
 21496.0,
 42290.0,
 52698.0,
 126067.0,
 65182.0,
 130767.0,
 19279.0,
 86275.0,
 135232.0,
 131434.0,
 96684.0,
 51075.0,
 68260.0,
 11230.0,
 50421.0,
 135993.0,
 39556.0,
 55493.0,
 28744.0,
 122514.0,
 66562.0,
 16174.0,
 14551.0,
 21165.0,
 87718.0,
 24127.0,
 41877.0,
 97671.0,
 84608.0,
 105512.0,
 86913.0,
 32717.0,
 52740.0,
 22189.0,
 100273.0,
 37317.0,
 27854.0,
 45815.0,
 4598.0,
 4748.0,
 116996.0,
 26815.0,
 97168.0,
 102743.0,
 114453.0,
 48929.0,
 21349.0,
 84426.0,
 11706.0,
 101968.0,
 19711.0,
 19228.0,
 12490.0,
 33092.0,
 22963.0,
 37897.0,
 48392.0,
 127713.0,
 93140.0,
 54113.0,
 136897.0,
 51161.0,
 76155.0,
 30857.0,
 108028.0,
 101171.0,
 92515.0,
 63219.0,
 115496.0,
 82668.0,
 119055.0,
 40847.0,
 134401.0,
 101110.0,
 34700.0,
 102845.0,
 101768.0,
 136875.0,
 72150.0,
 76024.0,
 34395.0,
 34103.0,
 73140.0,
 5784.0,
 98909.0,
 27679.0,
 79967.0,
 109379.0,
 62051.0,
 17163.0,
 56720.0,
 18007.0,
 127187.0,
 127301.0,
 78453.0,
 66226.0,
 10012.0,
 94446.0,
 83334.0,
 28771.0,
 42935.0,
 67604.0,
 33713.0,
 62430.0,
 97853.0,
 ...]

In [44]:
final_df=movies_watched_df[movies_watched_df.index.isin(same_users)]
final_df

title,10 Things I Hate About You (1999),101 Dalmatians (1996),A.I. Artificial Intelligence (2001),About a Boy (2002),Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Adaptation (2002),Addams Family Values (1993),"Addams Family, The (1991)","Adventures of Priscilla, Queen of the Desert, The (1994)",...,"Wizard of Oz, The (1939)",Wonder Boys (2000),Working Girl (1988),"World Is Not Enough, The (1999)",X-Men (2000),X2: X-Men United (2003),Yellow Submarine (1968),You've Got Mail (1998),Young Frankenstein (1974),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
91.0,3.5,NaN,3.5,4.0,2.5,2.0,3.5,2.5,NaN,4.0,...,3.5,2.5,NaN,NaN,4.0,3.5,4.0,2.5,3.5,NaN
116.0,2.0,1.0,1.0,NaN,3.5,2.5,NaN,2.0,3.0,NaN,...,2.0,NaN,NaN,2.5,4.0,4.5,NaN,NaN,NaN,NaN
156.0,NaN,3.0,NaN,NaN,3.0,NaN,NaN,3.0,4.0,3.0,...,5.0,NaN,4.0,4.0,4.0,NaN,3.0,NaN,5.0,NaN
208.0,NaN,NaN,3.0,4.0,3.0,NaN,5.0,NaN,NaN,3.5,...,5.0,4.0,4.0,NaN,NaN,NaN,4.0,1.5,4.0,3.0
294.0,3.5,NaN,2.5,NaN,2.5,1.0,NaN,3.5,4.5,4.0,...,4.0,NaN,NaN,NaN,4.0,3.5,NaN,2.0,4.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138134.0,NaN,3.0,3.0,4.0,3.0,NaN,4.0,3.0,3.0,NaN,...,3.5,4.5,3.0,1.5,3.5,3.5,3.0,3.0,4.0,NaN
138162.0,3.0,NaN,1.0,5.0,3.0,NaN,4.0,4.0,5.0,5.0,...,5.0,4.0,NaN,NaN,4.0,NaN,NaN,4.0,5.0,NaN
138208.0,3.0,2.0,3.5,3.0,2.0,1.0,2.0,2.0,3.0,3.5,...,4.0,4.0,3.0,3.0,3.0,3.0,NaN,3.0,3.0,NaN
138211.0,5.0,NaN,3.0,4.5,3.0,NaN,4.0,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,3.0,NaN,NaN,3.0,NaN,NaN
138254.0,NaN,4.0,4.0,3.0,2.5,2.5,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,3.0,4.0,4.0,NaN,3.0,NaN,NaN

In [60]:
final_df.loc[294.0]

title
10 Things I Hate About You (1999)      3.5
101 Dalmatians (1996)                  NaN
A.I. Artificial Intelligence (2001)    2.5
About a Boy (2002)                     NaN
Ace Ventura: Pet Detective (1994)      2.5
                                      ...
X2: X-Men United (2003)                3.5
Yellow Submarine (1968)                NaN
You've Got Mail (1998)                 2.0
Young Frankenstein (1974)              4.5
¡Three Amigos! (1986)                  NaN
Name: 294.0, Length: 475, dtype: float64

In [70]:
final_df.T.corr()

userId,91.0,116.0,156.0,208.0,294.0,298.0,586.0,587.0,614.0,632.0,...,137683.0,137686.0,137839.0,137885.0,138019.0,138134.0,138162.0,138208.0,138211.0,138254.0
userId,,,,,,,,,,,,,,,,,,,,,
91.0,1.000000,0.358182,0.217930,0.240771,0.352998,0.090458,0.231462,0.385547,0.483370,0.325616,...,0.312278,0.504505,0.256641,0.340310,0.225059,0.250806,0.181962,0.360917,0.115467,0.297980
116.0,0.358182,1.000000,0.165083,0.192999,0.253501,0.329277,0.546948,0.424439,0.212724,0.382246,...,0.224500,0.419663,0.355454,0.401822,0.227823,0.402239,0.144089,0.338792,0.166682,0.375661
156.0,0.217930,0.165083,1.000000,0.033986,0.332090,0.252979,0.204801,0.218139,0.295460,0.125333,...,0.313869,0.295876,0.379343,0.145006,0.077789,0.081411,0.106877,0.248290,0.152680,0.312463
208.0,0.240771,0.192999,0.033986,1.000000,0.178754,-0.016193,0.175586,0.179911,0.018774,0.164789,...,0.212191,0.368953,0.201438,0.298900,0.215609,0.249456,0.219693,0.285804,0.179026,0.117565
294.0,0.352998,0.253501,0.332090,0.178754,1.000000,0.258611,0.291988,0.316098,0.282714,0.211236,...,0.405110,0.375463,0.261611,0.165281,0.233209,0.082224,0.095108,0.316412,0.119429,0.358008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138134.0,0.250806,0.402239,0.081411,0.249456,0.082224,-0.023285,0.364748,0.283356,0.165683,0.207415,...,0.366294,0.455010,0.331447,0.437252,0.152833,1.000000,0.243957,0.277353,0.226109,0.187846
138162.0,0.181962,0.144089,0.106877,0.219693,0.095108,-0.061477,0.079800,0.240262,0.121964,0.163228,...,0.217413,0.269065,0.191815,0.242788,0.249527,0.243957,1.000000,0.221929,0.088150,0.078553
138208.0,0.360917,0.338792,0.248290,0.285804,0.316412,0.055362,0.251618,0.361140,0.358289,0.290727,...,0.272628,0.470288,0.398965,0.317905,0.207518,0.277353,0.221929,1.000000,0.316640,0.373902
138211.0,0.115467,0.166682,0.152680,0.179026,0.119429,0.067935,0.175869,0.124148,0.077126,0.053014,...,0.164392,0.237788,0.215664,0.133602,0.221875,0.226109,0.088150,0.316640,1.000000,0.126863
138254.0,0.297980,0.375661,0.312463,0.117565,0.358008,0.285872,0.465180,0.285200,0.257761,0.301422,...,0.314198,0.401437,0.515467,0.296695,0.057497,0.187846,0.078553,0.373902,0.126863,1.000000

In [71]:
final_df.T.corr().unstack()

userId    userId
91.0      91.0        1.000000
          116.0       0.358182
          156.0       0.217930
          208.0       0.240771
          294.0       0.352998
                        ...
138254.0  138134.0    0.187846
          138162.0    0.078553
          138208.0    0.373902
          138211.0    0.126863
          138254.0    1.000000
Length: 4149369, dtype: float64

In [64]:
corr_df=final_df.T.corr().unstack().sort_values();corr_df

userId    userId
5155.0    67346.0    -0.427452
67346.0   5155.0     -0.427452
129746.0  59853.0    -0.421411
59853.0   129746.0   -0.421411
20011.0   59853.0    -0.401341
                        ...
90878.0   90878.0     1.000000
90938.0   90938.0     1.000000
90963.0   90963.0     1.000000
89460.0   89460.0     1.000000
138254.0  138254.0    1.000000
Length: 4149369, dtype: float64

In [66]:
corr_df.loc[random_user].sort_values(ascending=False)

userId
47865.0     1.000000
74345.0     0.459724
100992.0    0.458122
92362.0     0.457177
101110.0    0.448417
              ...
78453.0    -0.107900
17127.0    -0.114604
127486.0   -0.140479
132090.0   -0.149170
62762.0    -0.169989
Length: 2037, dtype: float64

In [46]:
corr_df=final_df.T.corr().unstack().sort_values().drop_duplicates();corr_df

userId    userId
5155.0    67346.0    -0.427452
129746.0  59853.0    -0.421411
20011.0   59853.0    -0.401341
134210.0  59853.0    -0.399324
21496.0   59853.0    -0.391848
                        ...
54107.0   119048.0    0.940718
17918.0   25478.0     0.942789
31404.0   75448.0     0.944399
32344.0   68063.0     0.973377
91.0      91.0        1.000000
Length: 2073667, dtype: float64

In [47]:
random_user

47865.0

In [48]:
corr_df[random_user].duplicated()

userId
132090.0    False
17127.0     False
37253.0     False
108980.0    False
108872.0    False
            ...
90138.0     False
125065.0    False
105325.0    False
100992.0    False
74345.0     False
Length: 980, dtype: bool

In [49]:
corr_df = pd.DataFrame(corr_df,columns =["corr"])
corr_df.index.names = ["user_id_1","user_id_2"];corr_df

                         corr
user_id_1 user_id_2
5155.0    67346.0   -0.427452
129746.0  59853.0   -0.421411
20011.0   59853.0   -0.401341
134210.0  59853.0   -0.399324
21496.0   59853.0   -0.391848
...                       ...
54107.0   119048.0   0.940718
17918.0   25478.0    0.942789
31404.0   75448.0    0.944399
32344.0   68063.0    0.973377
91.0      91.0       1.000000

[2073667 rows x 1 columns]

In [50]:
corr_df.reset_index(inplace=True)

In [51]:
corr_df.loc[(corr_df["user_id_2"]==random_user) & (corr_df["user_id_1"]==random_user)]

Empty DataFrame
Columns: [user_id_1, user_id_2, corr]
Index: []

In [62]:
corr_df.loc[(corr_df["user_id_1"]==random_user) & (corr_df["corr"]>0.4)]

         user_id_1  user_id_2      corr
1834235    47865.0    80185.0  0.400073
1839966    47865.0   114570.0  0.401914
1841743    47865.0    73463.0  0.402488
1845650    47865.0   124123.0  0.403775
1851437    47865.0    60210.0  0.405696
1859241    47865.0    25478.0  0.408300
1866423    47865.0     8405.0  0.410791
1883297    47865.0    68796.0  0.416892
1883455    47865.0    63834.0  0.416950
1899332    47865.0    84249.0  0.422952
1900071    47865.0   119148.0  0.423237
1906063    47865.0    95993.0  0.425657
1908812    47865.0   115604.0  0.426774
1911623    47865.0    77200.0  0.427959
1921497    47865.0    90138.0  0.432122
1945386    47865.0   125065.0  0.443187
1954635    47865.0   105325.0  0.447894
1973266    47865.0   100992.0  0.458122
1975954    47865.0    74345.0  0.459724

In [61]:
corr_df.loc[corr_df["user_id_1"]==random_user].sort_values("corr",ascending=False)

         user_id_1  user_id_2      corr
1975954    47865.0    74345.0  0.459724
1973266    47865.0   100992.0  0.458122
1954635    47865.0   105325.0  0.447894
1945386    47865.0   125065.0  0.443187
1921497    47865.0    90138.0  0.432122
...            ...        ...       ...
32083      47865.0   108872.0 -0.061693
19125      47865.0   108980.0 -0.090502
15137      47865.0    37253.0 -0.103051
12010      47865.0    17127.0 -0.114604
6018       47865.0   132090.0 -0.149170

[980 rows x 3 columns]