In [1]:
import pandas as pd
def create_user_movie_df():
    movie = pd.read_csv("movies.csv")
    rating = pd.read_csv("ratings.csv")
    df = pd.merge(movie, rating, how="left",on="movieId")
    movie_counts = df["title"].value_counts()
    movie_index = list(movie_counts[movie_counts>1000].index)
    common_movies = df.loc[df["title"].isin(movie_index)]
    user_movie_df = common_movies.pivot_table(index="userId",columns="title",values="rating")
    return user_movie_df

user_movie_df=create_user_movie_df()

In [2]:
user_movie_df

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138489.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138490.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138491.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138493.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.5,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
random_user=int(pd.Series(user_movie_df.index).sample(1,random_state=45).values)
random_user

28941

In [4]:
user_movie_df.loc[random_user]

title
'burbs, The (1989)                  NaN
(500) Days of Summer (2009)         NaN
*batteries not included (1987)      NaN
...And Justice for All (1979)       NaN
10 Things I Hate About You (1999)   NaN
                                     ..
Zulu (1964)                         NaN
[REC] (2007)                        NaN
eXistenZ (1999)                     NaN
xXx (2002)                          NaN
¡Three Amigos! (1986)               NaN
Name: 28941.0, Length: 3159, dtype: float64

In [5]:
user_movie_df[user_movie_df.index==random_user]

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
28941.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
random_user_df = user_movie_df[user_movie_df.index==random_user]
movies_watched= random_user_df.columns[random_user_df.notna().any()].tolist()
movies_watched

['Ace Ventura: Pet Detective (1994)',
 'Ace Ventura: When Nature Calls (1995)',
 'Aladdin (1992)',
 'American President, The (1995)',
 'Apollo 13 (1995)',
 'Babe (1995)',
 'Bullets Over Broadway (1994)',
 'Clueless (1995)',
 'Disclosure (1994)',
 'Forrest Gump (1994)',
 'Four Weddings and a Funeral (1994)',
 'Home Alone (1990)',
 'Jurassic Park (1993)',
 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 'Little Women (1994)',
 "Mr. Holland's Opus (1995)",
 'Mrs. Doubtfire (1993)',
 'Much Ado About Nothing (1993)',
 "Muriel's Wedding (1994)",
 'Nine Months (1995)',
 'Operation Dumbo Drop (1995)',
 'Piano, The (1993)',
 'Postman, The (Postino, Il) (1994)',
 'Ready to Wear (Pret-A-Porter) (1994)',
 'Remains of the Day, The (1993)',
 'Sabrina (1995)',
 "Schindler's List (1993)",
 'Secret Garden, The (1993)',
 'Sense and Sensibility (1995)',
 'Shadowlands (1993)',
 'Silence of the Lambs, The (1991)',
 'Star Trek: Generations (1994)',
 'Stargate (1994)']

In [7]:
user_movie_df.loc[random_user].dropna()

title
Ace Ventura: Pet Detective (1994)                             3.0
Ace Ventura: When Nature Calls (1995)                         2.0
Aladdin (1992)                                                2.0
American President, The (1995)                                3.0
Apollo 13 (1995)                                              3.0
Babe (1995)                                                   5.0
Bullets Over Broadway (1994)                                  4.0
Clueless (1995)                                               5.0
Disclosure (1994)                                             3.0
Forrest Gump (1994)                                           3.0
Four Weddings and a Funeral (1994)                            5.0
Home Alone (1990)                                             3.0
Jurassic Park (1993)                                          3.0
Like Water for Chocolate (Como agua para chocolate) (1992)    5.0
Little Women (1994)                                           4.0
Mr. Holland's Opus (1995)                                     3.0
Mrs. Doubtfire (1993)                                         3.0
Much Ado About Nothing (1993)                                 5.0
Muriel's Wedding (1994)                                       4.0
Nine Months (1995)                                            2.0
Operation Dumbo Drop (1995)                                   1.0
Piano, The (1993)                                             5.0
Postman, The (Postino, Il) (1994)                             5.0
Ready to Wear (Pret-A-Porter) (1994)                          3.0
Remains of the Day, The (1993)                                5.0
Sabrina (1995)                                                5.0
Schindler's List (1993)                                       5.0
Secret Garden, The (1993)                                     3.0
Sense and Sensibility (1995)                                  5.0
Shadowlands (1993)                                            5.0
Silence of the Lambs, The (1991)                              1.0
Star Trek: Generations (1994)                                 1.0
Stargate (1994)                                               1.0
Name: 28941.0, dtype: float64

In [8]:
list(user_movie_df.loc[random_user].dropna().index)

['Ace Ventura: Pet Detective (1994)',
 'Ace Ventura: When Nature Calls (1995)',
 'Aladdin (1992)',
 'American President, The (1995)',
 'Apollo 13 (1995)',
 'Babe (1995)',
 'Bullets Over Broadway (1994)',
 'Clueless (1995)',
 'Disclosure (1994)',
 'Forrest Gump (1994)',
 'Four Weddings and a Funeral (1994)',
 'Home Alone (1990)',
 'Jurassic Park (1993)',
 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 'Little Women (1994)',
 "Mr. Holland's Opus (1995)",
 'Mrs. Doubtfire (1993)',
 'Much Ado About Nothing (1993)',
 "Muriel's Wedding (1994)",
 'Nine Months (1995)',
 'Operation Dumbo Drop (1995)',
 'Piano, The (1993)',
 'Postman, The (Postino, Il) (1994)',
 'Ready to Wear (Pret-A-Porter) (1994)',
 'Remains of the Day, The (1993)',
 'Sabrina (1995)',
 "Schindler's List (1993)",
 'Secret Garden, The (1993)',
 'Sense and Sensibility (1995)',
 'Shadowlands (1993)',
 'Silence of the Lambs, The (1991)',
 'Star Trek: Generations (1994)',
 'Stargate (1994)']

In [9]:
len(movies_watched)

33

In [10]:
movies_watched_df=user_movie_df[movies_watched]
movies_watched_df

title,Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Aladdin (1992),"American President, The (1995)",Apollo 13 (1995),Babe (1995),Bullets Over Broadway (1994),Clueless (1995),Disclosure (1994),Forrest Gump (1994),...,Ready to Wear (Pret-A-Porter) (1994),"Remains of the Day, The (1993)",Sabrina (1995),Schindler's List (1993),"Secret Garden, The (1993)",Sense and Sensibility (1995),Shadowlands (1993),"Silence of the Lambs, The (1991)",Star Trek: Generations (1994),Stargate (1994)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,5.0
4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,3.0,NaN
5.0,NaN,NaN,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,5.0,3.0,NaN,3.0,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138489.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
138490.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,4.0,NaN,5.0,NaN,NaN
138491.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138493.0,4.0,4.0,4.5,NaN,4.5,3.0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
user_movie_count=movies_watched_df.count(axis=1)
user_movie_count

userId
1.0          1
2.0          2
3.0          4
4.0          6
5.0         11
            ..
138489.0     1
138490.0     7
138491.0     0
138492.0     2
138493.0     9
Length: 138493, dtype: int64

In [12]:
movies_watched_df.isna().sum(axis=1) # nan değerlerin sayısı

userId
1.0         32
2.0         31
3.0         29
4.0         27
5.0         22
            ..
138489.0    32
138490.0    26
138491.0    33
138492.0    31
138493.0    24
Length: 138493, dtype: int64

In [13]:
movies_watched_df.notnull().sum(axis=1)

userId
1.0          1
2.0          2
3.0          4
4.0          6
5.0         11
            ..
138489.0     1
138490.0     7
138491.0     0
138492.0     2
138493.0     9
Length: 138493, dtype: int64

In [14]:
movies_watched_df.notnull().sum()

title
Ace Ventura: Pet Detective (1994)                             38226
Ace Ventura: When Nature Calls (1995)                         20938
Aladdin (1992)                                                41844
American President, The (1995)                                18162
Apollo 13 (1995)                                              47777
Babe (1995)                                                   32255
Bullets Over Broadway (1994)                                   8038
Clueless (1995)                                               26254
Disclosure (1994)                                             12662
Forrest Gump (1994)                                           66172
Four Weddings and a Funeral (1994)                            27699
Home Alone (1990)                                             28348
Jurassic Park (1993)                                          59715
Like Water for Chocolate (Como agua para chocolate) (1992)    11975
Little Women (1994)                                           10367
Mr. Holland's Opus (1995)                                     19381
Mrs. Doubtfire (1993)                                         34392
Much Ado About Nothing (1993)                                 14214
Muriel's Wedding (1994)                                       11690
Nine Months (1995)                                            11222
Operation Dumbo Drop (1995)                                    2963
Piano, The (1993)                                             17068
Postman, The (Postino, Il) (1994)                             11549
Ready to Wear (Pret-A-Porter) (1994)                           3429
Remains of the Day, The (1993)                                10661
Sabrina (1995)                                                12961
Schindler's List (1993)                                       50054
Secret Garden, The (1993)                                      7459
Sense and Sensibility (1995)                                  20667
Shadowlands (1993)                                             4869
Silence of the Lambs, The (1991)                              63299
Star Trek: Generations (1994)                                 26404
Stargate (1994)                                               31799
dtype: int64

In [15]:
user_movie_count = user_movie_count.reset_index()
user_movie_count.columns = ["userId","movie_count"]
user_movie_count

          userId  movie_count
0            1.0            1
1            2.0            2
2            3.0            4
3            4.0            6
4            5.0           11
...          ...          ...
138488  138489.0            1
138489  138490.0            7
138490  138491.0            0
138491  138492.0            2
138492  138493.0            9

[138493 rows x 2 columns]

In [16]:
user_movie_count.loc[user_movie_count["movie_count"]>20].sort_values("movie_count",ascending=False)

          userId  movie_count
94230    94231.0           33
100398  100399.0           33
118204  118205.0           33
15918    15919.0           33
124051  124052.0           33
...          ...          ...
79214    79215.0           21
79174    79175.0           21
9105      9106.0           21
78515    78516.0           21
129        130.0           21

[3202 rows x 2 columns]

In [17]:
users_same_movies=user_movie_count.loc[user_movie_count["movie_count"]>20,"userId"]
users_same_movies

129          130.0
155          156.0
157          158.0
183          184.0
294          295.0
            ...
138207    138208.0
138278    138279.0
138381    138382.0
138414    138415.0
138482    138483.0
Name: userId, Length: 3202, dtype: float64

In [18]:
list(users_same_movies.values)

[130.0,
 156.0,
 158.0,
 184.0,
 295.0,
 330.0,
 427.0,
 579.0,
 614.0,
 721.0,
 725.0,
 741.0,
 754.0,
 775.0,
 903.0,
 955.0,
 982.0,
 986.0,
 1007.0,
 1105.0,
 1155.0,
 1280.0,
 1302.0,
 1362.0,
 1367.0,
 1376.0,
 1411.0,
 1437.0,
 1507.0,
 1547.0,
 1560.0,
 1566.0,
 1617.0,
 1638.0,
 1645.0,
 1729.0,
 1748.0,
 1845.0,
 1849.0,
 1869.0,
 1931.0,
 1942.0,
 1966.0,
 1983.0,
 2094.0,
 2158.0,
 2171.0,
 2191.0,
 2261.0,
 2311.0,
 2323.0,
 2349.0,
 2397.0,
 2406.0,
 2424.0,
 2484.0,
 2540.0,
 2643.0,
 2647.0,
 2649.0,
 2656.0,
 2657.0,
 2669.0,
 2740.0,
 2762.0,
 2862.0,
 2902.0,
 2919.0,
 2937.0,
 2972.0,
 3068.0,
 3086.0,
 3109.0,
 3125.0,
 3192.0,
 3197.0,
 3199.0,
 3249.0,
 3264.0,
 3284.0,
 3289.0,
 3318.0,
 3352.0,
 3397.0,
 3504.0,
 3576.0,
 3609.0,
 3612.0,
 3618.0,
 3651.0,
 3673.0,
 3704.0,
 3775.0,
 3816.0,
 3862.0,
 3907.0,
 4020.0,
 4023.0,
 4133.0,
 4158.0,
 4184.0,
 4193.0,
 4222.0,
 4295.0,
 4358.0,
 4389.0,
 4418.0,
 4420.0,
 4436.0,
 4500.0,
 4507.0,
 4529.0,
 4533.0,
 4539.0,
 4548.0,
 4569.0,
 4594.0,
 4598.0,
 4603.0,
 4642.0,
 4649.0,
 4696.0,
 4725.0,
 4748.0,
 4797.0,
 4864.0,
 4892.0,
 4976.0,
 4989.0,
 5016.0,
 5084.0,
 5094.0,
 5110.0,
 5137.0,
 5155.0,
 5365.0,
 5375.0,
 5382.0,
 5561.0,
 5576.0,
 5585.0,
 5621.0,
 5623.0,
 5640.0,
 5658.0,
 5686.0,
 5730.0,
 5768.0,
 5814.0,
 5881.0,
 5921.0,
 6008.0,
 6012.0,
 6017.0,
 6050.0,
 6086.0,
 6128.0,
 6167.0,
 6168.0,
 6177.0,
 6232.0,
 6373.0,
 6418.0,
 6460.0,
 6476.0,
 6486.0,
 6497.0,
 6535.0,
 6559.0,
 6560.0,
 6578.0,
 6618.0,
 6630.0,
 6719.0,
 6847.0,
 6873.0,
 6952.0,
 6964.0,
 7051.0,
 7131.0,
 7321.0,
 7377.0,
 7416.0,
 7438.0,
 7472.0,
 7542.0,
 7588.0,
 7609.0,
 7677.0,
 7699.0,
 7807.0,
 7823.0,
 7858.0,
 7880.0,
 7916.0,
 7955.0,
 7956.0,
 7985.0,
 7987.0,
 8096.0,
 8218.0,
 8310.0,
 8312.0,
 8391.0,
 8404.0,
 8405.0,
 8441.0,
 8482.0,
 8541.0,
 8598.0,
 8608.0,
 8786.0,
 8900.0,
 8930.0,
 8934.0,
 8962.0,
 8963.0,
 8966.0,
 9084.0,
 9087.0,
 9106.0,
 9109.0,
 9267.0,
 9321.0,
 9403.0,
 9496.0,
 9514.0,
 9544.0,
 9545.0,
 9690.0,
 9732.0,
 9783.0,
 9828.0,
 9867.0,
 9879.0,
 9905.0,
 9930.0,
 9959.0,
 10024.0,
 10027.0,
 10062.0,
 10086.0,
 10099.0,
 10205.0,
 10271.0,
 10303.0,
 10321.0,
 10398.0,
 10423.0,
 10431.0,
 10434.0,
 10437.0,
 10553.0,
 10560.0,
 10581.0,
 10622.0,
 10651.0,
 10678.0,
 10699.0,
 10732.0,
 10761.0,
 10848.0,
 10855.0,
 10906.0,
 10916.0,
 10943.0,
 10951.0,
 10989.0,
 11074.0,
 11134.0,
 11229.0,
 11246.0,
 11254.0,
 11314.0,
 11318.0,
 11319.0,
 11333.0,
 11393.0,
 11425.0,
 11560.0,
 11579.0,
 11635.0,
 11672.0,
 11741.0,
 11747.0,
 11861.0,
 11886.0,
 11888.0,
 11900.0,
 11943.0,
 12037.0,
 12044.0,
 12080.0,
 12128.0,
 12131.0,
 12137.0,
 12467.0,
 12535.0,
 12618.0,
 12619.0,
 12644.0,
 12668.0,
 12726.0,
 12740.0,
 12754.0,
 12767.0,
 12802.0,
 12950.0,
 13064.0,
 13068.0,
 13087.0,
 13170.0,
 13259.0,
 13281.0,
 13370.0,
 13373.0,
 13527.0,
 13535.0,
 13576.0,
 13581.0,
 13684.0,
 13717.0,
 13730.0,
 13753.0,
 13795.0,
 13849.0,
 13892.0,
 13929.0,
 13938.0,
 13955.0,
 14032.0,
 14060.0,
 14076.0,
 14117.0,
 14151.0,
 14203.0,
 14355.0,
 14434.0,
 14457.0,
 14463.0,
 14519.0,
 14542.0,
 14547.0,
 14551.0,
 14655.0,
 14678.0,
 14705.0,
 14779.0,
 14798.0,
 14831.0,
 14859.0,
 14869.0,
 14977.0,
 14986.0,
 15047.0,
 15075.0,
 15083.0,
 15098.0,
 15116.0,
 15149.0,
 15177.0,
 15202.0,
 15203.0,
 15266.0,
 15314.0,
 15344.0,
 15393.0,
 15478.0,
 15486.0,
 15529.0,
 15601.0,
 15617.0,
 15627.0,
 15656.0,
 15718.0,
 15720.0,
 15733.0,
 15802.0,
 15855.0,
 15882.0,
 15901.0,
 15919.0,
 15944.0,
 16083.0,
 16107.0,
 16116.0,
 16135.0,
 16162.0,
 16343.0,
 16424.0,
 16443.0,
 16447.0,
 16452.0,
 16489.0,
 16497.0,
 16562.0,
 16608.0,
 16655.0,
 16661.0,
 16676.0,
 16688.0,
 16822.0,
 16830.0,
 16840.0,
 16865.0,
 16893.0,
 16938.0,
 17038.0,
 17164.0,
 17176.0,
 17200.0,
 17333.0,
 17455.0,
 17470.0,
 17474.0,
 17494.0,
 17515.0,
 17600.0,
 17671.0,
 17736.0,
 17747.0,
 17807.0,
 17829.0,
 17941.0,
 18031.0,
 18040.0,
 18069.0,
 18138.0,
 18191.0,
 18265.0,
 18270.0,
 18278.0,
 18376.0,
 18391.0,
 18415.0,
 18458.0,
 18467.0,
 18534.0,
 18588.0,
 18611.0,
 18628.0,
 18670.0,
 18700.0,
 18765.0,
 18795.0,
 18797.0,
 18815.0,
 18859.0,
 18877.0,
 18892.0,
 18893.0,
 18907.0,
 18999.0,
 19067.0,
 19088.0,
 19107.0,
 19147.0,
 19242.0,
 19380.0,
 19480.0,
 19528.0,
 19529.0,
 19530.0,
 19602.0,
 19617.0,
 19632.0,
 19657.0,
 19664.0,
 19701.0,
 19711.0,
 19716.0,
 19732.0,
 19740.0,
 19761.0,
 19937.0,
 19954.0,
 19963.0,
 20090.0,
 20132.0,
 20245.0,
 20257.0,
 20440.0,
 20452.0,
 20453.0,
 20506.0,
 20635.0,
 20667.0,
 20678.0,
 20713.0,
 20756.0,
 20813.0,
 20955.0,
 20972.0,
 20988.0,
 21018.0,
 21078.0,
 21082.0,
 21163.0,
 21165.0,
 21326.0,
 21331.0,
 21349.0,
 21391.0,
 21398.0,
 21496.0,
 21516.0,
 21569.0,
 21601.0,
 21634.0,
 21664.0,
 21670.0,
 21678.0,
 21746.0,
 21784.0,
 21789.0,
 21902.0,
 22094.0,
 22112.0,
 22182.0,
 22205.0,
 22229.0,
 22264.0,
 22372.0,
 22402.0,
 22411.0,
 22442.0,
 22445.0,
 22503.0,
 22524.0,
 22550.0,
 22569.0,
 22584.0,
 22679.0,
 22707.0,
 22723.0,
 22784.0,
 22823.0,
 22898.0,
 22963.0,
 22966.0,
 22983.0,
 23061.0,
 23091.0,
 23127.0,
 23136.0,
 23173.0,
 23186.0,
 23202.0,
 23227.0,
 23268.0,
 23311.0,
 23317.0,
 23333.0,
 23375.0,
 23437.0,
 23459.0,
 23467.0,
 23523.0,
 23526.0,
 23596.0,
 23736.0,
 23751.0,
 23774.0,
 23843.0,
 23913.0,
 23926.0,
 23957.0,
 23965.0,
 24119.0,
 24127.0,
 24129.0,
 24147.0,
 24167.0,
 24171.0,
 24196.0,
 24201.0,
 24212.0,
 24214.0,
 24219.0,
 24220.0,
 24229.0,
 24263.0,
 24269.0,
 24302.0,
 24508.0,
 24661.0,
 24688.0,
 24709.0,
 24719.0,
 24735.0,
 24765.0,
 24806.0,
 24816.0,
 24830.0,
 24846.0,
 24881.0,
 25031.0,
 25058.0,
 25072.0,
 25080.0,
 25174.0,
 25188.0,
 25192.0,
 25215.0,
 25235.0,
 25237.0,
 25390.0,
 25411.0,
 25450.0,
 25479.0,
 25507.0,
 25511.0,
 25592.0,
 25650.0,
 25651.0,
 25704.0,
 25771.0,
 25786.0,
 25827.0,
 25830.0,
 25878.0,
 25920.0,
 25978.0,
 26021.0,
 26036.0,
 26067.0,
 26153.0,
 26162.0,
 26180.0,
 26193.0,
 26198.0,
 26238.0,
 26354.0,
 26378.0,
 26402.0,
 26453.0,
 26480.0,
 26506.0,
 26582.0,
 26584.0,
 26612.0,
 26638.0,
 26659.0,
 26673.0,
 26739.0,
 26786.0,
 26815.0,
 26885.0,
 26929.0,
 26957.0,
 27000.0,
 27041.0,
 27054.0,
 27073.0,
 27136.0,
 27157.0,
 27166.0,
 27189.0,
 27239.0,
 27278.0,
 27355.0,
 27371.0,
 27406.0,
 27463.0,
 27469.0,
 27473.0,
 27503.0,
 27526.0,
 27531.0,
 27636.0,
 27657.0,
 27665.0,
 27679.0,
 27703.0,
 27783.0,
 27810.0,
 27829.0,
 27861.0,
 27894.0,
 28012.0,
 28035.0,
 28055.0,
 28205.0,
 28227.0,
 28235.0,
 28287.0,
 28298.0,
 28359.0,
 28370.0,
 28388.0,
 28406.0,
 28466.0,
 28562.0,
 28569.0,
 28611.0,
 28657.0,
 28702.0,
 28709.0,
 28792.0,
 28830.0,
 28866.0,
 28912.0,
 28920.0,
 28925.0,
 28941.0,
 29015.0,
 29022.0,
 29037.0,
 29056.0,
 29069.0,
 29224.0,
 29229.0,
 29259.0,
 29398.0,
 29499.0,
 29510.0,
 29516.0,
 29575.0,
 29586.0,
 29738.0,
 29810.0,
 29879.0,
 29981.0,
 30043.0,
 30054.0,
 30129.0,
 30137.0,
 30174.0,
 30254.0,
 30267.0,
 30329.0,
 30364.0,
 30387.0,
 30408.0,
 30428.0,
 30471.0,
 30497.0,
 30515.0,
 30546.0,
 30568.0,
 30570.0,
 30590.0,
 30666.0,
 30699.0,
 30707.0,
 30736.0,
 30747.0,
 30755.0,
 30762.0,
 30815.0,
 30825.0,
 30868.0,
 30870.0,
 30925.0,
 31092.0,
 31122.0,
 31127.0,
 31311.0,
 31494.0,
 31503.0,
 31514.0,
 31533.0,
 31566.0,
 31659.0,
 31671.0,
 31680.0,
 31681.0,
 31717.0,
 31753.0,
 31777.0,
 31838.0,
 31890.0,
 31912.0,
 31919.0,
 32018.0,
 32106.0,
 32173.0,
 32192.0,
 32243.0,
 32342.0,
 32344.0,
 32375.0,
 32500.0,
 32603.0,
 32636.0,
 32665.0,
 32840.0,
 32919.0,
 32935.0,
 32984.0,
 33052.0,
 33082.0,
 33136.0,
 33349.0,
 33364.0,
 33402.0,
 33495.0,
 33549.0,
 33584.0,
 33608.0,
 33736.0,
 33801.0,
 33836.0,
 33855.0,
 33876.0,
 34007.0,
 34052.0,
 34069.0,
 34103.0,
 34184.0,
 34185.0,
 34230.0,
 34268.0,
 34307.0,
 34313.0,
 34350.0,
 34368.0,
 34436.0,
 34468.0,
 34485.0,
 34529.0,
 34576.0,
 34646.0,
 34650.0,
 34651.0,
 34686.0,
 34719.0,
 34812.0,
 34817.0,
 34823.0,
 34856.0,
 34869.0,
 34971.0,
 35024.0,
 35038.0,
 35115.0,
 35128.0,
 35258.0,
 35320.0,
 35391.0,
 35465.0,
 35498.0,
 35514.0,
 35538.0,
 35615.0,
 35745.0,
 35813.0,
 35833.0,
 35834.0,
 35876.0,
 36000.0,
 36016.0,
 36019.0,
 36060.0,
 36093.0,
 36097.0,
 36098.0,
 36153.0,
 36192.0,
 36263.0,
 36391.0,
 36479.0,
 36499.0,
 36512.0,
 36524.0,
 36710.0,
 36743.0,
 36821.0,
 36872.0,
 36915.0,
 36979.0,
 36985.0,
 37042.0,
 37049.0,
 37051.0,
 37121.0,
 37144.0,
 37145.0,
 37191.0,
 37253.0,
 37302.0,
 37331.0,
 37398.0,
 37404.0,
 37422.0,
 37423.0,
 37463.0,
 37514.0,
 37560.0,
 37577.0,
 37585.0,
 37623.0,
 37629.0,
 37653.0,
 37775.0,
 37790.0,
 37848.0,
 37850.0,
 37867.0,
 37879.0,
 37897.0,
 37945.0,
 37978.0,
 37999.0,
 38041.0,
 38148.0,
 38169.0,
 38172.0,
 38202.0,
 38562.0,
 38639.0,
 38680.0,
 38710.0,
 38733.0,
 38773.0,
 38792.0,
 38829.0,
 38868.0,
 38886.0,
 38899.0,
 38932.0,
 38956.0,
 38964.0,
 38978.0,
 38998.0,
 39181.0,
 39191.0,
 39198.0,
 39208.0,
 39249.0,
 39273.0,
 39303.0,
 39346.0,
 39357.0,
 39382.0,
 39454.0,
 39497.0,
 39510.0,
 39514.0,
 39531.0,
 39583.0,
 39619.0,
 39662.0,
 39671.0,
 39734.0,
 39749.0,
 39766.0,
 39778.0,
 39806.0,
 39809.0,
 39834.0,
 39846.0,
 39876.0,
 40010.0,
 40039.0,
 40058.0,
 40156.0,
 40167.0,
 40231.0,
 40245.0,
 40285.0,
 40308.0,
 40469.0,
 40483.0,
 40505.0,
 40647.0,
 40666.0,
 40674.0,
 40741.0,
 40749.0,
 40814.0,
 40846.0,
 40856.0,
 40936.0,
 41005.0,
 41064.0,
 41124.0,
 41176.0,
 41206.0,
 41262.0,
 41267.0,
 41389.0,
 41393.0,
 41404.0,
 41491.0,
 41517.0,
 41585.0,
 41591.0,
 41605.0,
 41612.0,
 41671.0,
 41693.0,
 41848.0,
 41864.0,
 41925.0,
 41929.0,
 41995.0,
 42059.0,
 42091.0,
 42200.0,
 ...]

In [19]:
movies_watched_df[movies_watched_df.index.isin(list(users_same_movies.values))]

title,Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Aladdin (1992),"American President, The (1995)",Apollo 13 (1995),Babe (1995),Bullets Over Broadway (1994),Clueless (1995),Disclosure (1994),Forrest Gump (1994),...,Ready to Wear (Pret-A-Porter) (1994),"Remains of the Day, The (1993)",Sabrina (1995),Schindler's List (1993),"Secret Garden, The (1993)",Sense and Sensibility (1995),Shadowlands (1993),"Silence of the Lambs, The (1991)",Star Trek: Generations (1994),Stargate (1994)
userId,,,,,,,,,,,,,,,,,,,,,
130.0,4.0,3.0,NaN,3.0,3.0,NaN,NaN,3.0,5.0,5.0,...,NaN,3.0,NaN,5.0,NaN,NaN,3.0,5.0,NaN,3.0
156.0,3.0,NaN,NaN,5.0,5.0,3.0,NaN,NaN,4.0,5.0,...,NaN,NaN,4.0,5.0,NaN,4.0,4.0,5.0,3.0,4.0
158.0,2.0,1.0,4.0,4.0,3.0,5.0,NaN,4.0,NaN,5.0,...,NaN,5.0,3.0,5.0,5.0,4.0,5.0,5.0,NaN,NaN
184.0,2.0,3.0,3.0,4.0,4.0,NaN,3.0,NaN,4.0,3.0,...,NaN,4.0,4.0,5.0,4.0,NaN,4.0,5.0,3.0,4.0
295.0,NaN,NaN,3.0,3.0,3.0,3.0,3.0,2.0,NaN,4.0,...,NaN,3.0,3.0,4.0,3.0,4.0,NaN,4.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138208.0,2.0,1.0,4.0,3.0,3.0,3.0,4.0,3.0,2.0,3.0,...,NaN,3.0,3.0,5.0,2.0,4.0,NaN,3.0,3.0,3.0
138279.0,3.0,NaN,NaN,3.0,5.0,5.0,5.0,4.0,NaN,5.0,...,NaN,5.0,NaN,5.0,NaN,4.0,NaN,5.0,3.0,3.0
138382.0,1.0,1.0,4.0,2.0,3.0,5.0,NaN,4.0,3.0,5.0,...,NaN,NaN,3.0,NaN,3.0,3.0,NaN,5.0,NaN,4.0
138415.0,1.0,NaN,3.0,4.0,3.0,5.0,NaN,NaN,NaN,4.0,...,NaN,5.0,NaN,5.0,3.0,4.0,4.0,NaN,3.0,NaN
138483.0,1.0,1.0,3.0,3.0,3.0,NaN,3.0,3.0,2.0,4.0,...,3.0,4.0,NaN,4.0,3.0,4.0,4.0,4.0,2.0,2.0

In [20]:
movies_watched_df[movies_watched_df.index.isin(users_same_movies)]

title,Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Aladdin (1992),"American President, The (1995)",Apollo 13 (1995),Babe (1995),Bullets Over Broadway (1994),Clueless (1995),Disclosure (1994),Forrest Gump (1994),...,Ready to Wear (Pret-A-Porter) (1994),"Remains of the Day, The (1993)",Sabrina (1995),Schindler's List (1993),"Secret Garden, The (1993)",Sense and Sensibility (1995),Shadowlands (1993),"Silence of the Lambs, The (1991)",Star Trek: Generations (1994),Stargate (1994)
userId,,,,,,,,,,,,,,,,,,,,,
130.0,4.0,3.0,NaN,3.0,3.0,NaN,NaN,3.0,5.0,5.0,...,NaN,3.0,NaN,5.0,NaN,NaN,3.0,5.0,NaN,3.0
156.0,3.0,NaN,NaN,5.0,5.0,3.0,NaN,NaN,4.0,5.0,...,NaN,NaN,4.0,5.0,NaN,4.0,4.0,5.0,3.0,4.0
158.0,2.0,1.0,4.0,4.0,3.0,5.0,NaN,4.0,NaN,5.0,...,NaN,5.0,3.0,5.0,5.0,4.0,5.0,5.0,NaN,NaN
184.0,2.0,3.0,3.0,4.0,4.0,NaN,3.0,NaN,4.0,3.0,...,NaN,4.0,4.0,5.0,4.0,NaN,4.0,5.0,3.0,4.0
295.0,NaN,NaN,3.0,3.0,3.0,3.0,3.0,2.0,NaN,4.0,...,NaN,3.0,3.0,4.0,3.0,4.0,NaN,4.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138208.0,2.0,1.0,4.0,3.0,3.0,3.0,4.0,3.0,2.0,3.0,...,NaN,3.0,3.0,5.0,2.0,4.0,NaN,3.0,3.0,3.0
138279.0,3.0,NaN,NaN,3.0,5.0,5.0,5.0,4.0,NaN,5.0,...,NaN,5.0,NaN,5.0,NaN,4.0,NaN,5.0,3.0,3.0
138382.0,1.0,1.0,4.0,2.0,3.0,5.0,NaN,4.0,3.0,5.0,...,NaN,NaN,3.0,NaN,3.0,3.0,NaN,5.0,NaN,4.0
138415.0,1.0,NaN,3.0,4.0,3.0,5.0,NaN,NaN,NaN,4.0,...,NaN,5.0,NaN,5.0,3.0,4.0,4.0,NaN,3.0,NaN
138483.0,1.0,1.0,3.0,3.0,3.0,NaN,3.0,3.0,2.0,4.0,...,3.0,4.0,NaN,4.0,3.0,4.0,4.0,4.0,2.0,2.0

In [21]:
random_user_df[movies_watched]

title,Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Aladdin (1992),"American President, The (1995)",Apollo 13 (1995),Babe (1995),Bullets Over Broadway (1994),Clueless (1995),Disclosure (1994),Forrest Gump (1994),...,Ready to Wear (Pret-A-Porter) (1994),"Remains of the Day, The (1993)",Sabrina (1995),Schindler's List (1993),"Secret Garden, The (1993)",Sense and Sensibility (1995),Shadowlands (1993),"Silence of the Lambs, The (1991)",Star Trek: Generations (1994),Stargate (1994)
userId,,,,,,,,,,,,,,,,,,,,,
28941.0,3.0,2.0,2.0,3.0,3.0,5.0,4.0,5.0,3.0,3.0,...,3.0,5.0,5.0,5.0,3.0,5.0,5.0,1.0,1.0,1.0

In [140]:
final_df=pd.concat([movies_watched_df[movies_watched_df.index.isin(users_same_movies)],random_user_df[movies_watched]])
final_df

title,Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Aladdin (1992),"American President, The (1995)",Apollo 13 (1995),Babe (1995),Bullets Over Broadway (1994),Clueless (1995),Disclosure (1994),Forrest Gump (1994),...,Ready to Wear (Pret-A-Porter) (1994),"Remains of the Day, The (1993)",Sabrina (1995),Schindler's List (1993),"Secret Garden, The (1993)",Sense and Sensibility (1995),Shadowlands (1993),"Silence of the Lambs, The (1991)",Star Trek: Generations (1994),Stargate (1994)
userId,,,,,,,,,,,,,,,,,,,,,
130.0,4.0,3.0,NaN,3.0,3.0,NaN,NaN,3.0,5.0,5.0,...,NaN,3.0,NaN,5.0,NaN,NaN,3.0,5.0,NaN,3.0
156.0,3.0,NaN,NaN,5.0,5.0,3.0,NaN,NaN,4.0,5.0,...,NaN,NaN,4.0,5.0,NaN,4.0,4.0,5.0,3.0,4.0
158.0,2.0,1.0,4.0,4.0,3.0,5.0,NaN,4.0,NaN,5.0,...,NaN,5.0,3.0,5.0,5.0,4.0,5.0,5.0,NaN,NaN
184.0,2.0,3.0,3.0,4.0,4.0,NaN,3.0,NaN,4.0,3.0,...,NaN,4.0,4.0,5.0,4.0,NaN,4.0,5.0,3.0,4.0
295.0,NaN,NaN,3.0,3.0,3.0,3.0,3.0,2.0,NaN,4.0,...,NaN,3.0,3.0,4.0,3.0,4.0,NaN,4.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138279.0,3.0,NaN,NaN,3.0,5.0,5.0,5.0,4.0,NaN,5.0,...,NaN,5.0,NaN,5.0,NaN,4.0,NaN,5.0,3.0,3.0
138382.0,1.0,1.0,4.0,2.0,3.0,5.0,NaN,4.0,3.0,5.0,...,NaN,NaN,3.0,NaN,3.0,3.0,NaN,5.0,NaN,4.0
138415.0,1.0,NaN,3.0,4.0,3.0,5.0,NaN,NaN,NaN,4.0,...,NaN,5.0,NaN,5.0,3.0,4.0,4.0,NaN,3.0,NaN
138483.0,1.0,1.0,3.0,3.0,3.0,NaN,3.0,3.0,2.0,4.0,...,3.0,4.0,NaN,4.0,3.0,4.0,4.0,4.0,2.0,2.0
28941.0,3.0,2.0,2.0,3.0,3.0,5.0,4.0,5.0,3.0,3.0,...,3.0,5.0,5.0,5.0,3.0,5.0,5.0,1.0,1.0,1.0

In [176]:
final_df.loc[random_user]

title
Ace Ventura: Pet Detective (1994)                             3.0
Ace Ventura: When Nature Calls (1995)                         2.0
Aladdin (1992)                                                2.0
American President, The (1995)                                3.0
Apollo 13 (1995)                                              3.0
Babe (1995)                                                   5.0
Bullets Over Broadway (1994)                                  4.0
Clueless (1995)                                               5.0
Disclosure (1994)                                             3.0
Forrest Gump (1994)                                           3.0
Four Weddings and a Funeral (1994)                            5.0
Home Alone (1990)                                             3.0
Jurassic Park (1993)                                          3.0
Like Water for Chocolate (Como agua para chocolate) (1992)    5.0
Little Women (1994)                                           4.0
Mr. Holland's Opus (1995)                                     3.0
Mrs. Doubtfire (1993)                                         3.0
Much Ado About Nothing (1993)                                 5.0
Muriel's Wedding (1994)                                       4.0
Nine Months (1995)                                            2.0
Operation Dumbo Drop (1995)                                   1.0
Piano, The (1993)                                             5.0
Postman, The (Postino, Il) (1994)                             5.0
Ready to Wear (Pret-A-Porter) (1994)                          3.0
Remains of the Day, The (1993)                                5.0
Sabrina (1995)                                                5.0
Schindler's List (1993)                                       5.0
Secret Garden, The (1993)                                     3.0
Sense and Sensibility (1995)                                  5.0
Shadowlands (1993)                                            5.0
Silence of the Lambs, The (1991)                              1.0
Star Trek: Generations (1994)                                 1.0
Stargate (1994)                                               1.0
Name: 28941.0, dtype: float64

In [177]:
final_df = final_df.drop_duplicates()

In [189]:
final_df.loc[45158.0]

title
Ace Ventura: Pet Detective (1994)                             4.0
Ace Ventura: When Nature Calls (1995)                         2.0
Aladdin (1992)                                                NaN
American President, The (1995)                                NaN
Apollo 13 (1995)                                              2.5
Babe (1995)                                                   NaN
Bullets Over Broadway (1994)                                  3.0
Clueless (1995)                                               3.5
Disclosure (1994)                                             NaN
Forrest Gump (1994)                                           2.0
Four Weddings and a Funeral (1994)                            3.0
Home Alone (1990)                                             0.5
Jurassic Park (1993)                                          2.0
Like Water for Chocolate (Como agua para chocolate) (1992)    5.0
Little Women (1994)                                           NaN
Mr. Holland's Opus (1995)                                     3.0
Mrs. Doubtfire (1993)                                         3.0
Much Ado About Nothing (1993)                                 3.5
Muriel's Wedding (1994)                                       4.0
Nine Months (1995)                                            NaN
Operation Dumbo Drop (1995)                                   NaN
Piano, The (1993)                                             4.5
Postman, The (Postino, Il) (1994)                             4.5
Ready to Wear (Pret-A-Porter) (1994)                          NaN
Remains of the Day, The (1993)                                NaN
Sabrina (1995)                                                NaN
Schindler's List (1993)                                       3.5
Secret Garden, The (1993)                                     NaN
Sense and Sensibility (1995)                                  3.5
Shadowlands (1993)                                            NaN
Silence of the Lambs, The (1991)                              1.5
Star Trek: Generations (1994)                                 0.5
Stargate (1994)                                               1.0
Name: 45158.0, dtype: float64

In [191]:
final_df.loc[random_user].corr(final_df.loc[45158.0])

0.8007492289165024

In [243]:
corr_df=final_df.T.corr().unstack().sort_values()
corr_df

userId    userId
28866.0   67756.0   -0.936065
67756.0   28866.0   -0.936065
37121.0   60562.0   -0.915003
60562.0   37121.0   -0.915003
80593.0   34103.0   -0.898718
                       ...
136568.0  1376.0          NaN
136877.0  1376.0          NaN
136980.0  1376.0          NaN
137573.0  1376.0          NaN
138162.0  1376.0          NaN
Length: 10252804, dtype: float64

In [244]:
corr_df.to_frame()

                         0
userId   userId
28866.0  67756.0 -0.936065
67756.0  28866.0 -0.936065
37121.0  60562.0 -0.915003
60562.0  37121.0 -0.915003
80593.0  34103.0 -0.898718
...                    ...
136568.0 1376.0        NaN
136877.0 1376.0        NaN
136980.0 1376.0        NaN
137573.0 1376.0        NaN
138162.0 1376.0        NaN

[10252804 rows x 1 columns]

In [245]:
corr_df = pd.DataFrame(corr_df,columns =["corr"])
corr_df

                      corr
userId   userId
28866.0  67756.0 -0.936065
67756.0  28866.0 -0.936065
37121.0  60562.0 -0.915003
60562.0  37121.0 -0.915003
80593.0  34103.0 -0.898718
...                    ...
136568.0 1376.0        NaN
136877.0 1376.0        NaN
136980.0 1376.0        NaN
137573.0 1376.0        NaN
138162.0 1376.0        NaN

[10252804 rows x 1 columns]

In [246]:
corr_df.index.names = ["user_id_1","user_id_2"]
corr_df

                         corr
user_id_1 user_id_2
28866.0   67756.0   -0.936065
67756.0   28866.0   -0.936065
37121.0   60562.0   -0.915003
60562.0   37121.0   -0.915003
80593.0   34103.0   -0.898718
...                       ...
136568.0  1376.0          NaN
136877.0  1376.0          NaN
136980.0  1376.0          NaN
137573.0  1376.0          NaN
138162.0  1376.0          NaN

[10252804 rows x 1 columns]

In [247]:
corr_df.reset_index(inplace=True)

In [248]:
corr_df=corr_df.drop_duplicates()

In [249]:
corr_df.loc[corr_df["user_id_1"]==random_user]

          user_id_1  user_id_2      corr
9673        28941.0    92616.0 -0.617526
19455       28941.0   103594.0 -0.568855
32241       28941.0   104125.0 -0.529318
35750       28941.0    87824.0 -0.520972
42966       28941.0   133786.0 -0.505225
...             ...        ...       ...
10178092    28941.0   127259.0  0.763925
10189316    28941.0     7542.0  0.772183
10209319    28941.0   101628.0  0.790405
10218091    28941.0    45158.0  0.800749
10250047    28941.0    28941.0  1.000000

[3202 rows x 3 columns]

In [250]:
corr_df.loc[corr_df["user_id_1"]==random_user]

          user_id_1  user_id_2      corr
9673        28941.0    92616.0 -0.617526
19455       28941.0   103594.0 -0.568855
32241       28941.0   104125.0 -0.529318
35750       28941.0    87824.0 -0.520972
42966       28941.0   133786.0 -0.505225
...             ...        ...       ...
10178092    28941.0   127259.0  0.763925
10189316    28941.0     7542.0  0.772183
10209319    28941.0   101628.0  0.790405
10218091    28941.0    45158.0  0.800749
10250047    28941.0    28941.0  1.000000

[3202 rows x 3 columns]

In [251]:
corr_df[(corr_df["user_id_2"]==45158.0)]

          user_id_1  user_id_2      corr
386         87824.0    45158.0 -0.783862
950         60159.0    45158.0 -0.744599
1097       103594.0    45158.0 -0.737868
1949        92616.0    45158.0 -0.710846
2518        81596.0    45158.0 -0.696788
...             ...        ...       ...
10235616    72608.0    45158.0  0.830675
10236786    10431.0    45158.0  0.833805
10236962   110777.0    45158.0  0.834352
10244663   128241.0    45158.0  0.865181
10248724    45158.0    45158.0  1.000000

[3202 rows x 3 columns]

In [252]:
corr_df[(corr_df["user_id_2"]==45158.0) & (corr_df["user_id_1"]==random_user)]

          user_id_1  user_id_2      corr
10218091    28941.0    45158.0  0.800749

In [253]:
corr_df[(corr_df["user_id_2"]==45158.0) & (corr_df["user_id_1"]==random_user)]

          user_id_1  user_id_2      corr
10218091    28941.0    45158.0  0.800749

In [254]:
corr_df.loc[(corr_df["user_id_1"]==random_user) & (corr_df["corr"]>0.7)].head()

          user_id_1  user_id_2      corr
10038681    28941.0    10943.0  0.703123
10042774    28941.0   131620.0  0.704478
10064035    28941.0    44953.0  0.711420
10108487    28941.0    60411.0  0.727636
10110415    28941.0     2171.0  0.728516

In [255]:
corr_df.loc[(corr_df["user_id_1"]==random_user) & (corr_df["corr"]>0.79)].head()

          user_id_1  user_id_2      corr
10209319    28941.0   101628.0  0.790405
10218091    28941.0    45158.0  0.800749
10250047    28941.0    28941.0  1.000000

In [256]:
corr_df.loc[(corr_df["user_id_1"]==random_user) & (corr_df["corr"]>0.65),["user_id_2","corr"]].head()

         user_id_2      corr
9843470    82666.0  0.655212
9845300    94379.0  0.655596
9870662   132307.0  0.660726
9872973    42696.0  0.661268
9883473   103998.0  0.663340

In [257]:
corr_df.loc[(corr_df["user_id_1"]==random_user) & (corr_df["corr"]>0.65),["user_id_2","corr"]].head()

         user_id_2      corr
9843470    82666.0  0.655212
9845300    94379.0  0.655596
9870662   132307.0  0.660726
9872973    42696.0  0.661268
9883473   103998.0  0.663340

In [258]:
corr_df[(corr_df["user_id_1"]==random_user) & (corr_df["corr"]>=0.65)][["user_id_2","corr"]]

          user_id_2      corr
9843470     82666.0  0.655212
9845300     94379.0  0.655596
9870662    132307.0  0.660726
9872973     42696.0  0.661268
9883473    103998.0  0.663340
9890143    129079.0  0.664777
9891728     61709.0  0.665115
9893296      1362.0  0.665461
9897571     10431.0  0.666356
9907150     26238.0  0.668515
9912079    124546.0  0.669585
9913759     66486.0  0.669945
9914451     73844.0  0.670105
9931023     66603.0  0.673862
9956829     58705.0  0.680166
9961968    131285.0  0.681491
9963200    125901.0  0.681795
9979171    137573.0  0.686064
9994382     18999.0  0.690093
9999700    128133.0  0.691538
10013090    10848.0  0.695341
10017169    91954.0  0.696581
10022113    66175.0  0.698099
10025658   121484.0  0.699161
10025781    24196.0  0.699198
10028284    49460.0  0.699924
10038681    10943.0  0.703123
10042774   131620.0  0.704478
10064035    44953.0  0.711420
10108487    60411.0  0.727636
10110415     2171.0  0.728516
10120626    67346.0  0.732943
10123113    58769.0  0.734092
10127408   117826.0  0.736011
10129853   136259.0  0.737177
10132775    93089.0  0.738536
10152004     9783.0  0.747942
10160249   128241.0  0.752587
10160494     7438.0  0.752716
10160807    25507.0  0.752932
10178092   127259.0  0.763925
10189316     7542.0  0.772183
10209319   101628.0  0.790405
10218091    45158.0  0.800749
10250047    28941.0  1.000000

In [259]:
# top_users = corr_df.loc[(corr_df["user_id_1"]==random_user) & (corr_df["corr"]>=0.7),["user_id_2","corr"]].reset_index(drop=True)
# top_users.head()

In [260]:
top_users = corr_df.loc[(corr_df["user_id_1"]==random_user),["user_id_2","corr"]].reset_index(drop=True)
top_users.head()

   user_id_2      corr
0    92616.0 -0.617526
1   103594.0 -0.568855
2   104125.0 -0.529318
3    87824.0 -0.520972
4   133786.0 -0.505225

In [261]:
top_users = top_users.sort_values("corr",ascending=False)
top_users.rename(columns={"user_id_2":"userId"},inplace=True)
top_users.head()

        userId      corr
3201   28941.0  1.000000
3200   45158.0  0.800749
3199  101628.0  0.790405
3198    7542.0  0.772183
3197  127259.0  0.763925

In [262]:
top_users.loc[top_users["userId"]==45158.0]

       userId      corr
3200  45158.0  0.800749

In [263]:
top_users = top_users.sort_values("corr",ascending=False)
top_users.rename(columns={"user_id_2":"userId"},inplace=True)
top_users.head()

        userId      corr
3201   28941.0  1.000000
3200   45158.0  0.800749
3199  101628.0  0.790405
3198    7542.0  0.772183
3197  127259.0  0.763925

Pandas'ın drop_duplicates() fonksiyonu, yinelenen değerleri çıkarırken eşleşen değerlerin tamamına bakar. Ancak, bu kod parçacığı final_df.T.corr().unstack().sort_values().drop_duplicates() korelasyon değerlerini içeren bir seri oluşturduğu için, drop_duplicates() sadece korelasyon değerlerine bakar.

Özellikle, (id_1: 1234, id_2: 5678, corr: 0.8) ve (id_1: 99126, id_2: 817321, corr: 0.8) çiftleri, korelasyon değerlerine bakıldığında aynıdır (her ikisi de 0.8). Dolayısıyla, drop_duplicates() çağrısı yalnızca birini korur.

Eğer drop_duplicates() çağrısını bir dataframe üzerinde yapsaydınız ve bu dataframe ID bilgilerini içerseydi, o zaman drop_duplicates() ID'ler ve korelasyon değerlerinin bir kombinasyonuna bakardı. Bu durumda, (1234, 5678, 0.8) ve (99126, 817321, 0.8) birbirinden farklı olduğu için her ikisi de korunurdu.

Sonuç olarak, drop_duplicates() fonksiyonunun çıktısı, üzerinde çalıştığı veri yapısına bağlıdır. Bir pandas Serisi üzerinde çalıştığında, yalnızca Seri içindeki değerlere bakar ve bu değerler üzerinde yinelenenleri çıkarır. Ancak, bir DataFrame üzerinde çalıştığında, yinelenen satırları (yani tüm sütunlardaki değerlerin aynı olduğu satırları) çıkarır.

In [264]:
rating = pd.read_csv("ratings.csv")
rating

          userId  movieId  rating   timestamp
0              1        2     3.5  1112486027
1              1       29     3.5  1112484676
2              1       32     3.5  1112484819
3              1       47     3.5  1112484727
4              1       50     3.5  1112484580
...          ...      ...     ...         ...
20000258  138493    68954     4.5  1258126920
20000259  138493    69526     4.5  1259865108
20000260  138493    69644     3.0  1260209457
20000261  138493    70286     5.0  1258126944
20000262  138493    71619     2.5  1255811136

[20000263 rows x 4 columns]

In [137]:
top_users_rating=pd.merge(top_users,rating[["userId","movieId","rating"]],how="inner")
top_users_rating

         userId      corr  movieId  rating
0       28941.0  1.000000        7     5.0
1       28941.0  1.000000       11     3.0
2       28941.0  1.000000       17     5.0
3       28941.0  1.000000       19     2.0
4       28941.0  1.000000       34     5.0
...         ...       ...      ...     ...
13680  132307.0  0.660726      593     4.0
13681  132307.0  0.660726      595     4.0
13682  132307.0  0.660726      597     4.0
13683  132307.0  0.660726      608     5.0
13684  132307.0  0.660726     1084     3.0

[13685 rows x 4 columns]

In [139]:
top_users_rating=top_users_rating.loc[top_users_rating["userId"]!=random_user]
top_users_rating

         userId      corr  movieId  rating
33      45158.0  0.800749        1     1.5
34      45158.0  0.800749        3     1.0
35      45158.0  0.800749       17     3.5
36      45158.0  0.800749       19     2.0
37      45158.0  0.800749       22     3.0
...         ...       ...      ...     ...
13680  132307.0  0.660726      593     4.0
13681  132307.0  0.660726      595     4.0
13682  132307.0  0.660726      597     4.0
13683  132307.0  0.660726      608     5.0
13684  132307.0  0.660726     1084     3.0

[13652 rows x 4 columns]

In [151]:
top_users_rating["weighted_rating"] = top_users_rating["corr"] * top_users_rating["rating"]
top_users_rating

         userId      corr  movieId  rating  weighted_rating
33      45158.0  0.800749        1     1.5         1.201124
34      45158.0  0.800749        3     1.0         0.800749
35      45158.0  0.800749       17     3.5         2.802622
36      45158.0  0.800749       19     2.0         1.601498
37      45158.0  0.800749       22     3.0         2.402248
...         ...       ...      ...     ...              ...
13680  132307.0  0.660726      593     4.0         2.642904
13681  132307.0  0.660726      595     4.0         2.642904
13682  132307.0  0.660726      597     4.0         2.642904
13683  132307.0  0.660726      608     5.0         3.303630
13684  132307.0  0.660726     1084     3.0         1.982178

[13652 rows x 5 columns]

In [155]:
recommendation_df=top_users_rating.groupby("movieId")[["weighted_rating"]].mean().reset_index()
recommendation_df

      movieId  weighted_rating
0           1         2.205824
1           2         1.463950
2           3         1.181772
3           4         1.642769
4           5         1.151408
...       ...              ...
4069    56367         2.565300
4070    56508         2.931772
4071    56788         2.565300
4072    58303         2.931772
4073    59725         2.931772

[4074 rows x 2 columns]

In [164]:
recommendation_df=recommendation_df.loc[recommendation_df["weighted_rating"]>3.6].sort_values("weighted_rating",ascending=False)

In [165]:
movie = pd.read_csv("movies.csv")
pd.merge(recommendation_df,movie[["movieId","title"]],on="movieId")

,movieId,weighted_rating,title
0,30,3.952023,Shanghai Triad (Yao a yao yao dao waipo qiao) ...
1,53,3.952023,Lamerica (1994)
2,242,3.952023,Farinelli: il castrato (1994)
3,326,3.952023,To Live (Huozhe) (1994)
4,1348,3.692678,"Nosferatu (Nosferatu, eine Symphonie des Graue..."
5,501,3.679739,Naked (1993)
6,26394,3.664714,"Turning Point, The (1977)"
7,25850,3.664714,Holiday (1938)
8,8128,3.664714,Au revoir les enfants (1987)
9,7585,3.664714,Summertime (1955)
10,7490,3.664714,At First Sight (Entre Nous) (Coup de foudre) (...
11,7215,3.664714,To Have and Have Not (1944)
12,7087,3.664714,"Passage to India, A (1984)"
13,6837,3.664714,Love Affair (1939)
14,6235,3.664714,Europa Europa (Hitlerjunge Salomon) (1990)
15,6216,3.664714,Nowhere in Africa (Nirgendwo in Afrika) (2001)
16,5799,3.664714,Exodus (1960)
17,4920,3.664714,"Now, Voyager (1942)"
18,4840,3.664714,"Last Metro, The (Dernier métro, Le) (1980)"
19,4495,3.664714,Crossing Delancey (1988)
20,4117,3.664714,Hope and Glory (1987)
21,32234,3.664714,Julia (1977)
22,5992,3.657336,"Hours, The (2002)"
23,263,3.649974,Ladybird Ladybird (1994)
24,6870,3.642581,Mystic River (2003)
25,6954,3.642581,"Barbarian Invasions, The (Les invasions barbar..."
26,6974,3.642581,"Freshman, The (1990)"
27,4334,3.642581,Yi Yi (2000)
28,2570,3.642581,"Walk on the Moon, A (1999)"
29,2496,3.642581,Blast from the Past (1999)
30,1201,3.642581,"Good, the Bad and the Ugly, The (Buono, il bru..."
31,1257,3.603372,Better Off Dead... (1985)

In [2]:
user_movie_df

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138489.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138490.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138491.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138493.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.5,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def user_based_recommender(random_user,user_movie_df,ratio=60,cor_th=0.65,score=3.5):
    random_user_df = user_movie_df[user_movie_df.index==random_user]
    movies_watched= random_user_df.columns[random_user_df.notna().any()].tolist()
    movies_wathed_df = user_movie_df[movies_watched]
    user_movie_count = movies_watched_df.count(axis=1)
    user_movie_count = user_movie_count.reset_index()
    user_movie_count.columns = ["userId","movie_count"]
    perc = len(movies_watched) * ratio /100
    users_same_movies = user_movie_count[user_movie_count["movie_count"]>perc]["userId"]
    
    final_df = pd.concat([movies_watched_df[movies_watched_df.index.isin(users_same_movies)],
                          random_user_df[movies_watched]])

    corr_df = final_df.T.corr().unstack().sort_values().drop_duplicates()     
    top