In [1]:
import pandas as pd
def create_user_movie_df():
    movie = pd.read_csv("movies.csv")
    rating = pd.read_csv("ratings.csv")
    df = pd.merge(movie, rating,on="movieId",how="left")
    movie_count = df["title"].value_counts()
    common_movies = list(movie_count[movie_count>1000].index)
    common_movies_df = df.loc[df["title"].isin(common_movies)]
    common_users = common_movies_df["userId"].value_counts()
    common_users = list(common_users[common_users>250].index)
    common_movies_df = common_movies_df.loc[common_movies_df["userId"].isin(common_users)]
    user_movie_df = common_movies_df.pivot_table(index="userId",columns="title",values="rating")
    return user_movie_df

user_movie_df=create_user_movie_df()
user_movie_df

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
11.0,NaN,NaN,5.0,NaN,5.0,4.5,3.5,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
54.0,3.0,NaN,NaN,4.0,NaN,NaN,3.0,NaN,NaN,4.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138457.0,3.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138467.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138472.0,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
138474.0,4.0,NaN,NaN,NaN,4.0,NaN,4.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138493.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.5,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
random_user=float(pd.Series(user_movie_df.index).sample(1,random_state=45).values)
random_user

47865.0

In [3]:
random_user_df = user_movie_df[user_movie_df.index==random_user]
movies_watched= random_user_df.columns[random_user_df.notna().any()].tolist()
movies_watched

['10 Things I Hate About You (1999)',
 '101 Dalmatians (1996)',
 'A.I. Artificial Intelligence (2001)',
 'About a Boy (2002)',
 'Ace Ventura: Pet Detective (1994)',
 'Ace Ventura: When Nature Calls (1995)',
 'Adaptation (2002)',
 'Addams Family Values (1993)',
 'Addams Family, The (1991)',
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'Air Force One (1997)',
 'Airheads (1994)',
 'Airplane! (1980)',
 'Aladdin (1992)',
 'Alice in Wonderland (1951)',
 'Almost Famous (2000)',
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",
 'American Beauty (1999)',
 'American Pie (1999)',
 'American Pie 2 (2001)',
 'American President, The (1995)',
 'Anaconda (1997)',
 'Analyze This (1999)',
 'And Your Mother Too (Y tu mamá también) (2001)',
 'Animal House (1978)',
 'Antz (1998)',
 'Arachnophobia (1990)',
 'As Good as It Gets (1997)',
 'Auntie Mame (1958)',
 'Austin Powers: International Man of Mystery (1997)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 'Babe (1995)',
 'Back to the Future (1985)',
 'Back to the Future Part II (1989)',
 'Back to the Future Part III (1990)',
 'Bambi (1942)',
 'Barcelona (1994)',
 'Batman & Robin (1997)',
 'Batman (1989)',
 'Batman Returns (1992)',
 'Beautiful Girls (1996)',
 'Beautiful Mind, A (2001)',
 'Beauty and the Beast (1991)',
 'Beavis and Butt-Head Do America (1996)',
 'Beetlejuice (1988)',
 'Before Sunrise (1995)',
 'Being John Malkovich (1999)',
 'Bend It Like Beckham (2002)',
 'Benny & Joon (1993)',
 'Best in Show (2000)',
 'Better Off Dead... (1985)',
 'Big (1988)',
 'Big Fish (2003)',
 'Big Kahuna, The (2000)',
 'Big Lebowski, The (1998)',
 'Big Night (1996)',
 'Bill Cosby, Himself (1983)',
 'Billy Elliot (2000)',
 'Billy Madison (1995)',
 'Birdcage, The (1996)',
 'Blazing Saddles (1974)',
 'Blues Brothers, The (1980)',
 'Boogie Nights (1997)',
 'Bourne Identity, The (2002)',
 "Boys Don't Cry (1999)",
 'Boys on the Side (1995)',
 'Brady Bunch Movie, The (1995)',
 'Braveheart (1995)',
 'Brazil (1985)',
 'Breakfast Club, The (1985)',
 "Breakfast at Tiffany's (1961)",
 'Bridges of Madison County, The (1995)',
 "Bridget Jones's Diary (2001)",
 'Broadcast News (1987)',
 'Brothers McMullen, The (1995)',
 "Bug's Life, A (1998)",
 'Caddyshack (1980)',
 'Casper (1995)',
 'Catch Me If You Can (2002)',
 'Cell, The (2000)',
 'Charlie and the Chocolate Factory (2005)',
 "Charlie's Angels (2000)",
 'Chasing Amy (1997)',
 'Chicago (2002)',
 'Chicken Run (2000)',
 'Chocolat (2000)',
 'Christmas Story, A (1983)',
 'Cider House Rules, The (1999)',
 'Cinderella (1950)',
 'Circle of Friends (1995)',
 'City Slickers (1991)',
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
 'Clear and Present Danger (1994)',
 'Clerks (1994)',
 'Clockwork Orange, A (1971)',
 'Clueless (1995)',
 'Cocoon (1985)',
 'Cold Comfort Farm (1995)',
 'Color Purple, The (1985)',
 'Commitments, The (1991)',
 'Con Air (1997)',
 'Coneheads (1993)',
 'Confessions of a Dangerous Mind (2002)',
 'Congo (1995)',
 'Conspiracy Theory (1997)',
 'Contact (1997)',
 'Cool Runnings (1993)',
 'Copycat (1995)',
 'Craft, The (1996)',
 'Crocodile Dundee (1986)',
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
 'Crow, The (1994)',
 'Cruel Intentions (1999)',
 'Dangerous Liaisons (1988)',
 'Dave (1993)',
 'Daytrippers, The (1996)',
 'Dazed and Confused (1993)',
 'Dead Poets Society (1989)',
 'Dirty Dancing (1987)',
 'Dirty Rotten Scoundrels (1988)',
 'Dogma (1999)',
 'Donnie Darko (2001)',
 'Down Periscope (1996)',
 "Dracula (Bram Stoker's Dracula) (1992)",
 'Driving Miss Daisy (1989)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Dumbo (1941)',
 'Election (1999)',
 'Elf (2003)',
 'Elizabeth (1998)',
 'Emma (1996)',
 "Emperor's New Groove, The (2000)",
 'English Patient, The (1996)',
 'Entrapment (1999)',
 'Erin Brockovich (2000)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 'Ever After: A Cinderella Story (1998)',
 'Fantasia (1940)',
 'Fast Times at Ridgemont High (1982)',
 'Father of the Bride Part II (1995)',
 "Ferris Bueller's Day Off (1986)",
 'Few Good Men, A (1992)',
 'Field of Dreams (1989)',
 'Fifth Element, The (1997)',
 'Fight Club (1999)',
 'Finding Nemo (2003)',
 'Finding Neverland (2004)',
 'Firm, The (1993)',
 'First Knight (1995)',
 'First Wives Club, The (1996)',
 'Fish Called Wanda, A (1988)',
 'Flintstones, The (1994)',
 'Forget Paris (1995)',
 'Forrest Gump (1994)',
 'Four Weddings and a Funeral (1994)',
 'Free Willy (1993)',
 'French Kiss (1995)',
 'Frequency (2000)',
 'Frida (2002)',
 'Fugitive, The (1993)',
 'Full Monty, The (1997)',
 'Galaxy Quest (1999)',
 'Garden State (2004)',
 'Gattaca (1997)',
 'Gentlemen Prefer Blondes (1953)',
 'Ghost (1990)',
 'Ghost World (2001)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Ghostbusters II (1989)',
 'Gladiator (2000)',
 'Go (1999)',
 'Gods Must Be Crazy, The (1980)',
 'Gods and Monsters (1998)',
 'GoldenEye (1995)',
 'Good Girl, The (2002)',
 'Good Morning, Vietnam (1987)',
 'Good Will Hunting (1997)',
 'Goonies, The (1985)',
 'Gosford Park (2001)',
 'Graduate, The (1967)',
 'Grand Day Out with Wallace and Gromit, A (1989)',
 'Grease (1978)',
 'Gremlins (1984)',
 'Grosse Pointe Blank (1997)',
 'Groundhog Day (1993)',
 'Grumpier Old Men (1995)',
 'Grumpy Old Men (1993)',
 'Hackers (1995)',
 'Hairspray (1988)',
 'Happy Gilmore (1996)',
 'Harold and Kumar Go to White Castle (2004)',
 'Harold and Maude (1971)',
 'Harry Potter and the Chamber of Secrets (2002)',
 'Harry Potter and the Prisoner of Azkaban (2004)',
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
 'Heathers (1989)',
 'Hedwig and the Angry Inch (2000)',
 'Hellboy (2004)',
 'High Fidelity (2000)',
 'Holes (2003)',
 'Home Alone (1990)',
 'Home Alone 2: Lost in New York (1992)',
 'Honey, I Shrunk the Kids (1989)',
 'Hook (1991)',
 'Hot Shots! Part Deux (1993)',
 'House of Yes, The (1997)',
 "Howl's Moving Castle (Hauru no ugoku shiro) (2004)",
 'Hudsucker Proxy, The (1994)',
 'Hunchback of Notre Dame, The (1996)',
 'I Heart Huckabees (2004)',
 'I.Q. (1994)',
 'Ice Age (2002)',
 'Ice Storm, The (1997)',
 'In & Out (1997)',
 'In Good Company (2004)',
 'Incredibles, The (2004)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Indiana Jones and the Last Crusade (1989)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Interview with the Vampire: The Vampire Chronicles (1994)',
 'Iron Giant, The (1999)',
 "It's a Wonderful Life (1946)",
 'James and the Giant Peach (1996)',
 'Jerk, The (1979)',
 'Jerry Maguire (1996)',
 'Joy Luck Club, The (1993)',
 'Jumanji (1995)',
 'Junior (1994)',
 'Jurassic Park (1993)',
 'Kingpin (1996)',
 'L.A. Confidential (1997)',
 'L.A. Story (1991)',
 'Labyrinth (1986)',
 'Lady and the Tramp (1955)',
 'Last Action Hero (1993)',
 'League of Their Own, A (1992)',
 'Legally Blonde (2001)',
 'Legends of the Fall (1994)',
 "Lemony Snicket's A Series of Unfortunate Events (2004)",
 'Liar Liar (1997)',
 'Life Aquatic with Steve Zissou, The (2004)',
 'Life Is Beautiful (La Vita è bella) (1997)',
 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 'Lilo & Stitch (2002)',
 'Lion King, The (1994)',
 'Little Mermaid, The (1989)',
 'Little Shop of Horrors (1986)',
 'Little Women (1994)',
 'Lock, Stock & Two Smoking Barrels (1998)',
 'Lord of the Rings: The Fellowship of the Ring, The (2001)',
 'Lord of the Rings: The Return of the King, The (2003)',
 'Lord of the Rings: The Two Towers, The (2002)',
 'Lost World: Jurassic Park, The (1997)',
 'Lost in Space (1998)',
 'Lost in Translation (2003)',
 'Love Actually (2003)',
 'Mallrats (1995)',
 'Man Without a Face, The (1993)',
 'Man in the Moon, The (1991)',
 'Man on the Moon (1999)',
 'Mars Attacks! (1996)',
 'Mary Poppins (1964)',
 'Mask of Zorro, The (1998)',
 'Mask, The (1994)',
 'Master and Commander: The Far Side of the World (2003)',
 'Matilda (1996)',
 'Matrix Reloaded, The (2003)',
 'Matrix, The (1999)',
 'Maverick (1994)',
 'Me, Myself & Irene (2000)',
 'Mean Girls (2004)',
 'Meet the Parents (2000)',
 'Memento (2000)',
 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)',
 'Milk Money (1994)',
 'Miss Congeniality (2000)',
 'Mission: Impossible (1996)',
 'Monsoon Wedding (2001)',
 'Monsters, Inc. (2001)',
 'Monty Python and the Holy Grail (1975)',
 'Moulin Rouge (2001)',
 "Mr. Holland's Opus (1995)",
 'Mrs. Doubtfire (1993)',
 'Mulan (1998)',
 'Mummy Returns, The (2001)',
 'Mummy, The (1999)',
 'Muppet Movie, The (1979)',
 'Muppet Treasure Island (1996)',
 'Murder on the Orient Express (1974)',
 "Muriel's Wedding (1994)",
 "My Best Friend's Wedding (1997)",
 'My Big Fat Greek Wedding (2002)',
 'My Cousin Vinny (1992)',
 'My Fair Lady (1964)',
 'Mystery Men (1999)',
 'Naked Gun 33 1/3: The Final Insult (1994)',
 'Napoleon Dynamite (2004)',
 'Net, The (1995)',
 'Never Been Kissed (1999)',
 'NeverEnding Story, The (1984)',
 'Nightmare Before Christmas, The (1993)',
 'Nine Months (1995)',
 'Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)',
 'Notebook, The (2004)',
 'Notting Hill (1999)',
 'Nurse Betty (2000)',
 'Nutty Professor, The (1996)',
 'O Brother, Where Art Thou? (2000)',
 "Ocean's Eleven (2001)",
 'Office Space (1999)',
 'Old School (2003)',
 'Opposite of Sex, The (1998)',
 'Out of Sight (1998)',
 'Outbreak (1995)',
 'Parenthood (1989)',
 'Patch Adams (1998)',
 'Patriot, The (2000)',
 'Payback (1999)',
 'Pearl Harbor (2001)',
 "Pee-wee's Big Adventure (1985)",
 'Perfect Storm, The (2000)',
 'Pieces of April (2003)',
 'Pink Panther, The (1963)',
 'Pinocchio (1940)',
 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)',
 'Planes, Trains & Automobiles (1987)',
 'Pleasantville (1998)',
 'Pretty Woman (1990)',
 'Pretty in Pink (1986)',
 'Princess Bride, The (1987)',
 'Princess Mononoke (Mononoke-hime) (1997)',
 'Producers, The (1968)',
 'Pulp Fiction (1994)',
 'Punch-Drunk Love (2002)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Raising Arizona (1987)',
 'Ransom (1996)',
 'Real Genius (1985)',
 'Ref, The (1994)',
 'Remember the Titans (2000)',
 'Risky Business (1983)',
 'River Runs Through It, A (1992)',
 'Road Trip (2000)',
 'Robin Hood: Men in Tights (1993)',
 'Rock, The (1996)',
 'Rocketeer, The (1991)',
 'Rocky Horror Picture Show, The (1975)',
 'Roger & Me (1989)',
 'Roman Holiday (1953)',
 'Romancing the Stone (1984)',
 "Romy and Michele's High School Reunion (1997)",
 'Roxanne (1987)',
 'Royal Tenenbaums, The (2001)',
 'Rudy (1993)',
 'Run Lola Run (Lola rennt) (1998)',
 'Runaway Bride (1999)',
 'Rush Hour (1998)',
 'Rushmore (1998)',
 'Sabrina (1995)',
 'Saint, The (1997)',
 'Santa Clause, The (1994)',
 'Saved! (2004)',
 'Saving Private Ryan (1998)',
 'Say Anything... (1989)',
 'Scary Movie (2000)',
 'School of Rock (2003)',
 'Scream (1996)',
 'Secondhand Lions (2003)',
 'Secret of NIMH, The (1982)',
 'Secret of Roan Inish, The (1994)',
 'Sense and Sensibility (1995)',
 'Seven Year Itch, The (1955)',
 'Shakespeare in Love (1998)',
 'Shall We Dance? (Shall We Dansu?) (1996)',
 'Shawshank Redemption, The (1994)',
 "She's All That (1999)",
 'Shrek (2001)',
 'Shrek 2 (2004)',
 'Sideways (2004)',
 'Signs (2002)',
 'Silence of the Lambs, The (1991)',
 'Sin City (2005)',
 "Singin' in the Rain (1952)",
 'Sister Act (1992)',
 'Six Days Seven Nights (1998)',
 'Sixteen Candles (1984)',
 'Sixth Sense, The (1999)',
 'Sleeping Beauty (1959)',
 'Sleepless in Seattle (1993)',
 'Sleepy Hollow (1999)',
 'Sliding Doors (1998)',
 'Slums of Beverly Hills, The (1998)',
 'Sneakers (1992)',
 'Snow White and the Seven Dwarfs (1937)',
 'So I Married an Axe Murderer (1993)',
 'Sound of Music, The (1965)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'Spaceballs (1987)',
 "Spanish Apartment, The (L'auberge espagnole) (2002)",
 'Speed (1994)',
 'Spider-Man (2002)',
 'Spider-Man 2 (2004)',
 'Splash (1984)',
 'Spy Hard (1996)',
 'Stand by Me (1986)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'State and Main (2000)',
 'Strictly Ballroom (1992)',
 'Striptease (1996)',
 'Swingers (1996)',
 'Talented Mr. Ripley, The (1999)',
 'Tao of Steve, The (2000)',
 'Team America: World Police (2004)',
 'Terminator 2: Judgment Day (1991)',
 'That Thing You Do! (1996)',
 'Thelma & Louise (1991)',
 "There's Something About Mary (1998)",
 'This Is Spinal Tap (1984)',
 'Three Kings (1999)',
 'Tin Cup (1996)',
 'Titanic (1997)',
 'To Die For (1995)',
 'Tommy Boy (1995)',
 'Tomorrow Never Dies (1997)',
 'Top Gun (1986)',
 'Toy Story (1995)',
 'Toy Story 2 (1999)',
 'Trading Places (1983)',
 'Traffic (2000)',
 'Trainspotting (1996)',
 'Tremors (1990)',
 'Triplets of Belleville, The (Les triplettes de Belleville) (2003)',
 'Tron (1982)',
 'True Lies (1994)',
 'Truman Show, The (1998)',
 'Truth About Cats & Dogs, The (1996)',
 'Twister (1996)',
 "Ulee's Gold (1997)",
 'Usual Suspects, The (1995)',
 'Virgin Suicides, The (1999)',
 'Waiting for Guffman (1996)',
 'Waking Ned Devine (a.k.a. Waking Ned) (1998)',
 'Walk in the Clouds, A (1995)',
 'Wallace & Gromit: A Close Shave (1995)',
 'Wallace & Gromit: The Best of Aardman Animation (1996)',
 'Wallace & Gromit: The Wrong Trousers (1993)',
 'Waterworld (1995)',
 "Wayne's World (1992)",
 'Wedding Crashers (2005)',
 'Wedding Singer, The (1998)',
 "Weekend at Bernie's (1989)",
 'Weird Science (1985)',
 'Welcome to the Dollhouse (1995)',
 'West Side Story (1961)',
 'What About Bob? (1991)',
 'What Women Want (2000)',
 'When Harry Met Sally... (1989)',
 'While You Were Sleeping (1995)',
 'Who Framed Roger Rabbit? (1988)',
 'Whole Nine Yards, The (2000)',
 'Wild Wild West (1999)',
 "William Shakespeare's Romeo + Juliet (1996)",
 'Willow (1988)',
 'Willy Wonka & the Chocolate Factory (1971)',
 'Wizard of Oz, The (1939)',
 'Wonder Boys (2000)',
 'Working Girl (1988)',
 'World Is Not Enough, The (1999)',
 'X-Men (2000)',
 'X2: X-Men United (2003)',
 'Yellow Submarine (1968)',
 "You've Got Mail (1998)",
 'Young Frankenstein (1974)',
 '¡Three Amigos! (1986)']

In [4]:
movies_watched_df=user_movie_df[movies_watched]
movies_watched_df

title,10 Things I Hate About You (1999),101 Dalmatians (1996),A.I. Artificial Intelligence (2001),About a Boy (2002),Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Adaptation (2002),Addams Family Values (1993),"Addams Family, The (1991)","Adventures of Priscilla, Queen of the Desert, The (1994)",...,"Wizard of Oz, The (1939)",Wonder Boys (2000),Working Girl (1988),"World Is Not Enough, The (1999)",X-Men (2000),X2: X-Men United (2003),Yellow Submarine (1968),You've Got Mail (1998),Young Frankenstein (1974),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
7.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,3.0,NaN,2.0
11.0,5.0,3.5,5.0,5.0,3.5,3.5,NaN,4.0,3.5,NaN,...,NaN,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,NaN
24.0,NaN,NaN,NaN,4.0,5.0,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
54.0,NaN,3.0,NaN,NaN,1.0,NaN,NaN,3.0,4.0,NaN,...,NaN,NaN,4.0,3.0,4.0,NaN,4.0,3.0,4.0,3.0
58.0,NaN,NaN,3.5,3.0,NaN,NaN,4.5,NaN,NaN,NaN,...,NaN,4.5,4.5,NaN,3.0,NaN,NaN,NaN,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138457.0,2.0,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
138467.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138472.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138474.0,4.0,4.0,NaN,NaN,5.0,5.0,NaN,4.0,4.0,NaN,...,5.0,NaN,NaN,NaN,4.0,NaN,NaN,3.0,NaN,NaN
138493.0,NaN,3.0,NaN,NaN,4.0,4.0,5.0,3.0,4.0,NaN,...,NaN,NaN,NaN,NaN,4.5,4.5,5.0,5.0,NaN,NaN

In [5]:
user_movie_count=movies_watched_df.count(axis=1)
user_movie_count

userId
7.0         100
11.0        118
24.0        182
54.0        210
58.0        207
           ...
138457.0    106
138467.0    115
138472.0     78
138474.0    205
138493.0    105
Length: 18262, dtype: int64

In [6]:
user_movie_count = user_movie_count.reset_index()
user_movie_count.columns = ["userId","movie_count"]
user_movie_count

         userId  movie_count
0           7.0          100
1          11.0          118
2          24.0          182
3          54.0          210
4          58.0          207
...         ...          ...
18257  138457.0          106
18258  138467.0          115
18259  138472.0           78
18260  138474.0          205
18261  138493.0          105

[18262 rows x 2 columns]

In [7]:
users_same_movies=user_movie_count.loc[user_movie_count["movie_count"]>200,"userId"]
users_same_movies

3            54.0
4            58.0
6            91.0
9           116.0
18          156.0
           ...
18241    138325.0
18245    138382.0
18247    138387.0
18251    138411.0
18260    138474.0
Name: userId, Length: 4406, dtype: float64

In [8]:
final_df=pd.concat([movies_watched_df[movies_watched_df.index.isin(users_same_movies)],random_user_df[movies_watched]])
final_df

title,10 Things I Hate About You (1999),101 Dalmatians (1996),A.I. Artificial Intelligence (2001),About a Boy (2002),Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Adaptation (2002),Addams Family Values (1993),"Addams Family, The (1991)","Adventures of Priscilla, Queen of the Desert, The (1994)",...,"Wizard of Oz, The (1939)",Wonder Boys (2000),Working Girl (1988),"World Is Not Enough, The (1999)",X-Men (2000),X2: X-Men United (2003),Yellow Submarine (1968),You've Got Mail (1998),Young Frankenstein (1974),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
54.0,NaN,3.0,NaN,NaN,1.0,NaN,NaN,3.0,4.0,NaN,...,NaN,NaN,4.0,3.0,4.0,NaN,4.0,3.0,4.0,3.0
58.0,NaN,NaN,3.5,3.0,NaN,NaN,4.5,NaN,NaN,NaN,...,NaN,4.5,4.5,NaN,3.0,NaN,NaN,NaN,5.0,NaN
91.0,3.5,NaN,3.5,4.0,2.5,2.0,3.5,2.5,NaN,4.0,...,3.5,2.5,NaN,NaN,4.0,3.5,4.0,2.5,3.5,NaN
116.0,2.0,1.0,1.0,NaN,3.5,2.5,NaN,2.0,3.0,NaN,...,2.0,NaN,NaN,2.5,4.0,4.5,NaN,NaN,NaN,NaN
156.0,NaN,3.0,NaN,NaN,3.0,NaN,NaN,3.0,4.0,3.0,...,5.0,NaN,4.0,4.0,4.0,NaN,3.0,NaN,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138382.0,NaN,3.0,NaN,NaN,1.0,1.0,NaN,2.0,2.0,NaN,...,3.0,NaN,4.0,NaN,3.0,NaN,NaN,3.0,4.0,1.0
138387.0,NaN,NaN,3.5,NaN,4.0,3.5,NaN,3.0,NaN,NaN,...,3.5,NaN,NaN,NaN,3.5,3.0,NaN,NaN,NaN,NaN
138411.0,NaN,NaN,NaN,NaN,2.5,NaN,NaN,2.0,NaN,NaN,...,4.0,NaN,3.5,NaN,4.0,4.5,NaN,NaN,NaN,3.0
138474.0,4.0,4.0,NaN,NaN,5.0,5.0,NaN,4.0,4.0,NaN,...,5.0,NaN,NaN,NaN,4.0,NaN,NaN,3.0,NaN,NaN
47865.0,3.5,3.5,1.0,5.0,2.5,1.5,2.5,3.5,3.5,3.0,...,4.0,2.5,3.5,2.0,2.5,2.5,4.0,1.5,4.0,3.5

In [23]:
final_df.loc[156.0]

title
10 Things I Hate About You (1999)      NaN
101 Dalmatians (1996)                  3.0
A.I. Artificial Intelligence (2001)    NaN
About a Boy (2002)                     NaN
Ace Ventura: Pet Detective (1994)      3.0
                                      ...
X2: X-Men United (2003)                NaN
Yellow Submarine (1968)                3.0
You've Got Mail (1998)                 NaN
Young Frankenstein (1974)              5.0
¡Three Amigos! (1986)                  NaN
Name: 156.0, Length: 475, dtype: float64

In [24]:
final_df.loc[random_user]

title,10 Things I Hate About You (1999),101 Dalmatians (1996),A.I. Artificial Intelligence (2001),About a Boy (2002),Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Adaptation (2002),Addams Family Values (1993),"Addams Family, The (1991)","Adventures of Priscilla, Queen of the Desert, The (1994)",...,"Wizard of Oz, The (1939)",Wonder Boys (2000),Working Girl (1988),"World Is Not Enough, The (1999)",X-Men (2000),X2: X-Men United (2003),Yellow Submarine (1968),You've Got Mail (1998),Young Frankenstein (1974),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
47865.0,3.5,3.5,1.0,5.0,2.5,1.5,2.5,3.5,3.5,3.0,...,4.0,2.5,3.5,2.0,2.5,2.5,4.0,1.5,4.0,3.5
47865.0,3.5,3.5,1.0,5.0,2.5,1.5,2.5,3.5,3.5,3.0,...,4.0,2.5,3.5,2.0,2.5,2.5,4.0,1.5,4.0,3.5

In [9]:
corr_df=final_df.T.corr().unstack().sort_values().drop_duplicates()
corr_df

userId    userId
24212.0   89675.0    -0.495243
122980.0  67346.0    -0.475620
115617.0  122980.0   -0.462750
24397.0   17801.0    -0.462142
68892.0   30707.0    -0.460980
                        ...
17918.0   25478.0     0.942789
75448.0   31404.0     0.944399
73348.0   34632.0     0.971139
32344.0   68063.0     0.973377
47865.0   47865.0     1.000000
Length: 9706234, dtype: float64

In [10]:
corr_df = pd.DataFrame(corr_df,columns =["corr"])
corr_df

                       corr
userId   userId
24212.0  89675.0  -0.495243
122980.0 67346.0  -0.475620
115617.0 122980.0 -0.462750
24397.0  17801.0  -0.462142
68892.0  30707.0  -0.460980
...                     ...
17918.0  25478.0   0.942789
75448.0  31404.0   0.944399
73348.0  34632.0   0.971139
32344.0  68063.0   0.973377
47865.0  47865.0   1.000000

[9706234 rows x 1 columns]

In [11]:
corr_df.index.names = ["user_id_1","user_id_2"]
corr_df

                         corr
user_id_1 user_id_2
24212.0   89675.0   -0.495243
122980.0  67346.0   -0.475620
115617.0  122980.0  -0.462750
24397.0   17801.0   -0.462142
68892.0   30707.0   -0.460980
...                       ...
17918.0   25478.0    0.942789
75448.0   31404.0    0.944399
73348.0   34632.0    0.971139
32344.0   68063.0    0.973377
47865.0   47865.0    1.000000

[9706234 rows x 1 columns]

In [12]:
corr_df.reset_index(inplace=True)

In [33]:
corr_df.loc[(corr_df["user_id_1"]==random_user) & (corr_df["corr"]> .45),["user_id_2","corr"]].head()

         user_id_2      corr
9274638   100992.0  0.458122
9282724    79178.0  0.459256
9286036    74345.0  0.459724
9325695    97423.0  0.465615
9325696    97423.0  0.465615

In [36]:
corr_df.loc[corr_df["user_id_1"]==random_user].sort_values("corr",ascending=False)

         user_id_1  user_id_2      corr
9706233    47865.0    47865.0  1.000000
9390764    47865.0    84714.0  0.476428
9390763    47865.0    84714.0  0.476428
9325696    47865.0    97423.0  0.465615
9325695    47865.0    97423.0  0.465615
...            ...        ...       ...
57852      47865.0    64802.0 -0.142583
51037      47865.0   132090.0 -0.149170
33963      47865.0    62762.0 -0.169989
33881      47865.0    20309.0 -0.170112
23364      47865.0   112320.0 -0.187739

[3267 rows x 3 columns]

In [41]:
final_df=final_df.drop_duplicates()

In [42]:
corr_df=final_df.T.corr().unstack().sort_values().drop_duplicates()
corr_df

userId    userId
89675.0   24212.0    -0.495243
67346.0   122980.0   -0.475620
122980.0  115617.0   -0.462750
17801.0   24397.0    -0.462142
68892.0   30707.0    -0.460980
                        ...
25478.0   17918.0     0.942789
75448.0   31404.0     0.944399
73348.0   34632.0     0.971139
68063.0   32344.0     0.973377
54.0      54.0        1.000000
Length: 9704166, dtype: float64

In [43]:
corr_df = pd.DataFrame(corr_df,columns =["corr"])
corr_df

                       corr
userId   userId
89675.0  24212.0  -0.495243
67346.0  122980.0 -0.475620
122980.0 115617.0 -0.462750
17801.0  24397.0  -0.462142
68892.0  30707.0  -0.460980
...                     ...
25478.0  17918.0   0.942789
75448.0  31404.0   0.944399
73348.0  34632.0   0.971139
68063.0  32344.0   0.973377
54.0     54.0      1.000000

[9704166 rows x 1 columns]

In [44]:
corr_df.index.names = ["user_id_1","user_id_2"]
corr_df

                         corr
user_id_1 user_id_2
89675.0   24212.0   -0.495243
67346.0   122980.0  -0.475620
122980.0  115617.0  -0.462750
17801.0   24397.0   -0.462142
68892.0   30707.0   -0.460980
...                       ...
25478.0   17918.0    0.942789
75448.0   31404.0    0.944399
73348.0   34632.0    0.971139
68063.0   32344.0    0.973377
54.0      54.0       1.000000

[9704166 rows x 1 columns]

In [45]:
corr_df.reset_index(inplace=True)

In [49]:
corr_df.loc[(corr_df["user_id_1"]==random_user) & (corr_df["corr"]>),["user_id_2","corr"]].head()

         user_id_2      corr
9323629    97423.0  0.465615
9459699   123148.0  0.490348

In [51]:
corr_df.loc[(corr_df["user_id_1"]==random_user)].sort_values("corr",ascending=False)

         user_id_1  user_id_2      corr
9459699    47865.0   123148.0  0.490348
9323629    47865.0    97423.0  0.465615
9283971    47865.0    74345.0  0.459724
9280659    47865.0    79178.0  0.459256
9272573    47865.0   100992.0  0.458122
...            ...        ...       ...
110250     47865.0    78453.0 -0.107900
57850      47865.0    64802.0 -0.142583
51035      47865.0   132090.0 -0.149170
33961      47865.0    62762.0 -0.169989
33880      47865.0    20309.0 -0.170112

[2222 rows x 3 columns]

Pandas'ın drop_duplicates() fonksiyonu, yinelenen değerleri çıkarırken eşleşen değerlerin tamamına bakar. Ancak, bu kod parçacığı final_df.T.corr().unstack().sort_values().drop_duplicates() korelasyon değerlerini içeren bir seri oluşturduğu için, drop_duplicates() sadece korelasyon değerlerine bakar.

Özellikle, (id_1: 1234, id_2: 5678, corr: 0.8) ve (id_1: 99126, id_2: 817321, corr: 0.8) çiftleri, korelasyon değerlerine bakıldığında aynıdır (her ikisi de 0.8). Dolayısıyla, drop_duplicates() çağrısı yalnızca birini korur.

Eğer drop_duplicates() çağrısını bir dataframe üzerinde yapsaydınız ve bu dataframe ID bilgilerini içerseydi, o zaman drop_duplicates() ID'ler ve korelasyon değerlerinin bir kombinasyonuna bakardı. Bu durumda, (1234, 5678, 0.8) ve (99126, 817321, 0.8) birbirinden farklı olduğu için her ikisi de korunurdu.

Sonuç olarak, drop_duplicates() fonksiyonunun çıktısı, üzerinde çalıştığı veri yapısına bağlıdır. Bir pandas Serisi üzerinde çalıştığında, yalnızca Seri içindeki değerlere bakar ve bu değerler üzerinde yinelenenleri çıkarır. Ancak, bir DataFrame üzerinde çalıştığında, yinelenen satırları (yani tüm sütunlardaki değerlerin aynı olduğu satırları) çıkarır.