In [1]:
import pandas as pd
df = pd.read_csv("product_sorting.csv")
df.head()

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10

In [2]:
df.sort_values(by="rating",ascending=False).head(10)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0
19,Alıştırmalarla SQL Öğreniyorum,Veri Bilimi Okulu,3155,4.8,235,200,31,4,0,0
5,Course_1,Instructor_2,4601,4.8,213,164,45,4,0,0
6,Course_2,Instructor_3,3171,4.7,856,582,205,51,9,9
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24
8,A'dan Z'ye Apache Spark (Scala & Python),Veri Bilimi Okulu,6920,4.7,214,154,41,13,2,4
13,Course_5,Instructor_6,6056,4.7,144,82,46,12,1,3
27,Course_15,Instructor_1,1164,4.6,98,65,24,6,0,3
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45

In [3]:
from sklearn.preprocessing import MinMaxScaler
MinMaxScaler(feature_range=(1,5)).fit(df[["purchase_count"]]).transform(df[["purchase_count"]])

array([[2.43801413],
       [5.        ],
       [2.54683906],
       [1.54669402],
       [1.93524792],
       [1.37885663],
       [1.26033443],
       [1.07451151],
       [1.57106152],
       [1.53931746],
       [1.78937444],
       [3.0537494 ],
       [1.15507345],
       [1.4994509 ],
       [2.06611964],
       [1.94212718],
       [1.00911709],
       [1.34595222],
       [1.0836286 ],
       [1.25900831],
       [2.07051242],
       [1.05743768],
       [1.25130022],
       [1.03431342],
       [1.00563602],
       [1.01284681],
       [1.49704731],
       [1.09398894],
       [1.19328236],
       [1.05229896],
       [1.        ],
       [1.01665941]])

In [4]:
MinMaxScaler(feature_range=(1,5)).fit_transform(df[["purchase_count"]])

array([[2.43801413],
       [5.        ],
       [2.54683906],
       [1.54669402],
       [1.93524792],
       [1.37885663],
       [1.26033443],
       [1.07451151],
       [1.57106152],
       [1.53931746],
       [1.78937444],
       [3.0537494 ],
       [1.15507345],
       [1.4994509 ],
       [2.06611964],
       [1.94212718],
       [1.00911709],
       [1.34595222],
       [1.0836286 ],
       [1.25900831],
       [2.07051242],
       [1.05743768],
       [1.25130022],
       [1.03431342],
       [1.00563602],
       [1.01284681],
       [1.49704731],
       [1.09398894],
       [1.19328236],
       [1.05229896],
       [1.        ],
       [1.01665941]])

In [5]:
df["purchase_count_scaled"] = MinMaxScaler(feature_range=(1,5)).fit_transform(df[["purchase_count"]])
df["commment_count_scaled"] = MinMaxScaler(feature_range=(1,5)).fit_transform(df[["commment_count"]])

In [6]:
df.describe()

,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,commment_count_scaled
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,7110.718750,4.356250,882.062500,598.093750,211.531250,54.125000,9.531250,8.968750,1.586869,1.758615
std,9760.893396,0.447889,1321.498903,920.140114,312.262915,76.576232,12.991273,14.570151,0.809009,1.145643
min,30.000000,3.100000,7.000000,1.000000,2.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,877.500000,4.275000,87.750000,49.250000,19.750000,6.750000,0.750000,2.000000,1.070243,1.070004
50%,3687.500000,4.500000,194.500000,112.500000,45.500000,14.500000,3.000000,3.000000,1.303143,1.162549
75%,9994.000000,4.625000,983.500000,695.250000,253.250000,56.250000,10.500000,9.000000,1.825843,1.846554
max,48291.000000,4.800000,4621.000000,3466.000000,1122.000000,314.000000,46.000000,67.000000,5.000000,5.000000

In [7]:
from feature_engine.transformation import YeoJohnsonTransformer
yeo = YeoJohnsonTransformer(variables =["purchase_count","commment_count"])

In [12]:
a=yeo.fit_transform(df)
df["a"]= MinMaxScaler(feature_range=(1,5)).fit_transform(a[["purchase_count"]])
df["b"] = MinMaxScaler(feature_range=(1,5)).fit_transform(a[["commment_count"]])

In [13]:
df.describe()

,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,commment_count_scaled,a,b
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,7110.718750,4.356250,882.062500,598.093750,211.531250,54.125000,9.531250,8.968750,1.586869,1.758615,2.916619,3.181397
std,9760.893396,0.447889,1321.498903,920.140114,312.262915,76.576232,12.991273,14.570151,0.809009,1.145643,0.976379,1.119706
min,30.000000,3.100000,7.000000,1.000000,2.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,877.500000,4.275000,87.750000,49.250000,19.750000,6.750000,0.750000,2.000000,1.070243,1.070004,2.203212,2.545009
50%,3687.500000,4.500000,194.500000,112.500000,45.500000,14.500000,3.000000,3.000000,1.303143,1.162549,2.981994,3.048527
75%,9994.000000,4.625000,983.500000,695.250000,253.250000,56.250000,10.500000,9.000000,1.825843,1.846554,3.658544,4.057023
max,48291.000000,4.800000,4621.000000,3466.000000,1122.000000,314.000000,46.000000,67.000000,5.000000,5.000000,5.000000,5.000000

In [10]:
df["purchase_count_scaled"] * 26/100 + \
    df["commment_count_scaled"] * 32/100 + \
    df["rating"] * 42/100

0     4.249884
1     4.795104
2     3.483494
3     2.937105
4     3.022039
5     2.751651
6     2.857214
7     2.522386
8     2.759901
9     2.816233
10    3.427921
11    2.987387
12    2.528686
13    2.721863
14    3.501984
15    3.365772
16    2.517977
17    2.282315
18    2.458066
19    2.726593
20    3.681563
21    2.519056
22    2.538280
23    2.354586
24    2.264794
25    2.021050
26    2.436116
27    2.561682
28    2.544666
29    1.925836
30    1.924000
31    2.273764
dtype: float64

In [52]:
df["weighted_score_ab"] =df["a"] * 26/100 + \
    df["b"] * 32/100 + \
    df["rating"] * 42/100

In [19]:
def weighted_sorting_score(df,w1=32,w2=26,w3=42):
    return df["purchase_count_scaled"] * w2/100 + \
    df["commment_count_scaled"] * w1/100 + \
    df["rating"] * w3/100
    
df["weighted_sorting_score"] =weighted_sorting_score(df)
df.sort_values(by="weighted_sorting_score",ascending=False).head(10)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,commment_count_scaled,a,b,weighted_sorting_score
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,5.000000,4.982374,4.795104
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.088716,5.000000,4.249884
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67,2.070512,3.916342,3.855389,4.809290,3.681563
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24,2.066120,3.096229,3.852224,4.609319,3.501984
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,4.148321,4.593302,3.483494
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0,1.789374,2.958388,3.627175,4.568045,3.427921
15,Uygulamalarla SQL Öğreniyorum,Veri Bilimi Okulu,11397,4.5,2353,1435,705,165,24,24,1.942127,3.033810,3.758163,4.590979,3.365772
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,1.935248,1.833984,3.752653,4.048085,3.022039
11,Course_3,Instructor_4,24809,4.3,250,95,87,51,12,5,3.053749,1.210663,4.387455,3.208247,2.987387
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265,3.368181,4.083837,2.937105

In [24]:
df.loc[df["course_name"].str.contains("Veri Bilimi")]

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,commment_count_scaled,a,b,weighted_sorting_score
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.088716,5.000000,4.249884
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,5.000000,4.982374,4.795104
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265,3.368181,4.083837,2.937105
7,Veri Bilimi için İstatistik: Python ile İstati...,Veri Bilimi Okulu,929,4.5,126,88,26,9,0,3,1.074512,1.103164,2.232789,2.779429,2.522386

In [42]:
df.apply(lambda x: x[["course_name","instructor_name"]],axis=1).head()

                                         course_name    instructor_name
0  (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu
1  Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu
2           5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1
3    R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu
4  (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu

In [46]:
import math
import scipy.stats as st
def bayesian_average_rating(n, confidence=0.95):
    if sum(n) == 0:
        return 0
    K = len(n)
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    N = sum(n)
    first_part = 0.0
    second_part = 0.0
    for k, n_k in enumerate(n):
        first_part += (k + 1) * (n[k] + 1) / (N + K)
        second_part += (k + 1) * (k + 1) * (n[k] + 1) / (N + K)
    score = first_part - z * math.sqrt((second_part - first_part * first_part) / (N + K + 1))
    return score

df["bar_score"] = df.apply(lambda x:bayesian_average_rating(x[["1_point","2_point","3_point","4_point","5_point"]])  ,axis=1)

1_point  2_point  3_point  4_point  5_point
0        10       20       30       40       50
1        60       70       80       90      100

apply() fonksiyonu, öncelikle ilk satırı alır ve bu satırın "1_point", "2_point", "3_point", "4_point" ve "5_point" sütunlarındaki değerleri alır (yani [10, 20, 30, 40, 50]) ve bu değerleri bayesian_average_rating fonksiyonuna veri olarak gönderir. Sonra aynı işlemi ikinci satır için yapar (yani [60, 70, 80, 90, 100] değerlerini bayesian_average_rating fonksiyonuna gönderir).

In [44]:
df[[]]

0     4.665857
1     4.516038
2     4.515210
3     4.482079
4     4.595674
5     4.634477
6     4.507970
7     4.342189
8     4.434911
9     4.431532
10    4.641679
11    3.877743
12    4.320764
13    4.218544
14    4.568162
15    4.454811
16    3.823386
17    3.911901
18    3.969783
19    4.729128
20    4.480627
21    4.130611
22    4.391326
23    3.415120
24    3.139942
25    3.096734
26    4.260377
27    4.253937
28    4.199606
29    3.645479
30    2.365651
31    3.552886
Name: bar_score, dtype: float64

In [60]:
df.sort_values(by="weighted_sorting_score",ascending=False).head()

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,commment_count_scaled,a,b,weighted_sorting_score,bar_score,weighted_score_ab
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,5.000000,4.982374,4.795104,4.516038,4.826360
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.088716,5.000000,4.249884,4.665857,4.679066
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67,2.070512,3.916342,3.855389,4.809290,3.681563,4.480627,4.431374
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24,2.066120,3.096229,3.852224,4.609319,3.501984,4.568162,4.450560
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,4.148321,4.593302,3.483494,4.515210,4.396420

In [64]:
def hybrid_sorting_score(df,bar_w=0.6,wss_w=0.4):
    bar_score = df.apply(lambda x: bayesian_average_rating(x[["1_point","2_point","3_point","4_point","5_point"]]),axis=1)
    
    wss_score = weighted_sorting_score(df)
    return bar_score * bar_w  + wss_score * wss_w
df["hybrid_sorting_score"] =hybrid_sorting_score(df)

In [66]:
df.sort_values(by="hybrid_sorting_score",ascending=False).head(10)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,commment_count_scaled,a,b,weighted_sorting_score,bar_score,weighted_score_ab,hybrid_sorting_score
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,5.000000,4.982374,4.795104,4.516038,4.826360,4.627664
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.088716,5.000000,4.249884,4.665857,4.679066,4.499468
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67,2.070512,3.916342,3.855389,4.809290,3.681563,4.480627,4.431374,4.161001
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0,1.789374,2.958388,3.627175,4.568045,3.427921,4.641679,4.420840,4.156176
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24,2.066120,3.096229,3.852224,4.609319,3.501984,4.568162,4.450560,4.141691
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,4.148321,4.593302,3.483494,4.515210,4.396420,4.102524
15,Uygulamalarla SQL Öğreniyorum,Veri Bilimi Okulu,11397,4.5,2353,1435,705,165,24,24,1.942127,3.033810,3.758163,4.590979,3.365772,4.454811,4.336236,4.019195
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,1.935248,1.833984,3.752653,4.048085,3.022039,4.595674,4.203077,3.966220
19,Alıştırmalarla SQL Öğreniyorum,Veri Bilimi Okulu,3155,4.8,235,200,31,4,0,0,1.259008,1.197659,2.892099,3.169615,2.726593,4.729128,3.782223,3.928114
5,Course_1,Instructor_2,4601,4.8,213,164,45,4,0,0,1.378857,1.178587,3.126309,3.108203,2.751651,4.634477,3.823465,3.881346