In [20]:
import pandas as pd
import math
import scipy.stats as st

In [21]:
def wilson_lower_bound(up, down, confidence=0.95):
    """
    Wilson Lower Bound Score hesapla

    - Bernoulli parametresi p için hesaplanacak güven aralığının alt sınırı WLB skoru olarak kabul edilir.
    - Hesaplanacak skor ürün sıralaması için kullanılır.
    - Not:
    Eğer skorlar 1-5 arasıdaysa 1-3 negatif, 4-5 pozitif olarak işaretlenir ve bernoulli'ye uygun hale getirilebilir.
    Bu beraberinde bazı problemleri de getirir. Bu sebeple bayesian average rating yapmak gerekir.

    Parameters
    ----------
    up: int
        up count
    down: int
        down count
    confidence: float
        confidence

    Returns
    -------
    wilson score: float

    """
    n = up + down
    if n == 0:
        return 0
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    phat = 1.0 * up / n
    return (phat + z * z / (2 * n) - z * math.sqrt((phat * (1 - phat) + z * z / (4 * n)) / n)) / (1 + z * z / n)

In [22]:
wilson_lower_bound(600,400)

0.5693094295142663

In [23]:
wilson_lower_bound(100,2)

0.931306915989651

In [24]:
wilson_lower_bound(5,0)

0.5655175352168252

In [25]:
wilson_lower_bound(2,0)

0.3423802275066531

In [26]:
up = [15, 70, 14, 4, 2, 5, 8, 37, 21, 52, 28, 147, 61, 30, 23, 40, 37, 61, 54, 18, 12, 68]
down = [0, 2, 2, 2, 15, 2, 6, 5, 23, 8, 12, 2, 1, 1, 5, 1, 2, 6, 2, 0, 2, 2]
comments = pd.DataFrame({"up": up, "down": down})
comments

     up  down
0    15     0
1    70     2
2    14     2
3     4     2
4     2    15
5     5     2
6     8     6
7    37     5
8    21    23
9    52     8
10   28    12
11  147     2
12   61     1
13   30     1
14   23     5
15   40     1
16   37     2
17   61     6
18   54     2
19   18     0
20   12     2
21   68     2

In [27]:
def score_up_down_diff(up, down):
    return up - down

In [28]:

def score_average_rating(up, down):
    if up + down == 0:
        return 0
    return up / (up + down)

In [32]:
comments.apply(lambda x:( x["up"], x["down"]),axis=1)

0      (15, 0)
1      (70, 2)
2      (14, 2)
3       (4, 2)
4      (2, 15)
5       (5, 2)
6       (8, 6)
7      (37, 5)
8     (21, 23)
9      (52, 8)
10    (28, 12)
11    (147, 2)
12     (61, 1)
13     (30, 1)
14     (23, 5)
15     (40, 1)
16     (37, 2)
17     (61, 6)
18     (54, 2)
19     (18, 0)
20     (12, 2)
21     (68, 2)
dtype: object

In [34]:
comments["up_down_diff"] = comments.apply(lambda x: score_up_down_diff(x["up"], x["down"]),axis=1)
comments["average_rating"] = comments.apply(lambda x: score_average_rating(x["up"], x["down"]),axis=1)
comments["wilson_lower_bound"] = comments.apply(lambda x: wilson_lower_bound(x["up"], x["down"]),axis=1)
comments

     up  down  up_down_diff  average_rating  wilson_lower_bound
0    15     0          15.0        1.000000            0.796117
1    70     2          68.0        0.972222            0.904258
2    14     2          12.0        0.875000            0.639772
3     4     2           2.0        0.666667            0.299993
4     2    15         -13.0        0.117647            0.032880
5     5     2           3.0        0.714286            0.358934
6     8     6           2.0        0.571429            0.325906
7    37     5          32.0        0.880952            0.749996
8    21    23          -2.0        0.477273            0.337550
9    52     8          44.0        0.866667            0.758348
10   28    12          16.0        0.700000            0.545700
11  147     2         145.0        0.986577            0.952384
12   61     1          60.0        0.983871            0.914133
13   30     1          29.0        0.967742            0.838059
14   23     5          18.0        0.821429            0.644086
15   40     1          39.0        0.975610            0.874049
16   37     2          35.0        0.948718            0.831144
17   61     6          55.0        0.910448            0.818072
18   54     2          52.0        0.964286            0.878812
19   18     0          18.0        1.000000            0.824121
20   12     2          10.0        0.857143            0.600586
21   68     2          66.0        0.971429            0.901677

In [37]:
comments.sort_values("wilson_lower_bound",ascending=False)

     up  down  up_down_diff  average_rating  wilson_lower_bound
11  147     2         145.0        0.986577            0.952384
12   61     1          60.0        0.983871            0.914133
1    70     2          68.0        0.972222            0.904258
21   68     2          66.0        0.971429            0.901677
18   54     2          52.0        0.964286            0.878812
15   40     1          39.0        0.975610            0.874049
13   30     1          29.0        0.967742            0.838059
16   37     2          35.0        0.948718            0.831144
19   18     0          18.0        1.000000            0.824121
17   61     6          55.0        0.910448            0.818072
0    15     0          15.0        1.000000            0.796117
9    52     8          44.0        0.866667            0.758348
7    37     5          32.0        0.880952            0.749996
14   23     5          18.0        0.821429            0.644086
2    14     2          12.0        0.875000            0.639772
20   12     2          10.0        0.857143            0.600586
10   28    12          16.0        0.700000            0.545700
5     5     2           3.0        0.714286            0.358934
8    21    23          -2.0        0.477273            0.337550
6     8     6           2.0        0.571429            0.325906
3     4     2           2.0        0.666667            0.299993
4     2    15         -13.0        0.117647            0.032880