In [2]:
import pandas as pd
df = pd.read_csv("movies_metadata.csv",low_memory=False)
df = df[["title","vote_average","vote_count"]]
df.head()

                         title  vote_average  vote_count
0                    Toy Story           7.7      5415.0
1                      Jumanji           6.9      2413.0
2             Grumpier Old Men           6.5        92.0
3            Waiting to Exhale           6.1        34.0
4  Father of the Bride Part II           5.7       173.0

In [3]:
from sklearn.preprocessing import MinMaxScaler
df["vote_count_score"] = MinMaxScaler(feature_range=(1,10)).fit_transform(df[["vote_count"]])

In [15]:
df["scores"] = df["vote_average"] * df["vote_count_score"]
df.sort_values(by="scores",ascending=False).head(15)

,title,vote_average,vote_count,vote_count_score,scores,weighted_rating
15480,Inception,8.1,14075.0,10.000000,81.000000,7.725672
12481,The Dark Knight,8.3,12269.0,8.845187,73.415048,7.846044
22879,Interstellar,8.1,11187.0,8.153321,66.041904,7.646688
17818,The Avengers,7.4,12000.0,8.673179,64.181528,7.092794
14551,Avatar,7.2,12114.0,8.746075,62.971737,6.929405
26564,Deadpool,7.4,11444.0,8.317655,61.550650,7.080545
2843,Fight Club,8.3,9678.0,7.188419,59.663879,7.749460
20051,Django Unchained,7.8,10297.0,7.584227,59.156973,7.373769
23753,Guardians of the Galaxy,7.9,10014.0,7.403268,58.485819,7.444152
292,Pulp Fiction,8.3,8670.0,6.543872,54.314139,7.699778
314,The Shawshank Redemption,8.5,8358.0,6.344369,53.927140,7.836482
2458,The Matrix,7.9,9079.0,6.805400,53.762657,7.407342
4863,The Lord of the Rings: The Fellowship of the Ring,8.0,8892.0,6.685826,53.486607,7.477310
18252,The Dark Knight Rises,7.6,9263.0,6.923055,52.615218,7.178808
26553,Mad Max: Fury Road,7.3,9629.0,7.157087,52.246735,6.953353

In [13]:
M = 2500
C = df["vote_average"].mean()

def weighted_rating(r,v,M,C): 
    return (v/(v+M)*r) + (M/(v+M)*C)

df["weighted_rating"] = weighted_rating(df["vote_average"],df["vote_count"],M,C)

In [14]:
df.sort_values(by="weighted_rating",ascending=False).head(10)

,title,vote_average,vote_count,vote_count_score,scores,weighted_rating
12481,The Dark Knight,8.3,12269.0,8.845187,101832.7,7.846044
314,The Shawshank Redemption,8.5,8358.0,6.344369,71043.0,7.836482
2843,Fight Club,8.3,9678.0,7.188419,80327.4,7.749460
15480,Inception,8.1,14075.0,10.000000,114007.5,7.725672
292,Pulp Fiction,8.3,8670.0,6.543872,71961.0,7.699778
834,The Godfather,8.5,6024.0,4.851936,51204.0,7.654800
22879,Interstellar,8.1,11187.0,8.153321,90614.7,7.646688
351,Forrest Gump,8.2,8147.0,6.209449,66805.4,7.593775
7000,The Lord of the Rings: The Return of the King,8.1,8226.0,6.259964,66630.6,7.521547
4863,The Lord of the Rings: The Fellowship of the Ring,8.0,8892.0,6.685826,71136.0,7.477310

In [11]:
df[df.title.isin(["Dilwale Dulhania Le Jayenge"])]

,title,vote_average,vote_count,vote_count_score,scores,weighted_rating
10309,Dilwale Dulhania Le Jayenge,9.1,661.0,1.422664,6015.1,6.346289