In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
df.columns=[col.lower() for col in df.columns]

In [3]:
df["name"].apply(lambda x : [a for a in x.split() if a.startswith("Dr.")]).value_counts()

name
[]       884
[Dr.]      7
Name: count, dtype: int64

In [4]:
np.where((df["sibsp"]+df["parch"])>0,0,1)

array([0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1])

In [5]:
np.where(df["age"] < 18, "young", np.where((df["age"] >= 18) & (df["age"] < 50), "mature", 
                                       np.where(df["age"] >= 50, "senior", np.nan)))

array(['mature', 'mature', 'mature', 'mature', 'mature', 'nan', 'senior',
       'young', 'mature', 'young', 'young', 'senior', 'mature', 'mature',
       'young', 'senior', 'young', 'nan', 'mature', 'nan', 'mature',
       'mature', 'young', 'mature', 'young', 'mature', 'nan', 'mature',
       'nan', 'nan', 'mature', 'nan', 'nan', 'senior', 'mature', 'mature',
       'nan', 'mature', 'mature', 'young', 'mature', 'mature', 'nan',
       'young', 'mature', 'nan', 'nan', 'nan', 'nan', 'mature', 'young',
       'mature', 'mature', 'mature', 'senior', 'nan', 'mature', 'mature',
       'young', 'young', 'mature', 'mature', 'mature', 'young', 'nan',
       'nan', 'mature', 'mature', 'young', 'mature', 'mature', 'young',
       'mature', 'mature', 'mature', 'mature', 'nan', 'nan', 'young',
       'mature', 'mature', 'mature', 'nan', 'mature', 'young', 'mature',
       'young', 'nan', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'senior', 'nan', 'senior', 'mature', 'mature', 'mature',
       'mature', 'nan', 'mature', 'mature', 'mature', 'mature', 'mature',
       'nan', 'mature', 'nan', 'mature', 'young', 'mature', 'mature',
       'young', 'mature', 'senior', 'mature', 'mature', 'young', 'mature',
       'nan', 'mature', 'mature', 'senior', 'young', 'nan', 'mature',
       'nan', 'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'young', 'mature', 'nan', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'young',
       'mature', 'mature', 'senior', 'mature', 'senior', 'mature', 'nan',
       'senior', 'young', 'mature', 'nan', 'nan', 'mature', 'mature',
       'mature', 'young', 'young', 'young', 'nan', 'mature', 'nan',
       'mature', 'senior', 'young', 'young', 'mature', 'senior', 'mature',
       'nan', 'senior', 'mature', 'mature', 'nan', 'nan', 'young',
       'young', 'young', 'nan', 'nan', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'young', 'mature', 'senior', 'nan',
       'mature', 'nan', 'mature', 'mature', 'nan', 'mature', 'mature',
       'mature', 'young', 'mature', 'mature', 'young', 'mature', 'mature',
       'mature', 'mature', 'mature', 'nan', 'mature', 'mature', 'mature',
       'mature', 'mature', 'young', 'mature', 'senior', 'nan', 'mature',
       'mature', 'mature', 'mature', 'mature', 'nan', 'mature', 'mature',
       'senior', 'young', 'mature', 'nan', 'mature', 'young', 'mature',
       'mature', 'nan', 'nan', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'senior', 'nan', 'mature', 'senior',
       'mature', 'mature', 'mature', 'nan', 'mature', 'mature', 'senior',
       'nan', 'young', 'senior', 'mature', 'nan', 'mature', 'young',
       'mature', 'senior', 'mature', 'nan', 'mature', 'mature', 'mature',
       'nan', 'senior', 'mature', 'nan', 'young', 'mature', 'senior',
       'mature', 'young', 'mature', 'nan', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'nan', 'mature', 'young', 'nan', 'senior', 'nan', 'nan',
       'mature', 'nan', 'nan', 'young', 'nan', 'young', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'senior', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'nan', 'mature', 'senior', 'mature',
       'mature', 'young', 'nan', 'mature', 'mature', 'young', 'nan',
       'nan', 'mature', 'mature', 'mature', 'mature', 'young', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'nan', 'young',
       'mature', 'mature', 'nan', 'young', 'mature', 'nan', 'mature',
       'mature', 'mature', 'nan', 'nan', 'mature', 'mature', 'mature',
       'mature', 'nan', 'mature', 'senior', 'nan', 'nan', 'mature',
       'mature', 'mature', 'mature', 'mature', 'young', 'nan', 'mature',
       'mature', 'mature', 'mature', 'mature', 'young', 'mature',
       'mature', 'nan', 'mature', 'young', 'mature', 'nan', 'young',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'mature', 'senior', 'young',
       'mature', 'nan', 'nan', 'nan', 'mature', 'nan', 'mature', 'nan',
       'mature', 'mature', 'mature', 'young', 'nan', 'mature', 'mature',
       'mature', 'mature', 'nan', 'mature', 'mature', 'nan', 'mature',
       'mature', 'nan', 'mature', 'young', 'senior', 'young', 'mature',
       'mature', 'senior', 'mature', 'mature', 'mature', 'mature',
       'mature', 'nan', 'young', 'young', 'mature', 'young', 'senior',
       'mature', 'nan', 'mature', 'mature', 'nan', 'mature', 'senior',
       'nan', 'senior', 'nan', 'mature', 'mature', 'mature', 'mature',
       'nan', 'mature', 'nan', 'senior', 'nan', 'young', 'nan', 'mature',
       'mature', 'mature', 'mature', 'nan', 'mature', 'mature', 'mature',
       'young', 'young', 'nan', 'senior', 'senior', 'mature', 'nan',
       'mature', 'senior', 'mature', 'young', 'nan', 'mature', 'senior',
       'senior', 'mature', 'nan', 'senior', 'nan', 'mature', 'mature',
       'young', 'mature', 'nan', 'mature', 'young', 'mature', 'mature',
       'nan', 'mature', 'mature', 'mature', 'nan', 'mature', 'senior',
       'mature', 'mature', 'mature', 'nan', 'mature', 'mature', 'mature',
       'mature', 'nan', 'mature', 'nan', 'mature', 'senior', 'nan',
       'mature', 'mature', 'young', 'nan', 'young', 'nan', 'mature',
       'young', 'mature', 'mature', 'nan', 'mature', 'mature', 'young',
       'young', 'mature', 'senior', 'senior', 'mature', 'nan', 'mature',
       'young', 'young', 'mature', 'nan', 'mature', 'mature', 'senior',
       'mature', 'nan', 'mature', 'mature', 'nan', 'mature', 'mature',
       'nan', 'nan', 'mature', 'mature', 'mature', 'nan', 'mature',
       'senior', 'senior', 'mature', 'nan', 'young', 'mature', 'mature',
       'mature', 'nan', 'mature', 'mature', 'mature', 'senior', 'mature',
       'nan', 'mature', 'mature', 'senior', 'mature', 'nan', 'mature',
       'senior', 'mature', 'nan', 'mature', 'mature', 'nan', 'mature',
       'nan', 'mature', 'mature', 'nan', 'nan', 'mature', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature', 'nan',
       'nan', 'nan', 'mature', 'mature', 'mature', 'mature', 'young',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'senior', 'senior', 'mature', 'mature', 'nan', 'senior', 'senior',
       'mature', 'nan', 'young', 'mature', 'mature', 'mature', 'mature',
       'nan', 'mature', 'mature', 'young', 'nan', 'young', 'mature',
       'mature', 'senior', 'nan', 'mature', 'nan', 'mature', 'mature',
       'nan', 'mature', 'mature', 'nan', 'mature', 'mature', 'senior',
       'senior', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'nan', 'mature', 'nan', 'mature', 'mature', 'senior',
       'mature', 'nan', 'mature', 'mature', 'mature', 'mature', 'mature',
       'nan', 'mature', 'mature', 'young', 'senior', 'mature', 'young',
       'mature', 'mature', 'young', 'mature', 'young', 'nan', 'mature',
       'senior', 'senior', 'mature', 'nan', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'nan', 'mature', 'nan', 'mature', 'mature',
       'senior', 'mature', 'mature', 'mature', 'nan', 'mature', 'young',
       'young', 'mature', 'senior', 'mature', 'mature', 'mature', 'nan',
       'mature', 'mature', 'mature', 'young', 'nan', 'mature', 'mature',
       'mature', 'mature', 'mature', 'nan', 'nan', 'nan', 'mature',
       'mature', 'mature', 'mature', 'senior', 'young', 'mature',
       'mature', 'mature', 'young', 'young', 'mature', 'mature', 'mature',
       'young', 'mature', 'mature', 'mature', 'mature', 'nan', 'mature',
       'mature', 'mature', 'young', 'senior', 'nan', 'mature', 'nan',
       'mature', 'mature', 'mature', 'senior', 'nan', 'senior', 'mature',
       'nan', 'young', 'nan', 'mature', 'young', 'young', 'mature', 'nan',
       'mature', 'mature', 'mature', 'young', 'young', 'mature', 'nan',
       'young', 'nan', 'nan', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'mature', 'young', 'young', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'young', 'mature', 'nan', 'mature', 'mature',
       'mature', 'young', 'senior', 'mature', 'mature', 'mature', 'young',
       'nan', 'nan', 'young', 'nan', 'senior', 'young', 'young', 'nan',
       'mature', 'mature', 'mature', 'mature', 'nan', 'mature', 'nan',
       'mature', 'young', 'mature', 'mature', 'young', 'mature', 'nan',
       'mature', 'mature', 'nan', 'young', 'senior', 'young', 'young',
       'mature', 'mature', 'mature', 'senior', 'mature', 'nan', 'mature',
       'mature', 'mature', 'nan', 'mature', 'mature', 'mature', 'mature',
       'nan', 'young', 'mature', 'mature', 'mature', 'mature', 'mature',
       'young', 'mature', 'mature', 'nan', 'senior', 'mature', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature', 'nan',
       'mature', 'mature'], dtype='<U32')

In [6]:
conditions = [
    (df["age"] < 18),
    (df["age"] >= 18) & (df["age"] < 50),
    (df["age"] >= 50)
]

choices = ["young", "mature", "senior"]
np.select(conditions, choices, default=np.nan)

array(['mature', 'mature', 'mature', 'mature', 'mature', 'nan', 'senior',
       'young', 'mature', 'young', 'young', 'senior', 'mature', 'mature',
       'young', 'senior', 'young', 'nan', 'mature', 'nan', 'mature',
       'mature', 'young', 'mature', 'young', 'mature', 'nan', 'mature',
       'nan', 'nan', 'mature', 'nan', 'nan', 'senior', 'mature', 'mature',
       'nan', 'mature', 'mature', 'young', 'mature', 'mature', 'nan',
       'young', 'mature', 'nan', 'nan', 'nan', 'nan', 'mature', 'young',
       'mature', 'mature', 'mature', 'senior', 'nan', 'mature', 'mature',
       'young', 'young', 'mature', 'mature', 'mature', 'young', 'nan',
       'nan', 'mature', 'mature', 'young', 'mature', 'mature', 'young',
       'mature', 'mature', 'mature', 'mature', 'nan', 'nan', 'young',
       'mature', 'mature', 'mature', 'nan', 'mature', 'young', 'mature',
       'young', 'nan', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'senior', 'nan', 'senior', 'mature', 'mature', 'mature',
       'mature', 'nan', 'mature', 'mature', 'mature', 'mature', 'mature',
       'nan', 'mature', 'nan', 'mature', 'young', 'mature', 'mature',
       'young', 'mature', 'senior', 'mature', 'mature', 'young', 'mature',
       'nan', 'mature', 'mature', 'senior', 'young', 'nan', 'mature',
       'nan', 'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'young', 'mature', 'nan', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'young',
       'mature', 'mature', 'senior', 'mature', 'senior', 'mature', 'nan',
       'senior', 'young', 'mature', 'nan', 'nan', 'mature', 'mature',
       'mature', 'young', 'young', 'young', 'nan', 'mature', 'nan',
       'mature', 'senior', 'young', 'young', 'mature', 'senior', 'mature',
       'nan', 'senior', 'mature', 'mature', 'nan', 'nan', 'young',
       'young', 'young', 'nan', 'nan', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'young', 'mature', 'senior', 'nan',
       'mature', 'nan', 'mature', 'mature', 'nan', 'mature', 'mature',
       'mature', 'young', 'mature', 'mature', 'young', 'mature', 'mature',
       'mature', 'mature', 'mature', 'nan', 'mature', 'mature', 'mature',
       'mature', 'mature', 'young', 'mature', 'senior', 'nan', 'mature',
       'mature', 'mature', 'mature', 'mature', 'nan', 'mature', 'mature',
       'senior', 'young', 'mature', 'nan', 'mature', 'young', 'mature',
       'mature', 'nan', 'nan', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'senior', 'nan', 'mature', 'senior',
       'mature', 'mature', 'mature', 'nan', 'mature', 'mature', 'senior',
       'nan', 'young', 'senior', 'mature', 'nan', 'mature', 'young',
       'mature', 'senior', 'mature', 'nan', 'mature', 'mature', 'mature',
       'nan', 'senior', 'mature', 'nan', 'young', 'mature', 'senior',
       'mature', 'young', 'mature', 'nan', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'nan', 'mature', 'young', 'nan', 'senior', 'nan', 'nan',
       'mature', 'nan', 'nan', 'young', 'nan', 'young', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'senior', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'nan', 'mature', 'senior', 'mature',
       'mature', 'young', 'nan', 'mature', 'mature', 'young', 'nan',
       'nan', 'mature', 'mature', 'mature', 'mature', 'young', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'nan', 'young',
       'mature', 'mature', 'nan', 'young', 'mature', 'nan', 'mature',
       'mature', 'mature', 'nan', 'nan', 'mature', 'mature', 'mature',
       'mature', 'nan', 'mature', 'senior', 'nan', 'nan', 'mature',
       'mature', 'mature', 'mature', 'mature', 'young', 'nan', 'mature',
       'mature', 'mature', 'mature', 'mature', 'young', 'mature',
       'mature', 'nan', 'mature', 'young', 'mature', 'nan', 'young',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'mature', 'senior', 'young',
       'mature', 'nan', 'nan', 'nan', 'mature', 'nan', 'mature', 'nan',
       'mature', 'mature', 'mature', 'young', 'nan', 'mature', 'mature',
       'mature', 'mature', 'nan', 'mature', 'mature', 'nan', 'mature',
       'mature', 'nan', 'mature', 'young', 'senior', 'young', 'mature',
       'mature', 'senior', 'mature', 'mature', 'mature', 'mature',
       'mature', 'nan', 'young', 'young', 'mature', 'young', 'senior',
       'mature', 'nan', 'mature', 'mature', 'nan', 'mature', 'senior',
       'nan', 'senior', 'nan', 'mature', 'mature', 'mature', 'mature',
       'nan', 'mature', 'nan', 'senior', 'nan', 'young', 'nan', 'mature',
       'mature', 'mature', 'mature', 'nan', 'mature', 'mature', 'mature',
       'young', 'young', 'nan', 'senior', 'senior', 'mature', 'nan',
       'mature', 'senior', 'mature', 'young', 'nan', 'mature', 'senior',
       'senior', 'mature', 'nan', 'senior', 'nan', 'mature', 'mature',
       'young', 'mature', 'nan', 'mature', 'young', 'mature', 'mature',
       'nan', 'mature', 'mature', 'mature', 'nan', 'mature', 'senior',
       'mature', 'mature', 'mature', 'nan', 'mature', 'mature', 'mature',
       'mature', 'nan', 'mature', 'nan', 'mature', 'senior', 'nan',
       'mature', 'mature', 'young', 'nan', 'young', 'nan', 'mature',
       'young', 'mature', 'mature', 'nan', 'mature', 'mature', 'young',
       'young', 'mature', 'senior', 'senior', 'mature', 'nan', 'mature',
       'young', 'young', 'mature', 'nan', 'mature', 'mature', 'senior',
       'mature', 'nan', 'mature', 'mature', 'nan', 'mature', 'mature',
       'nan', 'nan', 'mature', 'mature', 'mature', 'nan', 'mature',
       'senior', 'senior', 'mature', 'nan', 'young', 'mature', 'mature',
       'mature', 'nan', 'mature', 'mature', 'mature', 'senior', 'mature',
       'nan', 'mature', 'mature', 'senior', 'mature', 'nan', 'mature',
       'senior', 'mature', 'nan', 'mature', 'mature', 'nan', 'mature',
       'nan', 'mature', 'mature', 'nan', 'nan', 'mature', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature', 'nan',
       'nan', 'nan', 'mature', 'mature', 'mature', 'mature', 'young',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'senior', 'senior', 'mature', 'mature', 'nan', 'senior', 'senior',
       'mature', 'nan', 'young', 'mature', 'mature', 'mature', 'mature',
       'nan', 'mature', 'mature', 'young', 'nan', 'young', 'mature',
       'mature', 'senior', 'nan', 'mature', 'nan', 'mature', 'mature',
       'nan', 'mature', 'mature', 'nan', 'mature', 'mature', 'senior',
       'senior', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'nan', 'mature', 'nan', 'mature', 'mature', 'senior',
       'mature', 'nan', 'mature', 'mature', 'mature', 'mature', 'mature',
       'nan', 'mature', 'mature', 'young', 'senior', 'mature', 'young',
       'mature', 'mature', 'young', 'mature', 'young', 'nan', 'mature',
       'senior', 'senior', 'mature', 'nan', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'nan', 'mature', 'nan', 'mature', 'mature',
       'senior', 'mature', 'mature', 'mature', 'nan', 'mature', 'young',
       'young', 'mature', 'senior', 'mature', 'mature', 'mature', 'nan',
       'mature', 'mature', 'mature', 'young', 'nan', 'mature', 'mature',
       'mature', 'mature', 'mature', 'nan', 'nan', 'nan', 'mature',
       'mature', 'mature', 'mature', 'senior', 'young', 'mature',
       'mature', 'mature', 'young', 'young', 'mature', 'mature', 'mature',
       'young', 'mature', 'mature', 'mature', 'mature', 'nan', 'mature',
       'mature', 'mature', 'young', 'senior', 'nan', 'mature', 'nan',
       'mature', 'mature', 'mature', 'senior', 'nan', 'senior', 'mature',
       'nan', 'young', 'nan', 'mature', 'young', 'young', 'mature', 'nan',
       'mature', 'mature', 'mature', 'young', 'young', 'mature', 'nan',
       'young', 'nan', 'nan', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'mature', 'mature', 'young', 'young', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature',
       'mature', 'mature', 'young', 'mature', 'nan', 'mature', 'mature',
       'mature', 'young', 'senior', 'mature', 'mature', 'mature', 'young',
       'nan', 'nan', 'young', 'nan', 'senior', 'young', 'young', 'nan',
       'mature', 'mature', 'mature', 'mature', 'nan', 'mature', 'nan',
       'mature', 'young', 'mature', 'mature', 'young', 'mature', 'nan',
       'mature', 'mature', 'nan', 'young', 'senior', 'young', 'young',
       'mature', 'mature', 'mature', 'senior', 'mature', 'nan', 'mature',
       'mature', 'mature', 'nan', 'mature', 'mature', 'mature', 'mature',
       'nan', 'young', 'mature', 'mature', 'mature', 'mature', 'mature',
       'young', 'mature', 'mature', 'nan', 'senior', 'mature', 'mature',
       'mature', 'mature', 'mature', 'mature', 'mature', 'mature', 'nan',
       'mature', 'mature'], dtype='<U32')

In [7]:
df["new_cabin"] = df["cabin"].notnull().astype(int)
df["name_count"] = df["name"].str.len()
df["name_word_count"] = df["name"].apply(lambda x: len(str(x).split()))
df["name_dr"]=df["name"].apply(lambda x :len([a for a in x.split() if a.startswith("Dr.")]))
df["new_title"] = df["name"].str.extract(" ([A-Za-z]+)\.",expand=False)
df["family_size"] = df["sibsp"] + df["parch"] + 1
df["new_age_pclass"] = df["age"] * df["pclass"]
df["is_alone"] = np.where((df["sibsp"]+df["parch"])>0,0,1)
df["new_age_cat"] = np.where(df["age"] < 18, "young", 
                              np.where((df["age"] >= 18) & (df["age"] < 50), "mature", 
                                       np.where(df["age"] >= 50, "senior", np.nan)))
df.loc[(df["sex"]=="male") & (df["age"]<=21),"new_sex_cat"] = "youngmale"
df.loc[(df["sex"]=="male") & (df["age"]>21) & (df["age"]<=50),"new_sex_cat"] ="maturemale"
df.loc[(df["sex"]=="male") & (df["age"]>50),"new_sex_cat"] = "seniormale"
df.loc[(df["sex"]=="female") & (df["age"]<=21),"new_sex_cat"] = "youngfemale"
df.loc[(df["sex"]=="female") & (df["age"]>21) & (df["age"]<=50),"new_sex_cat"] ="maturefemale"
df.loc[(df["sex"]=="female") & (df["age"]>50),"new_sex_cat"] = "seniorfemale"

In [8]:
df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,...,new_cabin,name_count,name_word_count,name_dr,new_title,family_size,new_age_pclass,is_alone,new_age_cat,new_sex_cat
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,0,23,4,0,Mr,2,66.0,0,mature,maturemale
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,1,51,7,0,Mrs,2,38.0,0,mature,maturefemale
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,0,22,3,0,Miss,1,78.0,1,mature,maturefemale
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,1,44,7,0,Mrs,2,35.0,0,mature,maturefemale
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,0,24,4,0,Mr,1,105.0,1,mature,maturemale

In [9]:
def grab_col_names(df,cat_th=10,car_th=20):
    num_cols = [col for col in df.columns if np.issubdtype(df[col].dtype, np.number)]
    cat_cols = [col for col in df.columns if not np.issubdtype(df[col].dtype, np.number)]
    num_but_cat =  [col for col in num_cols if df[col].nunique()<cat_th]
    cat_but_car = [col for col in cat_cols if df[col].nunique()>car_th]
    cat_cols = cat_cols + num_but_cat
    cat_cols = [col for col in cat_cols if col not in cat_but_car]
    num_cols = [col for col in num_cols if col not in num_but_cat]
    print(f"cat_cols = {len(cat_cols)}")
    print(f"num_cols ={len(num_cols)}")
    print(f"num_but_car = {len(cat_but_car)}")
    print(f"num_but_cat={len(num_but_cat)}")
        
    return cat_cols, num_cols,cat_but_car,num_but_cat

cat_cols, num_cols,cat_but_car,num_but_cat=grab_col_names(df)

cat_cols = 14
num_cols =5
num_but_car = 3
num_but_cat=9

In [10]:
num_cols = ['age', 'fare', 'name_count', 'new_age_pclass']

In [11]:
num_but_cat

['survived',
 'pclass',
 'sibsp',
 'parch',
 'new_cabin',
 'name_word_count',
 'name_dr',
 'family_size',
 'is_alone']

In [12]:
df[num_but_cat]

,survived,pclass,sibsp,parch,new_cabin,name_word_count,name_dr,family_size,is_alone
0,0,3,1,0,0,4,0,2,0
1,1,1,1,0,1,7,0,2,0
2,1,3,0,0,0,3,0,1,1
3,1,1,1,0,1,7,0,2,0
4,0,3,0,0,0,4,0,1,1
...,...,...,...,...,...,...,...,...,...
886,0,2,0,0,0,3,0,1,1
887,1,1,0,0,1,4,0,1,1
888,0,3,1,2,0,5,0,4,0
889,1,1,0,0,1,4,0,1,1
890,0,3,0,0,0,3,0,1,1

In [13]:
def outliers(df,variable,q1=0.10,q3=0.90):
    quantile1 = df[variable].quantile(q1)
    quantile3 = df[variable].quantile(q3)
    iqr = quantile3 - quantile1
    lower_lim = quantile1 - 1.5*iqr
    upper_lim = quantile3 + 1.5*iqr
    return lower_lim, upper_lim

def check_outlier(df,variable):
    lower_lim,upper_lim =outliers(df,variable)
    if df.loc[(df[variable]<lower_lim) | (df[variable]>upper_lim)].any(axis=None):
        return True
    else:
        return False

In [14]:
for col in num_cols:
    print(col,check_outlier(df,col))

age False
fare True
name_count True
new_age_pclass False

In [15]:
def replace_outliers(df,variable):
    lower_lim, upper_lim = outliers(df,variable)
    df[variable].clip(lower=lower_lim, upper=upper_lim,inplace=True)
    
for col in num_cols:
    replace_outliers(df,col)

In [16]:
for col in num_cols:
    print(col,check_outlier(df,col))

age False
fare False
name_count False
new_age_pclass False

In [17]:
df.isnull().sum().sort_values(ascending=False) / len(df)*100

cabin              77.104377
new_sex_cat        19.865320
age                19.865320
new_age_pclass     19.865320
embarked            0.224467
sex                 0.000000
name_word_count     0.000000
new_age_cat         0.000000
is_alone            0.000000
pclass              0.000000
family_size         0.000000
new_title           0.000000
name_dr             0.000000
name_count          0.000000
sibsp               0.000000
new_cabin           0.000000
survived            0.000000
name                0.000000
fare                0.000000
ticket              0.000000
parch               0.000000
passengerid         0.000000
dtype: float64

In [18]:
remove_cols = ["cabin","ticket","name"]
df.drop(remove_cols,axis=1,inplace=True)

In [19]:
df["new_title"]

0        Mr
1       Mrs
2      Miss
3       Mrs
4        Mr
       ...
886     Rev
887    Miss
888    Miss
889      Mr
890      Mr
Name: new_title, Length: 891, dtype: object

In [20]:
df.isnull().sum().sort_values(ascending=False) / len(df)*100

new_sex_cat        19.865320
age                19.865320
new_age_pclass     19.865320
embarked            0.224467
name_word_count     0.000000
new_age_cat         0.000000
is_alone            0.000000
family_size         0.000000
new_title           0.000000
name_dr             0.000000
passengerid         0.000000
name_count          0.000000
survived            0.000000
fare                0.000000
parch               0.000000
sibsp               0.000000
sex                 0.000000
pclass              0.000000
new_cabin           0.000000
dtype: float64

In [21]:
df["age"] = df["age"].fillna(df.groupby("new_title")["age"].transform("mean"))
df["new_age_pclass"] = df["age"] * df["pclass"]
df["new_age_cat"] = np.where(df["age"] < 18, "young", 
                              np.where((df["age"] >= 18) & (df["age"] < 50), "mature", 
                                       np.where(df["age"] >= 50, "senior", np.nan)))
df.loc[(df["sex"]=="male") & (df["age"]<=21),"new_sex_cat"] = "youngmale"
df.loc[(df["sex"]=="male") & (df["age"]>21) & (df["age"]<=50),"new_sex_cat"] ="maturemale"
df.loc[(df["sex"]=="male") & (df["age"]>50),"new_sex_cat"] = "seniormale"
df.loc[(df["sex"]=="female") & (df["age"]<=21),"new_sex_cat"] = "youngfemale"
df.loc[(df["sex"]=="female") & (df["age"]>21) & (df["age"]<=50),"new_sex_cat"] ="maturefemale"
df.loc[(df["sex"]=="female") & (df["age"]>50),"new_sex_cat"] = "seniorfemale"

In [22]:
def missing_values_table(df):
    na_cols = [col for col in df.columns if df[col].isnull().sum()>0]
    n_miss = df[na_cols].isnull().sum().sort_values(ascending=False)
    ratio = (df[na_cols].isnull().sum() / df.shape[0]*100).sort_values(ascending=False)
    missing_df=pd.concat([n_miss,np.round(ratio,2)],axis=1,keys=["n_miss","ratio"])
    
    return na_cols, missing_df

na_cols, missing_df = missing_values_table(df)
missing_df

          n_miss  ratio
embarked       2   0.22

In [23]:
df[["embarked","sex"]].mode().iloc[0].to_dict()

{'embarked': 'S', 'sex': 'male'}

In [24]:
df["embarked"].fillna(df["embarked"].mode().iloc[0],inplace=True)

In [25]:
na_cols, missing_df = missing_values_table(df)
missing_df

Empty DataFrame
Columns: [n_miss, ratio]
Index: []

In [26]:
from sklearn.preprocessing import LabelEncoder,RobustScaler,OneHotEncoder

binary_cols=[col for col in df.columns if not np.issubdtype(df[col].dtype, np.number) and df[col].nunique()==2]
binary_cols

['sex']

In [27]:
def labelenc(variable):
    le = LabelEncoder()
    df[variable] = le.fit_transform(df[variable])
    
for col in binary_cols:
    labelenc(col)

In [28]:
df["sex"]

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: sex, Length: 891, dtype: int32

In [29]:
def rare_analysis(df,target,cat_cols):
    for col in cat_cols:
        print(col,":",len(df[col].value_counts()))
        df_ratio = (df[col].value_counts() /len(df)).sort_values(ascending=False)
        df_count = df[col].value_counts().loc[df_ratio.index]
        df_target_mean = df.groupby(col)[target].mean().loc[df_ratio.index]
        print(pd.DataFrame({"Ratio": df_ratio,
              "Count": df_count,
              "Target_Mean": df_target_mean}))
        print()
        
rare_analysis(df,"survived",cat_cols)

sex : 2
        Ratio  Count  Target_Mean
sex
1    0.647587    577     0.188908
0    0.352413    314     0.742038

embarked : 3
             Ratio  Count  Target_Mean
embarked
S         0.725028    646     0.339009
C         0.188552    168     0.553571
Q         0.086420     77     0.389610

new_title : 17
              Ratio  Count  Target_Mean
new_title
Mr         0.580247    517     0.156673
Miss       0.204265    182     0.697802
Mrs        0.140292    125     0.792000
Master     0.044893     40     0.575000
Dr         0.007856      7     0.428571
Rev        0.006734      6     0.000000
Major      0.002245      2     0.500000
Col        0.002245      2     0.500000
Mlle       0.002245      2     1.000000
Countess   0.001122      1     1.000000
Capt       0.001122      1     0.000000
Ms         0.001122      1     1.000000
Sir        0.001122      1     1.000000
Lady       0.001122      1     1.000000
Mme        0.001122      1     1.000000
Don        0.001122      1     0.000000
Jonkheer   0.001122      1     0.000000

new_age_cat : 3
                Ratio  Count  Target_Mean
new_age_cat
mature       0.785634    700     0.360000
young        0.131313    117     0.538462
senior       0.083053     74     0.364865

new_sex_cat : 6
                 Ratio  Count  Target_Mean
new_sex_cat
maturemale    0.455668    406     0.174877
maturefemale  0.239057    213     0.751174
youngmale     0.139169    124     0.258065
youngfemale   0.094276     84     0.678571
seniormale    0.052750     47     0.127660
seniorfemale  0.019080     17     0.941176

survived : 2
             Ratio  Count  Target_Mean
survived
0         0.616162    549          0.0
1         0.383838    342          1.0

pclass : 3
           Ratio  Count  Target_Mean
pclass
3       0.551066    491     0.242363
1       0.242424    216     0.629630
2       0.206510    184     0.472826

sibsp : 7
          Ratio  Count  Target_Mean
sibsp
0      0.682379    608     0.345395
1      0.234568    209     0.535885
2      0.031425     28     0.464286
4      0.020202     18     0.166667
3      0.017957     16     0.250000
8      0.007856      7     0.000000
5      0.005612      5     0.000000

parch : 7
          Ratio  Count  Target_Mean
parch
0      0.760943    678     0.343658
1      0.132435    118     0.550847
2      0.089787     80     0.500000
5      0.005612      5     0.200000
3      0.005612      5     0.600000
4      0.004489      4     0.000000
6      0.001122      1     0.000000

new_cabin : 2
              Ratio  Count  Target_Mean
new_cabin
0          0.771044    687     0.299854
1          0.228956    204     0.666667

name_word_count : 8
                    Ratio  Count  Target_Mean
name_word_count
4                0.436588    389     0.341902
3                0.342312    305     0.291803
5                0.107744     96     0.427083
6                0.058361     52     0.769231
7                0.042649     38     0.842105
8                0.010101      9     0.555556
14               0.001122      1     1.000000
9                0.001122      1     1.000000

name_dr : 2
            Ratio  Count  Target_Mean
name_dr
0        0.992144    884     0.383484
1        0.007856      7     0.428571

family_size : 9
                Ratio  Count  Target_Mean
family_size
1            0.602694    537     0.303538
2            0.180696    161     0.552795
3            0.114478    102     0.578431
4            0.032548     29     0.724138
6            0.024691     22     0.136364
5            0.016835     15     0.200000
7            0.013468     12     0.333333
11           0.007856      7     0.000000
8            0.006734      6     0.000000

is_alone : 2
             Ratio  Count  Target_Mean
is_alone
1         0.602694    537     0.303538
0         0.397306    354     0.505650

In [30]:
def rare_encoder(df,rare_perc):
    all_cat = cat_cols
    temp_df=df.copy()
    for col in all_cat:
        category_percent = temp_df[col].value_counts() / len(df)
        category = list(category_percent[category_percent<rare_perc].index)
        
        if len(category)>=1:
            temp_df[col] = temp_df[col].replace(category,"rare")
            
    return temp_df

df2=rare_encoder(df,0.01)

In [31]:
rare_analysis(df2,"survived",cat_cols)

sex : 2
        Ratio  Count  Target_Mean
sex
1    0.647587    577     0.188908
0    0.352413    314     0.742038

embarked : 3
             Ratio  Count  Target_Mean
embarked
S         0.725028    646     0.339009
C         0.188552    168     0.553571
Q         0.086420     77     0.389610

new_title : 5
              Ratio  Count  Target_Mean
new_title
Mr         0.580247    517     0.156673
Miss       0.204265    182     0.697802
Mrs        0.140292    125     0.792000
Master     0.044893     40     0.575000
rare       0.030303     27     0.444444

new_age_cat : 3
                Ratio  Count  Target_Mean
new_age_cat
mature       0.785634    700     0.360000
young        0.131313    117     0.538462
senior       0.083053     74     0.364865

new_sex_cat : 6
                 Ratio  Count  Target_Mean
new_sex_cat
maturemale    0.455668    406     0.174877
maturefemale  0.239057    213     0.751174
youngmale     0.139169    124     0.258065
youngfemale   0.094276     84     0.678571
seniormale    0.052750     47     0.127660
seniorfemale  0.019080     17     0.941176

survived : 2
             Ratio  Count  Target_Mean
survived
0         0.616162    549          0.0
1         0.383838    342          1.0

pclass : 3
           Ratio  Count  Target_Mean
pclass
3       0.551066    491     0.242363
1       0.242424    216     0.629630
2       0.206510    184     0.472826

sibsp : 6
          Ratio  Count  Target_Mean
sibsp
0      0.682379    608     0.345395
1      0.234568    209     0.535885
2      0.031425     28     0.464286
4      0.020202     18     0.166667
3      0.017957     16     0.250000
rare   0.013468     12     0.000000

parch : 4
          Ratio  Count  Target_Mean
parch
0      0.760943    678     0.343658
1      0.132435    118     0.550847
2      0.089787     80     0.500000
rare   0.016835     15     0.266667

new_cabin : 2
              Ratio  Count  Target_Mean
new_cabin
0          0.771044    687     0.299854
1          0.228956    204     0.666667

name_word_count : 7
                    Ratio  Count  Target_Mean
name_word_count
4                0.436588    389     0.341902
3                0.342312    305     0.291803
5                0.107744     96     0.427083
6                0.058361     52     0.769231
7                0.042649     38     0.842105
8                0.010101      9     0.555556
rare             0.002245      2     1.000000

name_dr : 2
            Ratio  Count  Target_Mean
name_dr
0        0.992144    884     0.383484
rare     0.007856      7     0.428571

family_size : 8
                Ratio  Count  Target_Mean
family_size
1            0.602694    537     0.303538
2            0.180696    161     0.552795
3            0.114478    102     0.578431
4            0.032548     29     0.724138
6            0.024691     22     0.136364
5            0.016835     15     0.200000
rare         0.014590     13     0.000000
7            0.013468     12     0.333333

is_alone : 2
             Ratio  Count  Target_Mean
is_alone
1         0.602694    537     0.303538
0         0.397306    354     0.505650

In [32]:
df2["new_sex_cat"].value_counts()

new_sex_cat
maturemale      406
maturefemale    213
youngmale       124
youngfemale      84
seniormale       47
seniorfemale     17
Name: count, dtype: int64

In [33]:
rare_analysis(df2,"survived",cat_cols)

sex : 2
        Ratio  Count  Target_Mean
sex
1    0.647587    577     0.188908
0    0.352413    314     0.742038

embarked : 3
             Ratio  Count  Target_Mean
embarked
S         0.725028    646     0.339009
C         0.188552    168     0.553571
Q         0.086420     77     0.389610

new_title : 5
              Ratio  Count  Target_Mean
new_title
Mr         0.580247    517     0.156673
Miss       0.204265    182     0.697802
Mrs        0.140292    125     0.792000
Master     0.044893     40     0.575000
rare       0.030303     27     0.444444

new_age_cat : 3
                Ratio  Count  Target_Mean
new_age_cat
mature       0.785634    700     0.360000
young        0.131313    117     0.538462
senior       0.083053     74     0.364865

new_sex_cat : 6
                 Ratio  Count  Target_Mean
new_sex_cat
maturemale    0.455668    406     0.174877
maturefemale  0.239057    213     0.751174
youngmale     0.139169    124     0.258065
youngfemale   0.094276     84     0.678571
seniormale    0.052750     47     0.127660
seniorfemale  0.019080     17     0.941176

survived : 2
             Ratio  Count  Target_Mean
survived
0         0.616162    549          0.0
1         0.383838    342          1.0

pclass : 3
           Ratio  Count  Target_Mean
pclass
3       0.551066    491     0.242363
1       0.242424    216     0.629630
2       0.206510    184     0.472826

sibsp : 6
          Ratio  Count  Target_Mean
sibsp
0      0.682379    608     0.345395
1      0.234568    209     0.535885
2      0.031425     28     0.464286
4      0.020202     18     0.166667
3      0.017957     16     0.250000
rare   0.013468     12     0.000000

parch : 4
          Ratio  Count  Target_Mean
parch
0      0.760943    678     0.343658
1      0.132435    118     0.550847
2      0.089787     80     0.500000
rare   0.016835     15     0.266667

new_cabin : 2
              Ratio  Count  Target_Mean
new_cabin
0          0.771044    687     0.299854
1          0.228956    204     0.666667

name_word_count : 7
                    Ratio  Count  Target_Mean
name_word_count
4                0.436588    389     0.341902
3                0.342312    305     0.291803
5                0.107744     96     0.427083
6                0.058361     52     0.769231
7                0.042649     38     0.842105
8                0.010101      9     0.555556
rare             0.002245      2     1.000000

name_dr : 2
            Ratio  Count  Target_Mean
name_dr
0        0.992144    884     0.383484
rare     0.007856      7     0.428571

family_size : 8
                Ratio  Count  Target_Mean
family_size
1            0.602694    537     0.303538
2            0.180696    161     0.552795
3            0.114478    102     0.578431
4            0.032548     29     0.724138
6            0.024691     22     0.136364
5            0.016835     15     0.200000
rare         0.014590     13     0.000000
7            0.013468     12     0.333333

is_alone : 2
             Ratio  Count  Target_Mean
is_alone
1         0.602694    537     0.303538
0         0.397306    354     0.505650

In [36]:
def merge_categories_closest_to_target_mean(df2, cols, target_col, threshold):
    temp_df = df2.copy()
    for col in cols:
        unique_categories = temp_df[col].value_counts().index.tolist()

        # EÄŸer yalnÄ±zca bir tane kategori varsa, birleÅŸtirme iÅŸlemine gerek yoktur
        if len(unique_categories) > 1:
            for category in unique_categories:
                category_freq = temp_df[temp_df[col] == category].shape[0] / len(temp_df)

                # EÄŸer kategori frekansÄ± eÅŸik deÄŸerinin altÄ±ndaysa, birleÅŸtirme iÅŸlemi gerÃ§ekleÅŸtirilir
                if category_freq < threshold:
                    # Kendi kategorisini ve hedef ortalamalarÄ±nÄ± al
                    own_target_mean = temp_df[temp_df[col] == category][target_col].mean()
                    
                    # Kendi dÄ±ÅŸÄ±ndaki kategorilerin hedef ortalamalarÄ±nÄ± al
                    other_categories = temp_df.loc[temp_df[col] != category, [col, target_col]]
                    other_target_means = other_categories.groupby(col)[target_col].mean()
                    
                    # Kendi hedef ortalamasÄ±na en yakÄ±n olan kategoriyi bul
                    closest_category = (other_target_means - own_target_mean).abs().idxmin()
                    
                    # Kendi kategorisini, en yakÄ±n olan kategori ile deÄŸiÅŸtir
                    temp_df[col] = temp_df[col].replace(category, closest_category)
            
    return temp_df


df3 = merge_categories_closest_to_target_mean(df2,cat_cols,"survived",0.05)

In [37]:
other_categories = df2.loc[df2["new_sex_cat"] != "maturemale", ["new_sex_cat", "survived"]]
other_categories

      new_sex_cat  survived
1    maturefemale         1
2    maturefemale         1
3    maturefemale         1
6      seniormale         0
7       youngmale         0
..            ...       ...
880  maturefemale         1
882  maturefemale         0
885  maturefemale         0
887   youngfemale         1
888  maturefemale         0

[485 rows x 2 columns]

In [38]:
own_target_mean = df2[df2["new_sex_cat"] == "maturemale"]["survived"].mean()
own_target_mean

0.1748768472906404

In [39]:
other_target_means=other_categories.groupby("new_sex_cat")["survived"].mean()
other_target_means

new_sex_cat
maturefemale    0.751174
seniorfemale    0.941176
seniormale      0.127660
youngfemale     0.678571
youngmale       0.258065
Name: survived, dtype: float64

In [40]:
(other_target_means - own_target_mean).abs().idxmin()

'seniormale'

In [41]:
df2.groupby("new_sex_cat")["survived"].mean()

new_sex_cat
maturefemale    0.751174
maturemale      0.174877
seniorfemale    0.941176
seniormale      0.127660
youngfemale     0.678571
youngmale       0.258065
Name: survived, dtype: float64

In [42]:
df2.loc[df2["new_sex_cat"]!="maturemale","new_sex_cat"]

1      maturefemale
2      maturefemale
3      maturefemale
6        seniormale
7         youngmale
           ...
880    maturefemale
882    maturefemale
885    maturefemale
887     youngfemale
888    maturefemale
Name: new_sex_cat, Length: 485, dtype: object

In [43]:
df2["new_sex_cat"]

0        maturemale
1      maturefemale
2      maturefemale
3      maturefemale
4        maturemale
           ...
886      maturemale
887     youngfemale
888    maturefemale
889      maturemale
890      maturemale
Name: new_sex_cat, Length: 891, dtype: object

In [44]:
rare_analysis(df2,"survived",cat_cols)

sex : 2
        Ratio  Count  Target_Mean
sex
1    0.647587    577     0.188908
0    0.352413    314     0.742038

embarked : 3
             Ratio  Count  Target_Mean
embarked
S         0.725028    646     0.339009
C         0.188552    168     0.553571
Q         0.086420     77     0.389610

new_title : 5
              Ratio  Count  Target_Mean
new_title
Mr         0.580247    517     0.156673
Miss       0.204265    182     0.697802
Mrs        0.140292    125     0.792000
Master     0.044893     40     0.575000
rare       0.030303     27     0.444444

new_age_cat : 3
                Ratio  Count  Target_Mean
new_age_cat
mature       0.785634    700     0.360000
young        0.131313    117     0.538462
senior       0.083053     74     0.364865

new_sex_cat : 6
                 Ratio  Count  Target_Mean
new_sex_cat
maturemale    0.455668    406     0.174877
maturefemale  0.239057    213     0.751174
youngmale     0.139169    124     0.258065
youngfemale   0.094276     84     0.678571
seniormale    0.052750     47     0.127660
seniorfemale  0.019080     17     0.941176

survived : 2
             Ratio  Count  Target_Mean
survived
0         0.616162    549          0.0
1         0.383838    342          1.0

pclass : 3
           Ratio  Count  Target_Mean
pclass
3       0.551066    491     0.242363
1       0.242424    216     0.629630
2       0.206510    184     0.472826

sibsp : 6
          Ratio  Count  Target_Mean
sibsp
0      0.682379    608     0.345395
1      0.234568    209     0.535885
2      0.031425     28     0.464286
4      0.020202     18     0.166667
3      0.017957     16     0.250000
rare   0.013468     12     0.000000

parch : 4
          Ratio  Count  Target_Mean
parch
0      0.760943    678     0.343658
1      0.132435    118     0.550847
2      0.089787     80     0.500000
rare   0.016835     15     0.266667

new_cabin : 2
              Ratio  Count  Target_Mean
new_cabin
0          0.771044    687     0.299854
1          0.228956    204     0.666667

name_word_count : 7
                    Ratio  Count  Target_Mean
name_word_count
4                0.436588    389     0.341902
3                0.342312    305     0.291803
5                0.107744     96     0.427083
6                0.058361     52     0.769231
7                0.042649     38     0.842105
8                0.010101      9     0.555556
rare             0.002245      2     1.000000

name_dr : 2
            Ratio  Count  Target_Mean
name_dr
0        0.992144    884     0.383484
rare     0.007856      7     0.428571

family_size : 8
                Ratio  Count  Target_Mean
family_size
1            0.602694    537     0.303538
2            0.180696    161     0.552795
3            0.114478    102     0.578431
4            0.032548     29     0.724138
6            0.024691     22     0.136364
5            0.016835     15     0.200000
rare         0.014590     13     0.000000
7            0.013468     12     0.333333

is_alone : 2
             Ratio  Count  Target_Mean
is_alone
1         0.602694    537     0.303538
0         0.397306    354     0.505650

In [45]:
rare_analysis(df3,"survived",cat_cols)

sex : 2
        Ratio  Count  Target_Mean
sex
1    0.647587    577     0.188908
0    0.352413    314     0.742038

embarked : 3
             Ratio  Count  Target_Mean
embarked
S         0.725028    646     0.339009
C         0.188552    168     0.553571
Q         0.086420     77     0.389610

new_title : 3
              Ratio  Count  Target_Mean
new_title
Mr         0.580247    517     0.156673
Miss       0.279461    249     0.650602
Mrs        0.140292    125     0.792000

new_age_cat : 3
                Ratio  Count  Target_Mean
new_age_cat
mature       0.785634    700     0.360000
young        0.131313    117     0.538462
senior       0.083053     74     0.364865

new_sex_cat : 5
                 Ratio  Count  Target_Mean
new_sex_cat
maturemale    0.455668    406     0.174877
maturefemale  0.258137    230     0.765217
youngmale     0.139169    124     0.258065
youngfemale   0.094276     84     0.678571
seniormale    0.052750     47     0.127660

survived : 2
             Ratio  Count  Target_Mean
survived
0         0.616162    549          0.0
1         0.383838    342          1.0

pclass : 3
           Ratio  Count  Target_Mean
pclass
3       0.551066    491     0.242363
1       0.242424    216     0.629630
2       0.206510    184     0.472826

sibsp : 2
          Ratio  Count  Target_Mean
sibsp
0      0.734007    654     0.331804
1      0.265993    237     0.527426

parch : 3
          Ratio  Count  Target_Mean
parch
0      0.777778    693     0.341991
1      0.132435    118     0.550847
2      0.089787     80     0.500000

new_cabin : 2
              Ratio  Count  Target_Mean
new_cabin
0          0.771044    687     0.299854
1          0.228956    204     0.666667

name_word_count : 4
                    Ratio  Count  Target_Mean
name_word_count
4                0.436588    389     0.341902
3                0.342312    305     0.291803
5                0.117845    105     0.438095
6                0.103255     92     0.804348

name_dr : 1
         Ratio  Count  Target_Mean
name_dr
0          1.0    891     0.383838

family_size : 3
                Ratio  Count  Target_Mean
family_size
1            0.672278    599     0.288815
2            0.180696    161     0.552795
3            0.147026    131     0.610687

is_alone : 2
             Ratio  Count  Target_Mean
is_alone
1         0.602694    537     0.303538
0         0.397306    354     0.505650

In [46]:
df3

,passengerid,survived,pclass,sex,age,sibsp,parch,fare,embarked,new_cabin,name_count,name_word_count,name_dr,new_title,family_size,new_age_pclass,is_alone,new_age_cat,new_sex_cat
0,1,0,3,1,22.000000,1,0,7.2500,S,0,23,4,0,Mr,2,66.000000,0,mature,maturemale
1,2,1,1,0,38.000000,1,0,71.2833,C,1,51,6,0,Mrs,2,38.000000,0,mature,maturefemale
2,3,1,3,0,26.000000,0,0,7.9250,S,0,22,3,0,Miss,1,78.000000,1,mature,maturefemale
3,4,1,1,0,35.000000,1,0,53.1000,S,1,44,6,0,Mrs,2,35.000000,0,mature,maturefemale
4,5,0,3,1,35.000000,0,0,8.0500,S,0,24,4,0,Mr,1,105.000000,1,mature,maturemale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,1,27.000000,0,0,13.0000,S,0,21,3,0,Miss,1,54.000000,1,mature,maturemale
887,888,1,1,0,19.000000,0,0,30.0000,S,1,28,4,0,Miss,1,19.000000,1,mature,youngfemale
888,889,0,3,0,21.773973,1,2,23.4500,S,0,40,5,0,Miss,3,65.321918,0,mature,maturefemale
889,890,1,1,1,26.000000,0,0,30.0000,C,1,21,4,0,Mr,1,26.000000,1,mature,maturemale
890,891,0,3,1,32.000000,0,0,7.7500,Q,0,19,3,0,Mr,1,96.000000,1,mature,maturemale

In [47]:
from feature_engine.selection import DropDuplicateFeatures, DropConstantFeatures
sel = DropConstantFeatures(tol=0.95,variables=None,missing_values="raise")
sel.fit(df3)

DropConstantFeatures(tol=0.95)

In [48]:
sel.features_to_drop_

['name_dr']

In [49]:
df3 = sel.fit_transform(df3)

In [50]:
cat_cols, num_cols,cat_but_car,num_but_cat=grab_col_names(df3)

cat_cols = 13
num_cols =5
num_but_car = 0
num_but_cat=9

In [51]:
df3[cat_cols]

,embarked,new_title,new_age_cat,new_sex_cat,survived,pclass,sex,sibsp,parch,new_cabin,name_word_count,family_size,is_alone
0,S,Mr,mature,maturemale,0,3,1,1,0,0,4,2,0
1,C,Mrs,mature,maturefemale,1,1,0,1,0,1,6,2,0
2,S,Miss,mature,maturefemale,1,3,0,0,0,0,3,1,1
3,S,Mrs,mature,maturefemale,1,1,0,1,0,1,6,2,0
4,S,Mr,mature,maturemale,0,3,1,0,0,0,4,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,S,Miss,mature,maturemale,0,2,1,0,0,0,3,1,1
887,S,Miss,mature,youngfemale,1,1,0,0,0,1,4,1,1
888,S,Miss,mature,maturefemale,0,3,0,1,2,0,5,3,0
889,C,Mr,mature,maturemale,1,1,1,0,0,1,4,1,1
890,Q,Mr,mature,maturemale,0,3,1,0,0,0,3,1,1

In [52]:
df["new_title"].value_counts()

new_title
Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
Countess      1
Capt          1
Ms            1
Sir           1
Lady          1
Mme           1
Don           1
Jonkheer      1
Name: count, dtype: int64

In [53]:
df3["new_title"].value_counts()

new_title
Mr      517
Miss    249
Mrs     125
Name: count, dtype: int64

In [54]:
ohe_cols=[col for col in df3.columns if not np.issubdtype(df3[col],np.number) and df3[col].nunique()<=10]
ohe_cols

['embarked', 'new_title', 'new_age_cat', 'new_sex_cat']

In [55]:
from feature_engine.encoding import OneHotEncoder
ohe = OneHotEncoder(variables=ohe_cols,drop_last=True)
df3=ohe.fit_transform(df3)

In [58]:
df3

,passengerid,survived,pclass,sex,age,sibsp,parch,fare,new_cabin,name_count,...,embarked_S,embarked_C,new_title_Mr,new_title_Mrs,new_age_cat_mature,new_age_cat_senior,new_sex_cat_maturemale,new_sex_cat_maturefemale,new_sex_cat_seniormale,new_sex_cat_youngmale
0,1,0,3,1,22.000000,1,0,7.2500,0,23,...,1,0,1,0,1,0,1,0,0,0
1,2,1,1,0,38.000000,1,0,71.2833,1,51,...,0,1,0,1,1,0,0,1,0,0
2,3,1,3,0,26.000000,0,0,7.9250,0,22,...,1,0,0,0,1,0,0,1,0,0
3,4,1,1,0,35.000000,1,0,53.1000,1,44,...,1,0,0,1,1,0,0,1,0,0
4,5,0,3,1,35.000000,0,0,8.0500,0,24,...,1,0,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,1,27.000000,0,0,13.0000,0,21,...,1,0,0,0,1,0,1,0,0,0
887,888,1,1,0,19.000000,0,0,30.0000,1,28,...,1,0,0,0,1,0,0,0,0,0
888,889,0,3,0,21.773973,1,2,23.4500,0,40,...,1,0,0,0,1,0,0,1,0,0
889,890,1,1,1,26.000000,0,0,30.0000,1,21,...,0,1,1,0,1,0,1,0,0,0
890,891,0,3,1,32.000000,0,0,7.7500,0,19,...,0,0,1,0,1,0,1,0,0,0

In [59]:
X = df3.drop("survived",axis=1)
y = df["survived"]

In [60]:
y.value_counts()

survived
0    549
1    342
Name: count, dtype: int64

In [64]:
from sklearn.preprocessing import RobustScaler
rb = RobustScaler().set_output(transform="pandas")
df3=rb.fit_transform(df3)

In [79]:
from sklearn.model_selection import cross_val_score
from xgboost import XGBClassifier
xg = XGBClassifier(max_depth =10)
cross_val_score(xg,X,y,cv=10,n_jobs=-1,scoring="accuracy").mean()

0.8035955056179775

In [78]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth=10)
cross_val_score(rf,X,y,cv=10,n_jobs=-1,scoring="accuracy").mean()

0.8316604244694134

In [72]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
cross_val_score(lr,X,y,cv=10,n_jobs=-1,scoring="accuracy").mean()

0.8226966292134831

In [81]:
rf.fit(X,y)

RandomForestClassifier(max_depth=10)

In [84]:
pd.DataFrame({"imp":rf.feature_importances_,"features":X.columns}).sort_values(by="imp",ascending=False)

         imp                  features
15  0.113931              new_title_Mr
11  0.111375            new_age_pclass
2   0.104264                       sex
6   0.096757                      fare
0   0.080309               passengerid
8   0.075638                name_count
3   0.069000                       age
1   0.064317                    pclass
20  0.051492  new_sex_cat_maturefemale
10  0.031994               family_size
19  0.031460    new_sex_cat_maturemale
9   0.028901           name_word_count
7   0.028393                 new_cabin
16  0.022960             new_title_Mrs
13  0.015687                embarked_S
5   0.015443                     parch
12  0.010833                  is_alone
14  0.010722                embarked_C
4   0.010634                     sibsp
17  0.009435        new_age_cat_mature
22  0.007015     new_sex_cat_youngmale
21  0.005063    new_sex_cat_seniormale
18  0.004376        new_age_cat_senior