In [1]:
import pandas as pd
df = pd.read_csv("course_reviews.csv")
df.head()

,Rating,Timestamp,Enrolled,Progress,Questions Asked,Questions Answered
0,5.0,2021-02-05 07:45:55,2021-01-25 15:12:08,5.0,0.0,0.0
1,5.0,2021-02-04 21:05:32,2021-02-04 20:43:40,1.0,0.0,0.0
2,4.5,2021-02-04 20:34:03,2019-07-04 23:23:27,1.0,0.0,0.0
3,5.0,2021-02-04 16:56:28,2021-02-04 14:41:29,10.0,0.0,0.0
4,4.0,2021-02-04 15:00:24,2020-10-13 03:10:07,10.0,0.0,0.0

In [2]:
df["Timestamp"] = pd.to_datetime(df["Timestamp"])
df.head()

,Rating,Timestamp,Enrolled,Progress,Questions Asked,Questions Answered
0,5.0,2021-02-05 07:45:55,2021-01-25 15:12:08,5.0,0.0,0.0
1,5.0,2021-02-04 21:05:32,2021-02-04 20:43:40,1.0,0.0,0.0
2,4.5,2021-02-04 20:34:03,2019-07-04 23:23:27,1.0,0.0,0.0
3,5.0,2021-02-04 16:56:28,2021-02-04 14:41:29,10.0,0.0,0.0
4,4.0,2021-02-04 15:00:24,2020-10-13 03:10:07,10.0,0.0,0.0

In [3]:
df["Timestamp"].dt.date

0       2021-02-05
1       2021-02-04
2       2021-02-04
3       2021-02-04
4       2021-02-04
           ...
4318    2019-05-17
4319    2019-05-16
4320    2019-05-16
4321    2019-05-16
4322    2019-05-16
Name: Timestamp, Length: 4323, dtype: object

In [4]:
df["Timestamp"].dt.year

0       2021
1       2021
2       2021
3       2021
4       2021
        ...
4318    2019
4319    2019
4320    2019
4321    2019
4322    2019
Name: Timestamp, Length: 4323, dtype: int32

In [5]:
from datetime import date
import datetime as dt
date.today()

datetime.date(2023, 8, 16)

In [6]:
pd.Timestamp(date.today())

Timestamp('2023-08-16 00:00:00')

In [7]:
date.today()

datetime.date(2023, 8, 16)

In [13]:
today_date = dt.datetime(2023,12,11)

In [22]:
today_date.date()

datetime.date(2023, 12, 11)

In [27]:
(today_date.date() - df["Timestamp"].dt.date)

0       1039 days, 0:00:00
1       1040 days, 0:00:00
2       1040 days, 0:00:00
3       1040 days, 0:00:00
4       1040 days, 0:00:00
               ...
4318    1669 days, 0:00:00
4319    1670 days, 0:00:00
4320    1670 days, 0:00:00
4321    1670 days, 0:00:00
4322    1670 days, 0:00:00
Name: Timestamp, Length: 4323, dtype: object

In [12]:
(date.today() - df["Timestamp"].dt.date)

0        922 days, 0:00:00
1        923 days, 0:00:00
2        923 days, 0:00:00
3        923 days, 0:00:00
4        923 days, 0:00:00
               ...
4318    1552 days, 0:00:00
4319    1553 days, 0:00:00
4320    1553 days, 0:00:00
4321    1553 days, 0:00:00
4322    1553 days, 0:00:00
Name: Timestamp, Length: 4323, dtype: object

In [10]:
(pd.Timestamp(date.today()) - df["Timestamp"])

0       921 days 16:14:05
1       922 days 02:54:28
2       922 days 03:25:57
3       922 days 07:03:32
4       922 days 08:59:36
              ...
4318   1551 days 14:08:16
4319   1552 days 02:32:55
4320   1552 days 03:37:34
4321   1552 days 04:10:53
4322   1552 days 10:19:25
Name: Timestamp, Length: 4323, dtype: timedelta64[ns]

In [12]:
today_date=date.today()
today_date

datetime.date(2023, 8, 4)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rating              4323 non-null   float64
 1   Timestamp           4323 non-null   datetime64[ns]
 2   Enrolled            4323 non-null   object
 3   Progress            4323 non-null   float64
 4   Questions Asked     4323 non-null   float64
 5   Questions Answered  4323 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 202.8+ KB

In [14]:
b = pd.Timestamp(date.today())
b

Timestamp('2023-08-04 00:00:00')

In [15]:
df["b"] = df["Timestamp"].dt.date
df

,Rating,Timestamp,Enrolled,Progress,Questions Asked,Questions Answered,b
0,5.0,2021-02-05 07:45:55,2021-01-25 15:12:08,5.0,0.0,0.0,2021-02-05
1,5.0,2021-02-04 21:05:32,2021-02-04 20:43:40,1.0,0.0,0.0,2021-02-04
2,4.5,2021-02-04 20:34:03,2019-07-04 23:23:27,1.0,0.0,0.0,2021-02-04
3,5.0,2021-02-04 16:56:28,2021-02-04 14:41:29,10.0,0.0,0.0,2021-02-04
4,4.0,2021-02-04 15:00:24,2020-10-13 03:10:07,10.0,0.0,0.0,2021-02-04
...,...,...,...,...,...,...,...
4318,5.0,2019-05-17 09:51:44,2019-05-17 09:08:53,34.0,1.0,0.0,2019-05-17
4319,5.0,2019-05-16 21:27:05,2019-05-16 20:32:15,5.0,0.0,0.0,2019-05-16
4320,5.0,2019-05-16 20:22:26,2019-05-16 20:21:19,1.0,0.0,0.0,2019-05-16
4321,5.0,2019-05-16 19:49:07,2019-05-16 19:47:29,1.0,0.0,0.0,2019-05-16
4322,5.0,2019-05-16 13:40:35,2019-05-15 14:10:24,56.0,0.0,0.0,2019-05-16

In [16]:
df["b"] = pd.to_datetime(b)

In [17]:
today_date

datetime.date(2023, 8, 4)

In [18]:
df["b"]

0      2023-08-04
1      2023-08-04
2      2023-08-04
3      2023-08-04
4      2023-08-04
          ...
4318   2023-08-04
4319   2023-08-04
4320   2023-08-04
4321   2023-08-04
4322   2023-08-04
Name: b, Length: 4323, dtype: datetime64[ns]

In [19]:
(pd.Timestamp('2023-09-05')-df["b"]).dt.days

0       32
1       32
2       32
3       32
4       32
        ..
4318    32
4319    32
4320    32
4321    32
4322    32
Name: b, Length: 4323, dtype: int64

In [ ]:
df["Timestamp"].agg({"Timestamp":lambda date: (today_date-date.dt.date.max()).days})

Timestamp    910
Name: Timestamp, dtype: int64

In [ ]:
pd.Timestamp(date.today())

Timestamp('2023-08-04 00:00:00')

In [ ]:
a

0      2021-02-05
1      2021-02-04
2      2021-02-04
3      2021-02-04
4      2021-02-04
          ...
4318   2019-05-17
4319   2019-05-16
4320   2019-05-16
4321   2019-05-16
4322   2019-05-16
Name: Timestamp, Length: 4323, dtype: datetime64[ns]

In [ ]:
(pd.Timestamp(date.today()) - a)

0       910 days
1       911 days
2       911 days
3       911 days
4       911 days
          ...
4318   1540 days
4319   1541 days
4320   1541 days
4321   1541 days
4322   1541 days
Name: Timestamp, Length: 4323, dtype: timedelta64[ns]

In [ ]:
pd.Timestamp(date.today())

Timestamp('2023-08-04 00:00:00')

In [ ]:
dt.datetime(2010,12,11)

datetime.datetime(2010, 12, 11, 0, 0)

In [ ]:
a=pd.to_datetime(df["Timestamp"].dt.date)

In [ ]:
a

0      2021-02-05
1      2021-02-04
2      2021-02-04
3      2021-02-04
4      2021-02-04
          ...
4318   2019-05-17
4319   2019-05-16
4320   2019-05-16
4321   2019-05-16
4322   2019-05-16
Name: Timestamp, Length: 4323, dtype: datetime64[ns]

In [ ]:
(dt.datetime(2010,12,11) -a).dt.days

0      -3709
1      -3708
2      -3708
3      -3708
4      -3708
        ...
4318   -3079
4319   -3078
4320   -3078
4321   -3078
4322   -3078
Name: Timestamp, Length: 4323, dtype: int64

In [ ]:
(pd.Timestamp(date.today()) -df["Timestamp"]).dt.days

0        909
1        910
2        910
3        910
4        910
        ...
4318    1539
4319    1540
4320    1540
4321    1540
4322    1540
Name: Timestamp, Length: 4323, dtype: int64

In [ ]:
date.today().year

2023

In [ ]:
specified_date=pd.Timestamp('2024-09-04')
specified_date

Timestamp('2024-09-04 00:00:00')

In [ ]:
df["year"] = df["Timestamp"].dt.year
df["month"] = df["Timestamp"].dt.month
df["year_diff"] = date.today().year - df["Timestamp"].dt.year

In [ ]:
(specified_date.year - df["Timestamp"].dt.year) *12 + specified_date.month - df["Timestamp"].dt.month

0       43
1       43
2       43
3       43
4       43
        ..
4318    64
4319    64
4320    64
4321    64
4322    64
Name: Timestamp, Length: 4323, dtype: int32

In [ ]:
df["month_diff"] = (specified_date.year- df["Timestamp"].dt.year) * 12 + specified_date.month -df["Timestamp"].dt.month
df.head()

,Rating,Timestamp,Enrolled,Progress,Questions Asked,Questions Answered,b,year,month,year_diff,month_diff
0,5.0,2021-02-05 07:45:55,2021-01-25 15:12:08,5.0,0.0,0.0,2023-08-04,2021,2,2,43
1,5.0,2021-02-04 21:05:32,2021-02-04 20:43:40,1.0,0.0,0.0,2023-08-04,2021,2,2,43
2,4.5,2021-02-04 20:34:03,2019-07-04 23:23:27,1.0,0.0,0.0,2023-08-04,2021,2,2,43
3,5.0,2021-02-04 16:56:28,2021-02-04 14:41:29,10.0,0.0,0.0,2023-08-04,2021,2,2,43
4,4.0,2021-02-04 15:00:24,2020-10-13 03:10:07,10.0,0.0,0.0,2023-08-04,2021,2,2,43

In [22]:
df["Timestamp"].dt.day_name()

0         Friday
1       Thursday
2       Thursday
3       Thursday
4       Thursday
          ...
4318      Friday
4319    Thursday
4320    Thursday
4321    Thursday
4322    Thursday
Name: Timestamp, Length: 4323, dtype: object