In [1]:
print("oskar","bey",sep="_")

oskar_bey

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [2]:
def calculate(x):
    print(x*2)
    
calculate(4)

8

In [3]:
liste = []

def add(a,b):
    c = a*b
    liste.append(c)

add(10,4)
add(13,1)
liste

[40, 13]

In [8]:
def divide(a,b=2):
    print(a/b)
    
divide(5)

2.5

In [9]:
def calculate(varm,moisure,charge):
    print((varm+moisure)/charge)
    
calculate(14,20,30)

1.1333333333333333

In [11]:
def calculate(varm,moisure,charge):
    print((varm+moisure)/charge)
    
calculate(14,20,30) * 10

1.1333333333333333

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [12]:
def calculate(varm,moisure,charge):
    return  (varm+moisure)/charge
    
calculate(14,20,30) *10

11.333333333333332

In [13]:
def calculate(varm,moisure,charge):
    return  (varm+moisure)/charge
    
a=calculate(14,20,30)
a*10

11.333333333333332

In [15]:
def calculate(varm,moisure,charge):
    varm=varm*2
    moisure=moisure*4
    charge = charge/2
    output=(varm+moisure)/charge
    return  varm,moisure,charge,output
    
calculate(14,20,30)

(28, 80, 15.0, 7.2)

In [21]:
type(calculate(14,20,30))

tuple

In [20]:
a,b,c,d=calculate(14,20,30)
a,b,c,d

(28, 80, 15.0, 7.2)

In [24]:
a,b,c,_=calculate(14,20,30)
a,b,c

(28, 80, 15.0)

In [4]:
def calculate(varm,moisure,charge):
    return  int((varm+moisure)/charge)
    
calculate(14,30,3)

14

In [5]:
def standart(a,p):
    return a*10/100*p*p

standart(45, 1)

4.5

In [6]:
def all_calc(warm,moisure,charge,p):
    a = calculate(warm,moisure,charge)
    b = standart(a,p)
    
    return b

all_calc(14,30,3,2)

5.6

In [38]:
liste = [1,2]

def add(a,b):
    c = a*b
    liste.append(c)
    print(liste)

add(10,4)

[1, 2, 40]

In [7]:
def number_check(number):
    if number ==10:
        return "number is 10"
    else:
        return f"number is {number}" 
    
number_check(12)

'number is 12'

In [11]:
def number_check(number):
    if number >10:
        return "number is > 10"
    elif number>5:
        return "number is > 5"        
    elif number >3:
        return "number is > 3"
    else:
        return f"number is {number}" 
    
number_check(11)

'number is > 10'

In [12]:
students = ["oskar","koray","cagatay"]
students[0]

'oskar'

In [13]:
for i in students:
    print(i+"_2023")

oskar_2023
koray_2023
cagatay_2023

In [16]:
def stu(liste):
    new_liste = []
    for i in liste:
        new_liste.append(i+"_2023")
    
    return new_liste

stu(students)

['oskar_2023', 'koray_2023', 'cagatay_2023']

In [17]:
def stu(liste):
    new_liste=[i +"_2023" for i in liste]
    return new_liste

stu(students)

['oskar_2023', 'koray_2023', 'cagatay_2023']

In [20]:
def stu(liste):
    
    return [i +"_2023" for i in liste]

stu(students)

['oskar_2023', 'koray_2023', 'cagatay_2023']

In [1]:
salaries = [1000,2000,3000]

def new_salary(miktar):
    for i in salaries:
        return int(i*miktar/100+i)

new_salary(20)

1200

In [19]:
salaries = [1000,2000,3000]

def new_salary(miktar):
    
        return [i*miktar for i in salaries]

new_salary(2)

[2000, 4000, 6000]

In [4]:
def new_salary(salary,rate):
    return int((salary * rate)/100+salary)

for salary in salaries:
    print(new_salary(salary,20))

1200
2400
3600

In [5]:
new_salary(salary,20)

3600

In [23]:
[new_salary(salary,20) for salary in salaries]

[1200, 2400, 3600]

In [24]:
print(new_salary(10,5))

10

In [6]:
for salary in salaries:
    if salary <1500:
        print(new_salary(salary,20))
    elif salary ==2000:
        print(new_salary(salary,10))
    else:
        print(new_salary(salary,30))

1200
2200
3900

In [25]:
[new_salary(salary,20) if salary <1500 else new_salary(salary,30) for salary in salaries]

[1200, 2600, 3900]

In [1]:
isim="oskar bey adam"
isim[1]=isim[1].upper()

TypeError: 'str' object does not support item assignment

In [4]:
isim[1].upper()

'S'

In [2]:
isim="oskar bey adam"

In [3]:
isim + "A"

'oskar bey adamA'

In [28]:
def alternating(string):
    new_string = ""
    for string_index in range(len(string)):
        if string_index % 2 == 0:
            
            new_string += string[string_index].upper()
        else:
            new_string += string[string_index].lower()
    return new_string        
alternating("oskar bey adam")

'OsKaR BeY AdAm'

In [14]:
isim

'oskar bey adam'

In [30]:
def alternating(string):
    new_string = ""
    for string_index,harf in enumerate(isim):
        if string_index % 2 == 0:
            
            new_string += harf.upper()
        else:
            new_string += harf.lower()
    return new_string        
alternating("oskar bey adam")

'OsKaR BeY AdAm'

In [31]:
for index,harf in enumerate(isim):
    print(index,harf)

0 o
1 s
2 k
3 a
4 r
5
6 b
7 e
8 y
9
10 a
11 d
12 a
13 m

In [7]:
"".join(["o","s","k","a","r", " ", "bey"])

'oskar bey'

In [39]:
[char.upper() if index % 2 == 0 else char for index, char in enumerate(isim)]

['O', 's', 'K', 'a', 'R', ' ', 'B', 'e', 'Y', ' ', 'A', 'd', 'A', 'm']

In [5]:
isim = "oskar bey adam"
yeni_isim = "".join([char.upper() if index % 2 == 0 else char for index, char in enumerate(isim)])
print(yeni_isim)

OsKaR BeY AdAm

In [48]:
salaries = [1000,2000,3000,4000]

for salary in salaries:
    if salary ==3000:
        break
    print(salary)

1000
2000

In [49]:
salaries = [1000,2000,3000,4000]

for salary in salaries:
    if salary ==3000:
        continue
    print(salary)

1000
2000
4000

In [50]:
number = 1

while number <5:
    print(number)
    number +=1

1
2
3
4

In [51]:
isimler = ["oskar","bey","ifendi"]

for index,isim in enumerate(isimler):
    print(index,isim)

0 oskar
1 bey
2 ifendi

In [52]:
isimler = ["oskar","bey","ifendi","hazretleri"]

for index,isim in enumerate(isimler,1):
    print(index,isim)

1 oskar
2 bey
3 ifendi
4 hazretleri

In [133]:
isimler = ["oskar","bey","ifendi","hazretleri"]

for index,isim in enumerate(isimler):
    print(index,isim)

0 oskar
1 bey
2 ifendi
3 hazretleri

In [53]:
tek = []
çift = []

for index,isim in enumerate(isimler):
    if index % 2 == 0:
        çift.append(isim)
    else:
        tek.append(isim)

In [54]:
çift

['oskar', 'ifendi']

In [55]:
tek

['bey', 'hazretleri']

In [56]:
a = []
a.append(çift)

In [57]:
a.append(tek)

In [58]:
a

[['oskar', 'ifendi'], ['bey', 'hazretleri']]

In [59]:
isimler = ["oskar","bey","ifendi","hazretleri"]
çift = []
tek = []
comb=[]

def isimlerr(liste):
    for index,isim in enumerate(liste):
        if index % 2 == 0:
            çift.append(isim)
        else:
            tek.append(isim)
    comb.append(çift),comb.append(tek)

isimlerr(isimler)

In [60]:
comb

[['oskar', 'ifendi'], ['bey', 'hazretleri']]

In [61]:
isimler = ["oskar","bey","ifendi","hazretleri"]


def isimlerr(liste):
    groups= [[],[]]
    for index,isim in enumerate(liste):
        if index % 2 == 0:
            groups[0].append(isim)
        else:
            groups[1].append(isim)
    return groups

isimlerr(isimler)

[['oskar', 'ifendi'], ['bey', 'hazretleri']]

In [62]:
a=isimlerr(isimler)
a

[['oskar', 'ifendi'], ['bey', 'hazretleri']]

In [63]:
groups

NameError: name 'groups' is not defined

In [64]:
def alternating(string):
    new_string =""
    for index,harf in enumerate(string):
        if index % 2 == 0:
            new_string += harf.upper()
        else:
            new_string += harf.lower()
    return new_string

alternating("üsmen bey adam")

'ÜsMeN BeY AdAm'

In [7]:
students = ["oskar","koray","çağatay"]

departmens = ["ceo","farmer","developer"]

ages=[13,26,29]

list(zip(students,departmens,ages))

[('oskar', 'ceo', 13), ('koray', 'farmer', 26), ('çağatay', 'developer', 29)]

In [8]:
new_sum = lambda a,b:a+b
new_sum(4,5)

9

In [9]:
[f"{x}_{y}_{z}".upper() for x,y,z in zip(students,departmens,ages)]

['OSKAR_CEO_13', 'KORAY_FARMER_26', 'ÇAĞATAY_DEVELOPER_29']

In [75]:
salaries = [1000,2000,3000,4000,5000,6000]

def new_salary(x):
    return (x*20/100 + x)

new_list = []
for i in salaries:
    print(new_salary(i))
    new_list.append(new_salary(i))

[new_salary(i) for i in salaries]

1200.0
2400.0
3600.0
4800.0
6000.0
7200.0

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0, 7200.0]

In [76]:
new_list

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0, 7200.0]

In [77]:
new_salary(200)

240.0

In [82]:
a=lambda x:x*20/100+x
a(20)*10

240.0

In [79]:
list(map(new_salary,salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0, 7200.0]

In [80]:
list(map(lambda x:x*20/100+x,salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0, 7200.0]

In [86]:
list(map(lambda x:x**2,salaries))

[1000000, 4000000, 9000000, 16000000, 25000000, 36000000]

In [89]:
salaries

[1000, 2000, 3000, 4000, 5000, 6000]

In [92]:
dict((x,x**2) for x in salaries)

{1000: 1000000,
 2000: 4000000,
 3000: 9000000,
 4000: 16000000,
 5000: 25000000,
 6000: 36000000}

In [93]:
{x:x**2 for x in salaries}

{1000: 1000000,
 2000: 4000000,
 3000: 9000000,
 4000: 16000000,
 5000: 25000000,
 6000: 36000000}

In [95]:
{index:sayi**2 for (index,sayi) in enumerate(salaries)}

{0: 1000000, 1: 4000000, 2: 9000000, 3: 16000000, 4: 25000000, 5: 36000000}

In [96]:
list_store=[1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x:x%2==0,list_store))

[2, 4, 6, 8, 10]

In [97]:
salaries = [1000,2000,3000,4000,5000,6000]

def new_salary(x):
    return x*20/100 + x

[new_salary(salary*2) if salary <3000 else new_salary(salary) for salary in salaries]

[2400.0, 4800.0, 3600.0, 4800.0, 6000.0, 7200.0]

In [98]:
[salary **2 if salary<3000 else salary**3 for salary in salaries]

[1000000, 4000000, 27000000000, 64000000000, 125000000000, 216000000000]

In [99]:
[salary**2  for salary in salaries if salary<3000]

[1000000, 4000000]

In [100]:
students = ["john","mark","venesa","mariam"]
students_no =["john","venesa"]

[student.upper() if student not in students_no else student.lower() for student in students]

['john', 'MARK', 'venesa', 'MARIAM']

In [10]:
sozluk = {"a":1, 
          "b":2, 
          "c":3,
          "d":4
          }
sozluk.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [12]:
sozluk.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [11]:
sozluk = {"a":1, 
          "b":2, 
          "c":3,
          "d":4
          }
sozluk.keys()
[f"{a}_{b}" for a,b in sozluk.items()]

['a_1', 'b_2', 'c_3', 'd_4']

In [102]:
sozluk.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [103]:
sozluk.values()

dict_values([1, 2, 3, 4])

In [3]:
{k:v**2 for (k,v) in sozluk.items()}

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [104]:
{k.upper(): v for (k,v) in sozluk.items()}

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [5]:
{k.upper(): v**2 for (k,v) in sozluk.items()}

{'A': 1, 'B': 4, 'C': 9, 'D': 16}

In [106]:
{k:v*2 if k =="a" else v**3 for (k,v) in sozluk.items()}

{'a': 2, 'b': 8, 'c': 27, 'd': 64}

In [105]:
numbers = range(10)
new_dict = {}
for n in numbers:
    if n % 2 == 0:
        new_dict[n] = n**2

In [107]:
{n:n**2 for n in range(10) if n % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [10]:
new_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [11]:
numbers

range(0, 10)

In [109]:
{n: n**2 for n in numbers if n % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [110]:
{n:n*2 if n %2==0 else n**3 for n in numbers}

{0: 0, 1: 1, 2: 4, 3: 27, 4: 8, 5: 125, 6: 12, 7: 343, 8: 16, 9: 729}

In [20]:
isimler = ["oskar","koray","çağatay"]

{n:isim.upper() if n % 2 == 0 else isim for n,isim in enumerate(isimler)}

{0: 'OSKAR', 1: 'koray', 2: 'ÇAĞATAY'}

In [111]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [112]:
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [113]:
[col.upper() for col in df.columns]

['TOTAL',
 'SPEEDING',
 'ALCOHOL',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM',
 'INS_LOSSES',
 'ABBREV']

In [114]:
df.columns = [col.upper() for col in df.columns]
df.head()

,TOTAL,SPEEDING,ALCOHOL,NOT_DISTRACTED,NO_PREVIOUS,INS_PREMIUM,INS_LOSSES,ABBREV
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [115]:
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [72]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [116]:
"oskar".startswith("os")

True

In [120]:
[("flag_"+col).upper() if col.startswith("ins") else ("no_flag_" +col).lower() for col in df.columns]

['no_flag_total',
 'no_flag_speeding',
 'no_flag_alcohol',
 'no_flag_not_distracted',
 'no_flag_no_previous',
 'FLAG_INS_PREMIUM',
 'FLAG_INS_LOSSES',
 'no_flag_abbrev']

In [121]:
[("flag_"+col).upper() if "ins" in col else ("no_flag_" +col).lower() for col in df.columns]

['no_flag_total',
 'no_flag_speeding',
 'no_flag_alcohol',
 'no_flag_not_distracted',
 'no_flag_no_previous',
 'FLAG_INS_PREMIUM',
 'FLAG_INS_LOSSES',
 'no_flag_abbrev']

In [122]:
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total           51 non-null     float64
 1   speeding        51 non-null     float64
 2   alcohol         51 non-null     float64
 3   not_distracted  51 non-null     float64
 4   no_previous     51 non-null     float64
 5   ins_premium     51 non-null     float64
 6   ins_losses      51 non-null     float64
 7   abbrev          51 non-null     object
dtypes: float64(7), object(1)
memory usage: 3.3+ KB

In [124]:
num_cols = [col for col in df.columns if df[col].dtype not in ["object", "category", "datetime64[ns]"]]
num_cols

['total',
 'speeding',
 'alcohol',
 'not_distracted',
 'no_previous',
 'ins_premium',
 'ins_losses']

In [105]:
num_cols=list(df.select_dtypes(include="number").columns)
num_cols

['total',
 'speeding',
 'alcohol',
 'not_distracted',
 'no_previous',
 'ins_premium',
 'ins_losses']

In [127]:
soz = {}
agg_list = ["mean","min","max","sum"]
for col in num_cols:
    soz[col] = agg_list
soz

{'total': ['mean', 'min', 'max', 'sum'],
 'speeding': ['mean', 'min', 'max', 'sum'],
 'alcohol': ['mean', 'min', 'max', 'sum'],
 'not_distracted': ['mean', 'min', 'max', 'sum'],
 'no_previous': ['mean', 'min', 'max', 'sum'],
 'ins_premium': ['mean', 'min', 'max', 'sum'],
 'ins_losses': ['mean', 'min', 'max', 'sum']}

In [129]:
{col:agg_list for col in num_cols}

{'total': ['mean', 'min', 'max', 'sum'],
 'speeding': ['mean', 'min', 'max', 'sum'],
 'alcohol': ['mean', 'min', 'max', 'sum'],
 'not_distracted': ['mean', 'min', 'max', 'sum'],
 'no_previous': ['mean', 'min', 'max', 'sum'],
 'ins_premium': ['mean', 'min', 'max', 'sum'],
 'ins_losses': ['mean', 'min', 'max', 'sum']}

In [130]:
new_dict={col:agg_list for col in num_cols}
new_dict

{'total': ['mean', 'min', 'max', 'sum'],
 'speeding': ['mean', 'min', 'max', 'sum'],
 'alcohol': ['mean', 'min', 'max', 'sum'],
 'not_distracted': ['mean', 'min', 'max', 'sum'],
 'no_previous': ['mean', 'min', 'max', 'sum'],
 'ins_premium': ['mean', 'min', 'max', 'sum'],
 'ins_losses': ['mean', 'min', 'max', 'sum']}

In [108]:
{n:col for n,col in enumerate(num_cols)}

{0: 'total',
 1: 'speeding',
 2: 'alcohol',
 3: 'not_distracted',
 4: 'no_previous',
 5: 'ins_premium',
 6: 'ins_losses'}

In [133]:
{n:col.upper() if n%2==0 else col.lower() for n,col in enumerate(num_cols)}

{0: 'TOTAL',
 1: 'speeding',
 2: 'ALCOHOL',
 3: 'not_distracted',
 4: 'NO_PREVIOUS',
 5: 'ins_premium',
 6: 'INS_LOSSES'}

In [134]:
df[num_cols].agg(new_dict)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
sum,805.300000,254.908000,249.226000,692.232000,714.249000,45234.840000,6859.150000

In [137]:
df[num_cols].agg({"total":["min","max"]})

     total
min    5.9
max   23.9